<div *ngIf="currQuestion" class="row mt-5">
    <div class="col-6">
      Student's answer:
      <div class="edgar-overlap border">
        <code-mirror
          [questionType]="currQuestion.type"
          [initialCode]="this.currQuestion.studentAnswerText ? this.currQuestion.studentAnswerText : ''"
          [cmSkin]="cmSkin"
          [readOnly]="true"
        >
        </code-mirror>
        <div *ngIf="currQuestion.manualComment" class="edgar-comment-overlap">
          <button
            class="btn btn-warning col-1 edgar-overlap-btn-w d-flex comment-popover"
            data-toggle="popover"
          >
            <div [innerHTML]="currQuestion.graderImage"></div>
            <h3><i class="fa fa-comment-dots"></i></h3>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="currQuestion.correctAnswerDiagram" class="col-6">
      Correct answer:
      <code-mirror
        [questionType]="currQuestion.type"
        [initialCode]="currQuestion.correctAnswerDiagram"
        [cmSkin]="cmSkin"
        [readOnly]="true"
      >
      </code-mirror>
    </div>
    <div #mermaidOutputStudent class="col-6 preview">student's diagram</div>
    <div *ngIf="currQuestion.correctAnswerDiagram" #mermaidOutputCorrect class="col-6 preview">student's diagram</div>
    <h3 *ngIf="!currQuestion.correctAnswerDiagram" class="w-100 d-flex justify-content-center mt-3">This exam does not have "show solutions" option enabled.</h3>
  </div>
