.lds-ripple {
  display: inline-block;
  position: relative;
  width: 360px;
  height: 360px;
}

.lds-ripple div {
  position: absolute;
  border: 20px solid blue;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 180px;
    left: 180px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 360px;
    height: 360px;
    opacity: 0;
  }
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid black;
  background: green;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    width: 80px;
    height: 80px;
    background: rgb(249, 255, 240);
  }

  100% {
    transform: rotateY(3600deg);
  }
}
