<div *ngIf="!_examLoaded">
  <h1>
    <i class="fa fa-2 fa-spinner fa-spin"></i>Please wait, loading your exam...
  </h1>
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>
<div *ngIf="_examLoaded && !_intialQuestionLoaded">
  <h2>
    <i class="fa fa-2 fa-spinner fa-spin"></i>Exam loaded, loading questions...
  </h2>
  <div class="lds-circle">
    <div></div>
  </div>
</div>

<div *ngIf="_examLoaded && _intialQuestionLoaded">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<ng-template #template>
  <router-outlet> </router-outlet>
</ng-template>
