
    <form method="GET">
    <div class="row d-flex justify-content-between align-items-end">
      <h3 class="ml-3">Access log for <%=username%></h3>
      <div class="d-flex align-items-end">
        <div class="form-group">
            <label for="numOfLogs">Number of logs</label>
            <input type="number" min="1" class="form-control" id="rowLimit" name="rowLimit"
                value="<%= rowLimit %>">
        </div>

        <div class="ml-5">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" value="<%= date %>">
            </div>
        </div>
        <div class="ml-5 mr-5">
          <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
      </div>
    </div>
    </form>

<hr>
<%  locals.tabledata = logs; %>
<%- include(`${locals.partialsRoot}/table`) %>


