<div id="jsonView">
  please wait...
</div>

<script src="https://cdn.jsdelivr.net/npm/w-jsonview-tree@1.0.29/dist/w-jsonview-tree.umd.js"></script>
<script>
  const jv=window['w-jsonview-tree'];
  const sessionData = <%- JSON.stringify(sessionData) %>;
  jv(sessionData, document.querySelector('#jsonView'), {expanded:true});
</script>
