<div class="container-fluid"> 
    <div class="row" >
        <form id="frmParse" action="/admin/student/parse" method="POST" >
<%if (locals.usertxt) {%>
<textarea id="txtStudents"  name="students">
<%-usertxt%>
</textarea>
<%} else {%>
<textarea id="txtStudents"  name="students">
# Provide a list of students with the following columns:
# ALT_ID(tab)alt_id2(tab)FIRST NAME(tab)LAST NAME(tab)email(tab)group_name(tab)auth_provider
# eg
# username@domain(tab)0012345678(tab)Edgar(tab)Codd(tab)edgar@mail.com(tab)G01(tab)google
# someotheruser@domain(tab)(tab)John(tab)Doe(tab)(tab)(tab)

# Note that:
#   * alt_id is actually USERNAME, obviously depends on what auth provider are you using
#   * alt_id2 is typically another identiciator used by the higher education institution, some kind of academic id 
#   * alt_id, and alt_id2 if provided, MUST BE UNIQUE
#   * auth_provider is authenication provider, eg saml.aai, google, facebook, twitter, ...
#   * uppercase columns are obligatory,
#   * fields are tab-separated,
#   * rows are (CR)LF separated
#   * comments start with #, so you can leave or delete these instructions"</textarea>

<%}%>
            <button class="btn btn btn-outline-success float-right" type="submit">Parse</button>
        </form>
    </div>
</div>
<%if (locals.parsedlist) {%>
<div class="container-fluid">
    <%if (locals.parsemsg) {%>
        <div class="row edgar-code" >
            <%-parsemsg%>
        </div>
    <%}%>

    <div>
        <form id="frmParse" action="/admin/student/commit" method="POST" >
            <div class="row">
                <div class="col-6"><h3>Parsed entries (cnt = <%=parsedlist.length%>):</h3></div>
                <div class="col-6 pull-right">
                    <button class="btn btn-outline-success float-right" name="op" value="insert" type="submit">Insert new</button>
                    <button class="btn btn-outline-success float-right" name="op" value="update" type="submit" disabled>Update existing</button>
                    <button class="btn btn-outline-success float-right" name="op" value="upsert" type="submit" disabled>Insert & Update</button>
                </div>
            </div>
            <%for (i =0 ; i < parsedlist.length; ++i) {%>
                <div class="row" >
                    <div class="col-2">
                        <fieldset class="form-group">
                            <label for="alt_id">alt_id</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][alt_id]" value="<%-parsedlist[i].alt_id%>">
                        </fieldset>
                    </div>
                    <div class="col-1">
                        <fieldset class="form-group">
                            <label for="alt_id2">alt_id2</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][alt_id2]" value="<%-parsedlist[i].alt_id2%>">
                        </fieldset>
                    </div>
                    <div class="col-2">
                        <fieldset class="form-group">
                            <label for="first_name">first_name</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][first_name]" value="<%-parsedlist[i].first_name%>">
                        </fieldset>
                    </div>
                    <div class="col-3">
                        <fieldset class="form-group">
                            <label for="last_name">last_name</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][last_name]" value="<%-parsedlist[i].last_name%>">
                        </fieldset>
                    </div>
                    <div class="col-2">
                        <fieldset class="form-group">
                            <label for="email">email</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][email]" value="<%-parsedlist[i].email%>">
                        </fieldset>
                    </div>
                    <div class="col-1">
                        <fieldset class="form-group">
                            <label for="group_name">group_name</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][group_name]" value="<%-parsedlist[i].group_name%>">
                        </fieldset>
                    </div>
                    <div class="col-1">
                        <fieldset class="form-group">
                            <label for="provider">provider</label>
                            <input type="text" class="form-control" name="rows[<%-i%>][provider]" value="<%-parsedlist[i].provider%>">
                        </fieldset>
                    </div>
                </div>
            <%}%>

        </form>
    </div>
</div>
<%}%>
