<script src = "/libs/codemirror/mode/sql/sql.js"> </script> 
<script>
    $("#txtStudents").html(
        $("#txtStudents").html().replace(/\(tab\)/g, "\t")
    );
    $("#txtStudents").each(function(idx, elem) {
        CodeMirror.fromTextArea(elem, {
            lineNumbers: true,
            tabSize: 4,
            indentWithTabs: true,
            mode: "text/x-pgsql",
            theme: "<%=session.cmSkin%>",
            readOnly: false
        });
    });
</script>