<div class="container-fluid">
    <% for (var i = 0; i < qs.length; ++i) { %>
      <div class="row" style="border-bottom: 2px dashed gray; max-width: 1200px; margin-left: auto; margin-right: auto;">
            <br>
            <div class="row">
              <div class="col-sm-1">
                <h2>
                  <div class="aii-answer-badge badge badge-light">
                    <%= (i+1) %>.
                  </div>
                  <span style = "color:white; font-size: 12px;"><%= qs[i].id %>: <%= qs[i].correct_answers_permutation %></span>
                </h2>
              </div>
              <div class="col-sm-11">
                <div class="row">
                  <%- qs[i].html %>
                </div>
                <% for (var j = 0; j < qs[i].abc_html.length; ++j) { %>
                  <div class="row" style="border: 1px solid gray;  max-width: 95%;">
                    <div class="col-sm-1">
                      <h3>
                        <div class="aii-answer-badge badge badge-light">
                            <%= qs[i].abc_html[j].ordinal %>
                        </div>
                      </h3>
                    </div>
                    <div class="col-sm-11"><%- qs[i].abc_html[j].aHtml %></div>
                  </div>
                <% } %>
              </div>
            </div>
            </br>
      </div>
    <% } %>
</div>
