<div *ngIf="result && result.score && result.score.hint && !isKidsMode()">
  <hr />
  <p>
    Hint (kids mode is off <i class="fas fa-user-ninja"></i>):
    <span [innerHTML]="formatHint()"></span>
  </p>
  <hr />
</div>
<div *ngIf="isRunning()" class="text-center">
  <div class="text-center">
    <h2>
      Please wait, your answers (and correct answers) are being reevaluated.
    </h2>
  </div>
  <img
    src="/assets/images/waiting.gif"
    alt="Patience, grasshoper"
    style="width: 480px; height: 317px; left: 0px; top: 0px"
  />
</div>
<div [innerHTML]="getHtml()" class="custom"></div>
