<div class="edgar-ticket-button d-flex flex-column" *ngIf="showComponent()">
  <button
    class="btn btn-dark"
    type="button"
    [disabled]="isTicketPending()"
    (click)="raiseTicket()"
  >
    <span style="font-size: 1.5rem" [style.color]="getTicketColor()">
      <i class="fas fa-tools"></i>
    </span>
    <span
      *ngIf="isTicketPending()"
      style="font-size: 1.5rem"
      [style.color]="getTicketColor()"
    >
      <i class="fas fa-hourglass-half"></i>
    </span>
  </button>
  <button
    *ngIf="showPopover()"
    class="btn ticket-popover edgar-ticket-button"
    data-toggle="popover"
    title="Ticket conversation"
  >
    <span style="font-size: 2rem; color: green">
      <i class="fa fa-comment-dots"></i>
    </span>
  </button>
</div>
