<div class="container-fluid">
  <form method="post" action="/token/generate">
    <div class="row text-center">
      <%if (locals.pin) { %>
          <div class="row text-center">
            Your current PIN is: <%= locals.pin %>
          </div>
          <div class="row text-center">
            <button class="btn btn-outline-success btn-save float-right" type="submit" name="save" value="save">
              Regenerate
            </button>
          </div>
      <%} else {%>
        <div class="row text-center">
          You don't have a PIN number
        </div>
        <div class="row text-center">
          <button class="btn btn-outline-success btn-save float-right" type="submit" name="save" value="save">
            Generate
          </button>
        </div>
      <%}%>
    </div>
  </form>
</div>
