<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.11.0/dist/sweetalert2.all.min.js" integrity="sha256-qrKms6MTJE3ehA2FCQ0J8uPhMWt4Wy1INTI6SlnKecQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.55.0/lib/codemirror.min.js" crossorigin="anonymous"></script>
<script src="/libs/codemirror/mode/sql/sql.js"></script>
<script src="/libs/codemirror/mode/clike/clike.js"></script>
<!-- does not need mermaid, used only in Angular SPA where it is baked in -->
<script src="/js/app.js"></script>
