<!-- <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title col-12" id="ConfirmModalTitle">Please confirm</h5>
      </div>
      <div class="modal-body" id="ConfirmModalBody">
      </div>
      <div class="modal-footer">
        <button  id="edgar-confirm-yes" type="button" class="btn btn-primary">Yes</button>
        <button  id="edgar-confirm-no" type="button" class="btn btn-light" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title col-12" id="InfoModalTitle">Heads-up...</h5>
      </div>
      <div class="modal-body" id="InfoModalBody">
      </div>
      <div class="modal-footer">
        <button  id="edgar-info-ok" type="button" class="btn btn-light" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="InputModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title col-12" id="InputModalTitle">Please, input a value</h5>
      </div>
      <div class="modal-body" id="InputModalBody">
        <div class="row">
          <p id="InputModalBodyText"></p>
          <div class="col-10 offset-1">
            <fieldset class="form-group">
              <label id="valuetitle" for="title">Value</label>
                  <input type="text" class="form-control" id="value" name="value" placeholder="Please, input value" onkeydown = "if (event.keyCode == 13)
                        document.getElementById('edgar-input-ok').click()">
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  id="edgar-input-ok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        <button  id="edgar-input-cancel" type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> -->