<select id="<%-combodata.id%>" <%-combodata.name ? 'name="' + combodata.name + '"': '' %> 
  data-placeholder="<%-combodata.placeholder%>" class="form-control" multiple 
  style="<%-combodata.style%>>
  <% combodata.list.forEach(function(item) {  %>
    <option <%- combodata.selected.includes(item.value) ? "selected" : "" %> value="<%-item.value%>"><%-item.name%></option>
  <%  }); %>
</select>
