<div class="container-fluid">
    <div class="card card-body">
        <h4 class="card-title">Nodes (<%-nodes.length%>)</h4>
        <%for (i = 0; i < nodes.length; ++i) {%>
            <div class="row">
            <form class="form-inline" action="/test/def/testpart/addnode" method="POST">
                <div class="form-group  mx-3 mb-2">
                    <input type="text" class="form-control" value="<%-nodes[i].id%>" disabled>
                    <input type="hidden"  id="id_node<%-i%>" name="id_node" value="<%-nodes[i].id%>">
                </div>
                <div class="form-group mx-3 mb-2">
                    <input type="text" class="form-control" id="node_type<%-i%>" name="node_type<%-i%>" value="<%-nodes[i].type_name%>" disabled>
                </div>
                <div class="form-group mx-3 mb-2">
                    <input type="text" class="form-control" id="node_name<%-i%>" name="node_name<%-i%>" value="<%-nodes[i].node_name%>" disabled>
                </div>
                <div class="form-group mx-3 mb-2">
                        <button type="submit" class="btn btn-success btn-outline">Add</button>
                </div>
            </form>
            </div>
        <%}%>
    </div>
</div>