<div class="container-fluid">
  <div class="card card-body">
    <div class="row">
      <div class="col-11">
        <h4 class="card-title">PA#2 Group Exam questions (ordinal, question, text, type, grading model)</h4>
      </div>
    </div>
    <!-- <div class="d-flex w-100">
      <div>
        <label>#</label>
      </div>
      <div>
        <label>Id</label>
      </div>
      <div>
        <label>Text</label>
      </div>
      <div>
        <label>Type</label>
      </div>
      <div>
        <label>Grading model</label>
      </div>
    </div> -->
    <%for (i = 0; i < peer_test_group_question.length; ++i, ++questionsIndex) {%>
      <div class="d-flex w-100">
        <div class="ml-1">
          <input type="number" step="1" min="1" class="form-control"  style="width: 3.75rem;"
            name="peer_test_group_question[<%=questionsIndex%>].[ordinal]"
            value="<%=peer_test_group_question[i].ordinal%>">
        </div>
        <div class="ml-1">
          <a class="btn btn-outline-success" target="_blank"
            href="/question/edit/<%-peer_test_group_question[i].id_question%>"><%-peer_test_group_question[i].id_question%></a>
          <input type="hidden" name="peer_test_group_question[<%-questionsIndex%>].[id]" value="<%-peer_test_group_question[i].id%>">
        </div>
        <div class="ml-1 flex-grow-1">
          <input disabled type="text" class="form-control" value="<%-peer_test_group_question[i].question_text%>">
        </div>
        <div class="ml-1">
          <input disabled type="text" class="form-control" value="<%-peer_test_group_question[i].type_name%>">
        </div>
        <div class="ml-1">
          <% locals.combodata = {id: "peer_test_group_question_id_g_model" + questionsIndex, list:grading_model, name:"peer_test_group_question["+ questionsIndex +"].[id_grading_model]",
          selected: peer_test_group_question[i].id_grading_model}; %>
            <%- include(`${locals.partialsRoot}/combo`) %>
        </div>
        <div class="ml-1">
          <fieldset class="form-group">
            <button type="button" name="peer_test_group_question[<%-[i]%>].[delete]" value="<%-peer_test_group_question[i].id%>" class="btn btn-danger btn-outline form-control">Delete</button>
          </fieldset>
        </div>
      </div>
      <%}%>
  </div>
</div>
