<div class="container-fluid">
    <div class="card card-body">
        <h4 class="card-title">Questions (<%-questions.length%>)</h4>
        <%for (i = 0; i < questions.length; ++i) {%>
        <div class="row">
            <form class="form-inline" action="/test/def/testquestion/addquestion" method="POST">
              <div class="form-group mx-3 mb-2">
                    <input type="text" class="form-control" value="<%=questions[i].id%>" disabled>
                    <input type="hidden"  id="id_question<%-i%>" name="id_question" value="<%-questions[i].id%>">
                </div>
              <div class="form-group mx-3 mb-2">
                    <input type="text" class="form-control" id="question_text<%-i%>" name="question_text<%-i%>" 
                    value="<%=questions[i].question_text%>" disabled>
                </div>
              <div class="form-group mx-3 mb-2">
                    <input type="text" class="form-control" id="type_name<%-i%>" name="type_name<%-i%>" value="<%-questions[i].type_name%>" disabled>
                </div>
              <div class="form-group mx-3 mb-2">
                    <button type="submit" class="btn btn-success btn-outline">Add</button>
                </div>
            </form>
        </div>
        <%}%>
</div>
