<% var rownum = 1;
  var headers = [];
  var headerStyles = [];
  var rawcols = {};
  var functions = {};  
  var tabledata = locals.tabledata;
  tabledata.headers.forEach(function(v) {
    for (var prop in v) {
      if (prop !== '__raw' && prop != '__formatter' && prop != '__style') {
        headers.push(prop);
        if (v.__style) headerStyles.push(`style="${v.__style}"`); else headerStyles.push(``);
        if (v.__raw) rawcols[prop] = true;
        if (v.__formatter) functions[prop] = v.__formatter;
        break;
      }
    }
    
  }); 
%>
<div class="table-responsive">
  <table class="<%- (tabledata.class) ? tabledata.class :'table table-sm table-hover edgar'%>">
      <thead>
        <tr>
          <th>#</th>
          <% tabledata.leftButtons && tabledata.leftButtons.forEach(function(btn) { %>
            <th><%= btn.label %></th>
          <%} ); %>
          <% tabledata.headers.forEach(function(v, i) { %>
            <th <%- headerStyles[i] %>><%= v[headers[i]] %> </th>
          <% }); %>
          <% tabledata.buttons && tabledata.buttons.forEach(function(btn) { %>
            <th><%= btn.label %></th>
          <%} ); %>
          <% tabledata.links && tabledata.links.forEach(function(link) { %>
            <th><%= link.label %></th>
          <%} ); %>
          <% tabledata.rawhtml && tabledata.rawhtml.forEach(function(elem) { %>
            <th><%= elem.label %></th>
          <%} ); %>
      </tr>
  </thead>
  <tbody>
        <% if (tabledata.rows){ %>
        <% tabledata.rows.forEach(function(row) { %>
            <tr>
                <th scope="row"><%= rownum++ %></th>
                <% tabledata.leftButtons && tabledata.leftButtons.forEach(function(btn) { %>
                    <td><form action="<%= btn.action(row) %>" method="<%= (btn.method || 'POST') %>">
                        <button 
                          <% btn.props && Object.keys(btn.props).forEach(function(key) { %>
                          <%- key %> = "<%-btn.props[key]%>"
                          <% }); %>
                          <% btn.fprops && Object.keys(btn.fprops).forEach(function(key) { %>
                          <%- key %> = "<%-btn.fprops[key](row) %>"
                          <% }); %>
                        class="<%= btn.class ? btn.class(row) :  'btn btn-outline-success' %>" type="submit"><%- btn.flabel ? btn.flabel(row) : btn.label %></button>
                    </form></td>
                <% }); %>
                <% headers.forEach(function(header) { %>
                   <% if (rawcols[header] && functions[header]) {%>
                      <td> <%- functions[header](row) %> </td>
                   <% } else if (rawcols[header]) {%>
                      <td> <%- row[header] %> </td>
                   <% } else if (functions[header]) {%>
                      <td> <%= functions[header](row) %> </td>
                   <% } else {%>
                      <td> <%= row[header] %> </td>
                   <% }%>
                <% }); %>
                <% tabledata.buttons && tabledata.buttons.forEach(function(btn) { %>
                    <td><form action="<%= btn.action(row) %>" method="<%= (btn.method || 'POST') %>">
                        <button 
                          <% btn.props && Object.keys(btn.props).forEach(function(key) { %>
                          <%- key %> = "<%-btn.props[key]%>"
                          <% }); %>
                          <% btn.fprops && Object.keys(btn.fprops).forEach(function(key) { %>
                          <%- key %> = "<%-btn.fprops[key](row) %>"
                          <% }); %>
                        class="<%= btn.class ? btn.class(row) :  'btn btn-outline-success' %>" type="submit"><%- btn.flabel ? btn.flabel(row) : btn.label %></button>
                    </form></td>
                <% }); %>
                <% tabledata.links && tabledata.links.forEach(function(link) { %>
                    <td>
                    <a href="<%= link.href(row) %>" class="<%= link.class ? link.class(row) : 'btn btn-outline-success'%>" role="button" target="<%=link.target%>">
                      <% if (link.__raw) {%>
                        <%- link.__formatter ? link.__formatter(row) : link.label%></a>
                     <% } else {%>
                        <%= link.__formatter ? link.__formatter(row) : link.label%></a>
                     <% }%>
                      
                    </td>
                <% }); %>
                <% tabledata.rawhtml && tabledata.rawhtml.forEach(function(elem) { %>
                    <td>
                      <%- elem.__html(row) %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>
        <% } %>
</tbody>
</table>
</div>

