<div class="container-fluid">
  <div class="card card-body">
    <div class="row">
      <div class="col-11">
        <h4 class="card-title">Exam parts</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <label>#</label>
      </div>
      <div class="col-1">
        <label>Ordinal</label>
      </div>
      <div class="col-5">
        <label>Node type and name</label>
      </div>
      <div class="col-1">
        <label>Min questions</label>
      </div>
      <div class="col-1">
        <label>Max questions</label>
      </div>
      <div class="col-1">
        <label>Pass percentage</label>
      </div>
      <div class="col-1">
        <label>Grading model</label>
      </div>
    </div>
    <%for (i = 0; i < test_part.length; ++i) {%>
      <div class="row">
        <div class="col-1">
          <input type="text" class="form-control" id="test_parts[<%-i%>].[ordinal]" value="<%-(1+i)%>" disabled>
        </div>
        <div class="col-1">
          <input type="text" class="form-control" id="test_parts[<%-i%>].[ordinal]" name="test_parts[<%-i%>].[ordinal]" value="<%-test_part[i].ordinal%>">
          <input type="hidden" id="test_parts[<%-i%>].[id]" value="<%-test_part[i].id%>" disabled>
          <input type="hidden" name="test_parts[<%-i%>].[id_test_part]" value="<%-test_part[i].id%>">
          <input type="hidden" name="test_parts[<%-i%>].[id_test]" value="<%-test_part[i].id_test%>">
        </div>
        <div class="col-5 d-flex">
          <input disabled type="text" class="form-control" id="test_parts[<%-i%>].[node_type_name]" value="<%-test_part[i].type_name + '(' + test_part[i].cnt_active_qs +  ' qs): ' + test_part[i].node_name%>">
          <a style="margin-left: -1rem;" target="_blank" href="/question/search?nodes=<%-test_part[i].id_node%>"><i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="col-1">
          <input type="number" min="0" max="1000" class="form-control" id="test_parts[<%-i%>].[min_questions]" name="test_parts[<%-i%>].[min_questions]" value="<%-test_part[i].min_questions%>">
        </div>
        <div class="col-1">
          <input type="number" min="0" max="1000" class="form-control" id="test_parts[<%-i%>].[max_questions]" name="test_parts[<%-i%>].[max_questions]" value="<%-test_part[i].max_questions%>">
        </div>
        <div class="col-1">
          <input type="number" min="0" max="1" step="0.01" class="form-control" id="test_parts[<%-i%>].[pass_percentage]" name="test_parts[<%-i%>].[pass_percentage]" value="<%-test_part[i].pass_percentage%>">
        </div>
        <div class="col-1">
          <% locals.combodata = {id: "test_parts["+i+"].[id_grading_model]", list:grading_model, name:"test_parts["+i+"].[id_grading_model]",  selected: test_part[i].id_grading_model}; %>
            <%- include(`${locals.partialsRoot}/combo`) %>
        </div>
        <div class="col-1">
          <fieldset class="form-group">
            <button type="button" name="test_part[<%-[i]%>].[delete]" value="<%-test_part[i].id%>" class="btn btn-danger btn-outline form-control">Delete</button>
          </fieldset>
        </div>
      </div>
      <%}%>
  </div>
</div>
