<ng-container class="container-fluid" *ngIf="_examLoaded && _currQuestion">
  <header-review
    [_isReview]="true"
    [examReview]="_examReviewService.getExam()"
    (showScoreboard)="onShowScoreboard()"
  >
  </header-review>
  <div class="container-fluid pl-5 pr-5">
    <div class="d-flex">
      <h1 class="mr-5">{{ _currQuestion.ordinal }}.</h1>
      <grading-model-label
        [gradingModelName]="_currQuestion.gradingModelName"
      ></grading-model-label>
    </div>
    <ng-container
      *ngIf="
        _examLoaded &&
        _examReviewService.getExam().usesTicketing &&
        _currQuestion &&
        _currQuestion.ordinal
      "
    >
      <ticket [ordinal]="_currQuestion.ordinal"></ticket>
    </ng-container>

    <question-review-content
      [currQuestion]="_currQuestion"
      [cmSkin]="_examReviewService.getExam().cmSkin"
    >
    </question-review-content>
  </div>
</ng-container>
