<h2>Feedback</h2>
<div class="container-fluid">
    <form method="GET">
        <fieldset class="card card-body">
            <legend>Filters</legend>
            <div class="row">
                <div class="col-4">
                    <label for="exercises">Exercises</label>
                    <%  locals.combodata = {id: "exercises", class: "chosen-select", list: exercises, name:"exerciseId[]", selected: selectedExercises, placeholder: "Filter by exercises...", attributes :"multiple"} %>
                        <%- include(`${locals.partialsRoot}/combo`) %>
                </div>
                <div class="col-4">
                    <label for="tutorials">Tutorials</label>
                    <%  locals.combodata = {id: "tutorials", class: "chosen-select", list: tutorials, name: "tutorialId[]", selected: selectedTutorials, placeholder: "Filter by tutorials...", attributes: "multiple"} %>
                        <%- include(`${locals.partialsRoot}/combo`) %>
                </div>
                <div class="col-4">
                    <label for="tutorialSteps">Tutorial steps</label>
                    <%  locals.combodata = {id: "tutorialSteps", class: "chosen-select", list: tutorialSteps, name: "tutorialStepId[]", selected: selectedTutorialSteps, placeholder: "Filter by tutorial steps...", attributes: "multiple"} %>
                        <%- include(`${locals.partialsRoot}/combo`) %>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="students">Students</label>
                    <%  locals.combodata = {id: "students", class: "chosen-select", list: students, name:"studentId[]", selected: selectedStudents, placeholder: "Filter by students...", attributes :"multiple"} %>
                        <%- include(`${locals.partialsRoot}/combo`) %>
                </div>
                <div class="col-4">
                    <label for="classGroups">Class groups</label>
                    <%  locals.combodata = {id: "classGroups", class: "chosen-select", list: classGroups, name:"classGroup[]", selected: selectedClassGroups, placeholder: "Filter by class group...", attributes :"multiple"} %>
                        <%- include(`${locals.partialsRoot}/combo`) %>
                </div>

                <div class="col-4 ">
                    <label>&nbsp;</label>
                    <button id="btnFilter" type="submit" class="form-control btn btn-success btn-outline">Filter</button>
                </div>
            </div>
        </fieldset>
    </form>
    <% if (feedbacks.rows) { %>
        <h4>Found
            <%- feedbacks.rows.length %> feedbacks</h4>
        <%  locals.tabledata = feedbacks; %>
            <%- include(`${locals.partialsRoot}/table`) %>
                <% } %>
</div>