.qn {
  color: #36363c;
  font-size: 1.5rem;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 3px;
  border-radius: 0.25rem;
}

.qn-tag {
  color: #36363c;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 2px;
  border-radius: 0.25rem;
  border: 1px lightblue dashed;
  white-space: nowrap;
  margin-left: 2rem;
}

.show-cursor {
  cursor: pointer;
}

.selected {
  border: black solid 3px;
  background-color: aliceblue;
}
