<div
  class="container-fluid sticky-header bg-light d-flex justify-content-between align-items-center"
>
  <div style="position: absolute; top: 5px; left: 260px">
    <small>{{ examReview.title }} ({{ examReview.idTestInstance }})</small>
  </div>
  <div class="d-flex align-items-center" style="min-width: 250px">
    <div>
      <img
        *ngIf="examReview.scorePerc == 1.0"
        height="75"
        src="{{ getDevUrlStub() }}/images/edgar.cool.75.png"
        title="It's lonely at the top.."
      />
      <img
        *ngIf="examReview.scorePerc != 1.0"
        height="75"
        src="{{ getDevUrlStub() }}/images/edgar75.png"
        title="Bcs middle-aged men with moustaches make great logos..."
      />
    </div>
    <div class="d-flex flex-column ml-5" style="flex-shrink: 0">
      <div>
        <span title="Correct" class="badge badge-success border border-dark">
          <h4>{{ examReview.correctNo }}</h4>
        </span>
        <span
          title="Unanswered"
          class="badge badge-secondary border border-dark ml-1"
        >
          <h4>{{ examReview.unansweredNo }}</h4>
        </span>
        <span
          title="Partial"
          class="badge badge-warning border border-dark ml-1"
        >
          <h4>{{ examReview.partialNo }}</h4>
        </span>
        <span
          title="Incorrect"
          class="badge badge-danger border border-dark ml-1"
        >
          <h4>{{ examReview.incorrectNo }}</h4>
        </span>
      </div>
      <div class="mt-3">
        <span class="bg-light text-primary">
          Score: {{ examReview.score }} (={{
            (examReview.scorePerc * 100).toFixed(1)
          }}%)
        </span>
      </div>
    </div>
  </div>

  <div
    *ngIf="!examReview.isPA2()"
    class="container-fluid d-flex flex-wrap justify-content-center"
  >
    <div *ngFor="let a of examReview.answersOutcome; let i = index">
      <a
        class="qn-tag"
        [class.selected]="isSelected(i)"
        (click)="navigateTo(i + 1)"
      >
        <span class="badge">{{ i + 1 }}</span>
        <i
          *ngIf="a === 'correct'"
          class="far fa-smile text-green"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="a === 'incorrect'"
          class="far fa-frown text-red"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="a === 'unanswered'"
          class="far fa-meh text-gray"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="a === 'partial'"
          class="fas fa-flushed text-orange"
          aria-hidden="true"
        ></i>
      </a>
    </div>
  </div>
  <div
    *ngIf="examReview.isPA2()"
    class="container-fluid d-flex justify-content-around"
  >
    <h4>
      <a [href]="PAAssignementUrl" target="_blank">
        Peer assessment assignment <i class="file-icon fa fa-file"></i
      ></a>
    </h4>
  </div>
  <div *ngIf="examReview" class="d-flex align-items-center">
    <div class="profilepic">
      <img
        height="75"
        class="rounded-circle"
        src="{{ getDevUrlStub() + examReview.imgSrc }}"
      />
    </div>

    <div>
      <div>{{ examReview.student }}</div>
      <div>{{ examReview.altId }} {{ examReview.altId2 }}</div>
    </div>

    <div class="ml-4 d-flex flex-column">
      <clock
        [isReview]="_isReview"
        [seconds]="getSeconds()"
        [prolonged]="examReview.prolonged"
      ></clock>
      <button class="btn btn-primary" type="submit" (click)="done()">
        Done
      </button>
    </div>
  </div>
</div>
