<hr />
<div class="row">
  <div class="col-sm-12">
    <h2>
      <a href="{{ currQuestion.uploadedFiles }}" target="_blank" download>
        <i class="file-icon fa fa-file"></i> Uploaded files
      </a>
    </h2>
  </div>
</div>
<hr />
