<div
  class="container-fluid sticky-header bg-light d-flex justify-content-between align-items-center"
>
  <div style="position: absolute; top: 5px; left: 100px">
    <small>{{ _exam.title }} ({{ _exam.idTestInstance }})</small>
  </div>
  <div style="position: absolute; top: 5px; left: 5px">
    <button
      *ngIf="!_exam.isPA2()"
      class="btn btn-light btn-outline-dark"
      title="Toggle layout"
      (click)="onLayoutHorizontalChanged()"
    >
      <i
        class="fas fa-grip-{{ _layoutHorizontal ? 'vertical' : 'horizontal' }}"
      ></i>
    </button>
    <div
      *ngIf="_exam.runStats && _exam.runStats.length && _currQuestion"
      class="mt-3 ml-1"
    >
      <h5>
        Runs:
        <span
          [class.text-warning]="
            _currQuestion.runs >= 15 && _currQuestion.runs < 25
          "
          [class.text-danger]="_currQuestion.runs >= 25"
          title="The number of times this question was run."
        >
          {{ _currQuestion.runs ? _currQuestion.runs : 0 }}
        </span>
        /
        <span
          [class.text-warning]="
            _exam.runStats[0].tcnt >= 15 * _exam.noOfQuestions &&
            _exam.runStats[0].tcnt < 25 * exam.noOfQuestions
          "
          [class.text-danger]="
            _exam.runStats[0].tcnt >= 25 * _exam.noOfQuestions
          "
          title="Total number of times (all) questions have been run."
        >
          {{ _exam.runStats[0].tcnt }}
        </span>
      </h5>
    </div>
  </div>

  <div
    *ngIf="
      _exam.currAnswers &&
      _exam.currAnswers.length > 0 &&
      _exam &&
      !_exam.isPA2() &&
      _currQuestion
    "
    class="container-fluid d-flex justify-content-around ml-5"
  >
    <question-navigation> </question-navigation>
  </div>
  <div
    *ngIf="
      _exam.currAnswers &&
      _exam.currAnswers.length > 0 &&
      _exam &&
      _exam.isPA2()
    "
    class="container-fluid d-flex justify-content-around"
  >
    <h4>
      <a [href]="PAAssignementUrl" target="_blank">
        Peer assessment assignment <i class="file-icon fa fa-file"></i>
      </a>
    </h4>
  </div>

  <div *ngIf="_exam && _exam.is_competition" class="col-1 text-center">
    <button
      class="btn btn-outline-info"
      type="submit"
      (click)="onShowScoreboard()"
    >
      Scoreboard
    </button>
  </div>
  <div *ngIf="_exam" class="d-flex align-items-center">
    <div class="profilepic">
      <img height="75" class="rounded-circle" src="{{ _exam.imgSrc }}" />
    </div>
    <div>
      <div>{{ _exam.student }}</div>
      <div>{{ _exam.alt_id }} {{ _exam.alt_id2 }}</div>
    </div>
    <div class="ml-4 d-flex flex-column">
      <clock
        [isReview]="isReview"
        [seconds]="_examService.getSecondsLeft()"
        [prolonged]="_exam.prolonged"
      ></clock>
      <a
        *ngIf="_exam.currAnswers && _exam.currAnswers.length > 0"
        class="btn btn-primary"
        (click)="navigateToSubmit()"
      >
        Submit
      </a>
    </div>
  </div>
</div>
