<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        Who are you anyway?
    </title>
    <style>
        <%- include(`${locals.partialsRoot}/_style`) %>
     </style>
     <%- include(`${locals.partialsRoot}/_public_head`) %>
     <link rel="stylesheet" href="/css/app.css">
</head>

<body class="graybg">
    <br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="text-center">
                    <img src="/images/edgar-sitting-small.png" alt="Edgar sitting" />
                </div>
                <div class="text-center">
                    <h4>Oops, we seem to have a dual class user on our hands.</h4>
                    <h4>So, what do you want to be today?</h4>
                </div>
                <br /><br />
                <form class="form-signin" action="/auth/chooserole" method="post">
                    <input type="hidden" name="role" value="teacher">
                    <button type="submit" class="btn btn-lg btn-success btn-block" value="Teacher">
                    <i class="fas fa-user-ninja"></i>&nbsp;&nbsp;Teacher
                    </button>
                </form>
                <form class="form-signin" action="/auth/chooserole" method="post">
                    <input type="hidden" name="role" value="student">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" value="Student">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;Student
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
