<div id="snowflake-container" class="container-fluid">
    <%if (locals.isTeacher) {%>
      <div id="startedSubmittedStats" style="width:90%;  margin: auto">
        <div class="d-flex justify-content-between">
          <div>Recent exam activity (this course vs other courses (vs total - gray background bars)):</div>
          <div class="d-flex align-items-center">

            <a  href="admin/onlineusers" target="_blank">Online users (last 15 mins): </a>
            <h3 class="ml-3">
              <span class="badge badge-info">
                <%= locals.onlineUsersCount %>
              </span>
            </h3>
          </div>
        </div>
      </div>
    <%}%>
    <div class="row d-flex justify-content-center">
        <img id="img-spae" src="/images/sfae.png" alt="Speak friend and enter...">
    </div>
    <form action="/exam/run/new" method="POST">
        <div class="row justify-content-center">
            <div class="input-group mb-3" style="max-width: 500px;">
                <input id="txtExamPassword" type="text" name="password" class="form-control" placeholder="Password..." autofocus="True">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"><i class="fas fa-play-circle"></i>&nbsp;
                        <span class="d-none d-md-inline">Start exam</span>
                    </button>
                </div>
            </div>
            <% if (locals.errMessage) { %>
            <div class="alert alert-danger text-center">
                <%=  errMessage %>
            </div>
            <% }%>
        </div>
        <% if (course.is_competitive === true) { %>
        <div class="row justify-content-center">
            <div class="col-6">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        <% }%>
    </form>
    <br>
    <% if (locals.ysnp) { %>
    <video poster="/images/ysnp.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
        <source src="/videos/ysnp.webm" type="video/webm">
        <source src="/videos/ysnp.mp4" type="video/mp4">
    </video>
    <% } %>
    <% if (locals.unsubmittedTests && locals.unsubmittedTests.rows.length) { %>
        <div style="width: 90%; margin: auto;" class="mt-5">
            <h3>You have unsubmitted private exams:</h3>
            <% locals.tabledata = unsubmittedTests; locals.tabledata.class = 'table table-sm table-hover edgar no-dt'; %>
            <%- include(`${locals.partialsRoot}/table`) %>
        </div>
    <% } %>

<%  if (locals.unresolvedTickets) { %>
    <div style="width: 70%; margin: auto;" class="mt-5 pt-5">
        <details>
            <summary class="text-danger">This course has <%=unresolvedTicketsCnt%> unresolved tickets, click for details...</summary>
            <ul class="list-group">
                <%  for (let i = 0; i < locals.unresolvedTickets.length; i++) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%if (unresolvedTickets[i].type === 'exam') {%>
                        <a href="/ticket/test/<%=unresolvedTickets[i].id%>"
                            target="_blank">Exam: <%=unresolvedTickets[i].title%>
                        </a>
                        <span class="badge badge-primary badge-pill"><%= unresolvedTickets[i].cnt %></span>
                    <%} else {%>
                        <a href="/tutorial/ticket/tutorial/<%=unresolvedTickets[i].id%>"
                            target="_blank">Tutorial: <%=unresolvedTickets[i].title%>
                        </a>
                        <span class="badge badge-info badge-pill"><%= unresolvedTickets[i].cnt %></span>
                    <%}%>
                </li>
                <%  } %>
            </ul>
        </details>
    </div>
<%  } %>

<%  if (locals.upcomingExams) { %>
    <%  locals.tabledata = upcomingExams; %>
    <div style="width: 70%; margin: auto;" class="mt-5 pt-5">
        <h3>Upcoming non-global exams from all courses (within a week):</h3>
        <%- include(`${locals.partialsRoot}/table`) %>
    </div>

<%  } %>

<%  if (locals.publicExams && locals.publicExams.rows.length > 0) { %>
  <div style="width: 90%; margin: auto; border: 1px solid #BBBBBB; border-radius: 5px;" class="mt-5 p-3">
    <div class="row d-flex justify-content-between p-3">
      <h3>Public exams:</h3>
      <div>
        <a data-toggle="collapse" href="#collapsePublicExams" role="button" aria-expanded="false" aria-controls="collapsePublicExams">
          Toggle public exams
        </a>
      </div>
    </div>
    <div class="collapse show" id="collapsePublicExams">
      <%  if (locals.publicExams.rows.filter(x => !!x.category).length == 0) { %>
        <%  locals.tabledata = publicExams; %>
        <%- include(`${locals.partialsRoot}/table`) %>
      <%  } else { %>
              <%   const categories = [...new Set(locals.publicExams.rows.filter(x => !!x.category).map(x => x.category))]; %>
        <dl>
          <%   for (let i = 0; i < categories.length; i++) { %>
            <dt><h4><%=categories[i]%></h4></dt>
            <dd>
              <%  locals.tabledata = { ...publicExams, rows: publicExams.rows.filter(x => x.category === categories[i])};  %>
              <%- include(`${locals.partialsRoot}/table`) %>
            </dd>
            <% } %>
            <% const misc = locals.publicExams.rows.filter(x => !x.category); %>
            <% if (misc && misc.length) { %>
              <dt><h4>Other...</h4></dt>
              <dd>
                <%  locals.tabledata = { ...publicExams, rows: misc};  %>
                <%- include(`${locals.partialsRoot}/table`) %>
              </dd>
            <% } %>
        </dl>
        <%  } %>
    </div>
  </div>
<%  } %>

<%  if (locals.tutorials && locals.tutorials.rows.length > 0) { %>
    <%  locals.tabledata = tutorials; %>
    <div style="width: 90%; margin: auto;" class="mt-5">
        <h3>Tutorials:</h3>
        <%- include(`${locals.partialsRoot}/table`) %>
    </div>
<%  } %>

<%  if (locals.exercises && locals.exercises.rows.length > 0) { %>
    <%  locals.tabledata = exercises; %>
    <div style="width: 90%; margin: auto;" class="mt-5">
        <h3>Exercises:</h3>
        <%- include(`${locals.partialsRoot}/table`) %>
    </div>
<%  } %>
</div>

<%if (locals.isTeacher) {%>

<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
<script type="module">
const statsData = JSON.parse('<%- JSON.stringify(startedSubmittedStats) %>');

const data = [];
const fulldata = [];
statsData.forEach((x) => {
  let date = ((new Date(Date.parse(x.day))));
  date.setHours(x.hour);
  //date = date.toUTCString();
  data.push({
    date,
    category: "this\ncourse",
    type: "started",
    cnt: parseInt(x.count_started_course) || 0
  });
  data.push({
    date,
    category: "other\ncourses",
    type: "started",
    cnt: parseInt(x.count_started) || 0
  });
  data.push({
    date,
    category: "this\ncourse",
    type: "submitted",
    cnt: parseInt(x.count_submitted_course) || 0
  });
  data.push({
    date,
    category: "other\ncourses",
    type: "submitted",
    cnt: parseInt(x.count_submitted) || 0
  });
  fulldata.push({
    date,
    category: "this\ncourse",
    type: "started",
    cnt: (parseInt(x.count_started_course) || 0) + (parseInt(x.count_started) || 0)
  });
  fulldata.push({
    date,
    category: "this\ncourse",
    type: "submitted",
    cnt: (parseInt(x.count_submitted_course) || 0) + (parseInt(x.count_submitted) || 0)
  });
  fulldata.push({
    date,
    category: "other\ncourses",
    type: "started",
    cnt: (parseInt(x.count_started_course) || 0) + (parseInt(x.count_started) || 0)
  });
  fulldata.push({
    date,
    category: "other\ncourses",
    type: "submitted",
    cnt: (parseInt(x.count_submitted_course) || 0) + (parseInt(x.count_submitted) || 0)
  });
})
const plot = Plot.plot({
  width: Math.max(window.screen.width, 600),
  marginRight: 75,
  x: {ticks: []},
  y: {grid: true},
  color: {legend: true},
  fx: { type: "utc", tickFormat: (date) => {
    return date.getHours() % 2 === 0 ?  String(date.getHours()).padStart(2, "0"): "";
  }, label: "",
  axis: "bottom"
  },
  marks: [
    Plot.barY(fulldata, {
      x: (d) => `${d.type}`,
      y: "cnt",
      fx: "date",
      fill: "#eee",
      fy: "category"
    }),
    Plot.barY(data, {
      x: (d) => `${d.type}`,
      y: "cnt",
      fx: "date",
      fill: (d) => `${d.type}`,
      tip: true,
      fy: "category"
    }),
    Plot.axisFx({
      tickFormat: (d) => (d.getHours() === 2 ? `${d3.utcFormat("%A")(d)}` : ""),
      tickSize: 0,
      textAnchor: "start",
    }),
    Plot.ruleY([0])
  ],
  style: {
    fontSize: 16,
  }
})

const div = document.querySelector("#startedSubmittedStats");
div.append(plot);

</script>
<%  } %>
