<br><br><br><br><br><br><br><br><br>

<div class="row text-center text-muted">
Hi, this is the demo instance of Edgar.
<br>You are enrolled into a single class - "Alchemy (ALC)" in the year 2019/2020, with only one exam defined.
<br>The exam password is "demo".
<br>To start the exam, please select Exam -> Start exam.
<br>
<br>When done, you can review the exam and even take it again (up to 1000 times :))
<br>Have fun!
</div>