<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
  <title>
    Edgar Demo
  </title>
  <style>
        <%- include(`${locals.partialsRoot}/_style`) %>
     </style>
  <%- include(`${locals.partialsRoot}/_public_head`) %>
  
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="graybg demo">
  <br/><br/><br/><br/>
  <div class="container-fluid" >
    <div class="text-center">
      <img src="/images/edgar.png">
    </div>
    <p class="text-center">
      <%= authMessage %>      
    </p>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <% if(providers.local) { %>
            <form class="form-signin" action="locallogin" method="post">
              <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
              <input type="submit" class="btn btn-lg btn-light btn-block" value="Log In" />
            </form>
          <% } %>
          <div class="col-sm-6 col-sm-offset-3">
            <div class="mx-auto" style="max-width: 360px;">
              <% if(providers.google) { %>
                <a href="/auth/google" class="btn btn-block btn-social btn-google">
                  <span class="fa fa-google"></span> Login with Google</a>
              <% } %>
              <% if(providers.facebook) { %>
                <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                  <span class="fa fa-facebook"></span> Login with Facebook</a>
              <% } %>
              <% if(providers.twitter) { %>
                <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
                  <span class="fa fa-twitter"></span> Login with Twitter</a>
              <% } %>
              <% if(providers.aai) { %>
                <a href="/auth/aailogin" class="btn btn-block btn-social btn-vk">
                  <span class="fa fa-adn"></span> Login with AAI</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>

  </body>
  </html>


