<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>
    Edgar Registration Form
  </title>
  <style>
    <%- include(`${locals.partialsRoot}/_style`) %>
  </style>
  <%- include(`${locals.partialsRoot}/_head`) %>

</head>

<body class="graybg">
  <br/>
  <br/>
  <br/>
  <br/>

      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="mx-auto" style="max-width: 90px;">
              <i class="fa fa-user fa-5x"></i>
            </div>
          </div>
          <br>
          <% if(providers.local) { %>
            <form class="form-signin" action="/auth/locallogin" method="post">
              <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
              <input type="submit" class="btn btn-lg btn-light btn-block" value="Register" />
            </form>
          <% } %>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="mx-auto" style="max-width: 360px;">
                <% if(providers.google) { %>
                  <a href="/auth/google" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Register with Google</a>
                <% } %>
                <% if(providers.facebook) { %>
                  <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Register with Facebook</a>
                <% } %>
                <% if(providers.twitter) { %>
                  <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> Register with Twitter</a>
                <% } %>
                <% if(providers.aai) { %>
                  <a href="/auth/aailogin" class="btn btn-block btn-social btn-vk">
                    <span class="fa fa-adn"></span> Register with AAI</a>
                <% } %>
              </div>
            </div>
        </div>
      </div>

</body>

</html>
