
<h2 style="display:inline-flex;width:100%">Students for the current course and year:  <form action="/mail/groupmail" method="GET">
    <button style="position: absolute; right: 20px;" class="btn btn-outline-success" type="submit">Send register emails</button>
</form></h2>

<% var tabledata = students; %>
<%- include(`${locals.partialsRoot}/table`) %>


