
<div class="d-flex p-5">
    <form action="/ticket/<%=(is_all > 0) ? 'un' : ''%>subscribeall/<%=id_test%>" method="post">
        <input type="hidden" name="id_test" value="<%=id_test%>">
        <button type="submit" class="btn btn-lg <%=(is_all > 0) ? 'btn-warning' : 'btn-success'%>">
            <%=(is_all > 0) ? 'Unsubscribe' : 'Subscribe'%> to tickets for all questions
        </button>
    </form>
    <h2>... or subscribe for a single question:</h2>
</div>

<%  locals.tabledata = list; %>
<%- include(`${locals.partialsRoot}/table`) %>

