

<% if (question.type_name.toUpperCase().indexOf('COMPLEX') >= 0) { %>
    <input name="complex_question_id" hidden value=<%= complex_question.id %> />

    <% if (show_rtc) { %>
        <div class="row p-2 card-body card mt-2 mb-2" id="accordion" role="tablist"
             aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="question-constraints">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordionRight" href="#collapseOneConstraints"
                            aria-expanded="true"
                            aria-controls="collapseOneConstraints">
                            <% let hasQuestionOverride = code_question_rtc.map(item => item.override_level).includes('question') %>

                            <span>
                                Runtime Constraints
                                <% if(hasQuestionOverride) { %>
                                    <i class="fas fa-exclamation fa-sm" style="margin-left: 5px"></i>
                                <% } %>
                            </span>
                        </a>
                    </h5>
                </div>

                <div id="collapseOneConstraints" class="collapse" role="tabpanel"
                        aria-labelledby="question-constraints">
                    <div class="card-body">
                        <div class="container-fluid">
                            <ul class="nav nav-tabs" id="question-constraints-tab" role="tablist">
                                <% for(let i = 0; i < programming_languages.length; i++) { %>
                                    <% let hasLanguageOverride =
                                    code_question_rtc.filter(item => item.programming_language_id === programming_languages[i].id)
                                            .map(item => item.override_level).includes('question') %>
                                    <li class="nav-item">
                                        <a class="nav-link <%- (i === 0) ? 'active' : '' %>"
                                            id="question-constraints-tab-<%= programming_languages[i].id %>"
                                            data-toggle="tab"
                                            href="#question-constraints-panel-<%= programming_languages[i].id %>"
                                            role="tab"
                                            aria-controls="question-constraints-panel-<%= programming_languages[i].id %>"
                                            aria-selected="true">
                                            <span>
                                                    <%- programming_languages[i].name %>
                                                <% if(hasLanguageOverride) { %>
                                                    <i class="fas fa-exclamation fa-sm" style="margin-left: 5px"></i>
                                                <% } %>
                                            </span>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                            <div class="tab-content" id="question-constraints-tab-content">
                                <% for(let i = 0; i < programming_languages.length; i++) { %>
                                    <div class="tab-pane fade collapse <%- (i === 0) ? 'show active' : '' %>"
                                            id="question-constraints-panel-<%= programming_languages[i].id %>"
                                            role="tabpanel"
                                            aria-labelledby="question-constraints-tab-<%= programming_languages[i].id %>"
                                            aria-selected="<%- (i === 0) ? 'true' : 'false' %>">
                                        <div class="card-body">
                                            <table class="table table-hover edgar no-dt">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">constraint</th>
                                                    <th scope="col">value</th>
                                                    <th scope="col">current value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% let currentLanguageArr = code_question_rtc.filter(item => item.programming_language_id === programming_languages[i].id) %>
                                                <% for(let j = 0; j < currentLanguageArr.length; j++) { %>
                                                    <tr>
                                                        <th scope="row"><%- (j + 1) %></th>
                                                        <td><%- currentLanguageArr[j].constraint_name %></td>
                                                        <% if(currentLanguageArr[j].j0_unit_type) { %>
                                                            <% if(currentLanguageArr[j].j0_unit_type === 'second') { %>
                                                                <td><input class="form-control" placeholder="..."
                                                                            type="number" min="0"
                                                                            step="0.001"
                                                                            name="rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                            value="<%- currentLanguageArr[j].override_level === 'question' ? currentLanguageArr[j].constraint_value : '' %>">
                                                                </td>
                                                            <% } else if(currentLanguageArr[j].j0_unit_type === 'kilobyte') { %>
                                                                <td><input class="form-control" placeholder="..."
                                                                            type="number" min="0"
                                                                            step="1"
                                                                            name="rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                            value="<%- currentLanguageArr[j].override_level === 'question' ? currentLanguageArr[j].constraint_value : '' %>">
                                                                </td>
                                                            <% } %>
                                                        <% } else { %>
                                                            <% if(currentLanguageArr[j].constraint_value === 'true' || currentLanguageArr[j].constraint_value === 'false') { %>
                                                                <td>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio"
                                                                                name="rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                                id="input_true_rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                                value="true" <%- (currentLanguageArr[j].override_level === 'question' && currentLanguageArr[j].constraint_value === 'true') ? 'checked' : '' %> >
                                                                        <label class="form-check-label"
                                                                                for="input_true_rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>">true</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio"
                                                                                name="rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                                id="input_false_rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                                value="false"
                                                                                <%- (currentLanguageArr[j].override_level === 'question' && currentLanguageArr[j].constraint_value === 'false') ? 'checked' : '' %>>
                                                                        <label class="form-check-label"
                                                                                for="input_false_rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>">false</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio"
                                                                                name="rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                                id="input_none_rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                                value=""
                                                                                <%- (currentLanguageArr[j].override_level !== 'question') ? 'checked' : '' %>>
                                                                        <label class="form-check-label"
                                                                                for="input_none_rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>">default</label>
                                                                    </div>
                                                                </td>
                                                            <% } else { %>
                                                                <td><input class="form-control" placeholder="..."
                                                                            type="number" min="0"
                                                                            step="1"
                                                                            name="rtc_q_lang_<%- programming_languages[i].id %>_constr_<%- currentLanguageArr[j].constraint_id %>"
                                                                            value="<%- currentLanguageArr[j].override_level === 'question' ? currentLanguageArr[j].override_value : '' %>">
                                                                </td>
                                                            <% } %>
                                                        <% } %>
                                                        <td><%- currentLanguageArr[j].constraint_value %> <%- currentLanguageArr[j].j0_unit_type ? currentLanguageArr[j].j0_unit_type + 's' : '' %></td>
                                                    </tr>
                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                <% } %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    <% } %>
    <div class="row p-2 card">
      <div class="card-header">Setup script</div>
      <div class="card-body">
          <div class="container-fluid">
          <textarea
              id="setup_script"
              name="setup_script"
              data-a2-type='shell'><%- complex_question.setup_script %></textarea>
          </div>
      </div>
    </div>


    <div class="row card-body card mt-3" id="accordionTestCases" role="tablist">
        <div class="row d-flex justify-content-between">
            <h4>Test-case items (count = <%= complex_question.test_cases.length %>)</h4>
            <div><a href="javascript:void(0)" class="toggle-accordion"
                accordion-id="#accordionTestCases">Collapse All</a>
            </div>
        </div>
        <% for(var i = 0; i < complex_question.test_cases.length; ++i) { %>


            <ul class="nav nav-tabs mt-2" id="testTab<%= i %>" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="test-tab" data-toggle="tab" href="#test<%= i %>" role="tab"
                       aria-controls="test<%= i %>" aria-selected="true">Test item <%= i+1 %></a>
                </li>
            </ul>
            <div class="tab-content" id=testTabContent<%= i %>">
                <div class="tab-pane fade show active" id="test<%= i %>" role="tabpanel" aria-labelledby="test-tab">

                    <div class="card mt-2 ml-2" id="answer<%= i %>">
                        <div class="card-header" role="tab" id="heading<%= i %>">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-start align-items-center">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>"
                                        aria-expanded="false">
                                        Toggle #<%= (i + 1) %>
                                    </a>
                                    <div class="d-flex ml-5 align-items-baseline">
                                        <label style="flex-shrink: 0;"
                                            title="this stands for how many points will be DEDUCTED. If these percentages add up to more than 100% they are reduced to 100%.">Deduct(%) when incorrect: </label>
                                        <input style="max-width: 6rem;" id="percent<%= i %>" name="percent<%= i %>" class="form-control"
                                        value=<%= complex_question.test_cases[i].percentage %>>
                                    </div>
                                    <div class="ml-2">
                                        <button type="button" onclick="toggleTestcaseVisiblity(this, '<%= i %>')" class="btn btn-light">
                                                <i title="<%- (complex_question.test_cases[i].is_public === true) ? 'Public test case' : 'Private test case'%>" class="<%- (complex_question.test_cases[i].is_public === true) ? 'fas fa-eye' : 'fas fa-eye-slash'%>"></i>
                                        </button>
                                        <input type="checkbox"
                                            name="is_public_<%= i %>"
                                            hidden
                                            id="id_test_case_<%= i %>"
                                            <%- ((complex_question.test_cases[i].is_public === true) ? 'checked' : '') %>
                                            >
                                    </div>
                                </div>
                                <div>
                                    <button class="ml-2 btn btn-outline-danger float-right "
                                        name="removeComplexTest"
                                        value="<%= i %>"
                                        question="<%= question.id %>"
                                        style="float: right;">Remove
                                    </button>
                                    <!-- <button class="btn btn-outline-success float-right test-item-clone ml-2"
                                            name="cloneComplexTest"
                                            value="<%= i %>"
                                            question="<%= question.id %>"
                                            style="float: right;">Clone
                                    </button> -->
                                </div>

                            </div>
                        </div>

                        <div id="collapse<%= i %>" class="collapse show" role="tabpanel"
                             aria-labelledby="heading<%= i %>">
                            <div class="card-body">
                                <div class="row mt-2 border-top d-flex">
                                  <div style="flex-grow: 1;">
                                    <div class="ml-2">Run script</div>
                                    <div class="ml-2 container-fluid">
                                        <textarea id="run_script<%= i %>" name="run_script<%= i %>" data-a2-type='shell'><%- complex_question.test_cases[i].run_script %></textarea>
                                    </div>
                                  </div>
                                  <div style="flex-grow: 1;">
                                    <div class="ml-2">Eval script</div>
                                    <div class="ml-2 container-fluid">
                                        <textarea id="eval_script<%= i %>" name="eval_script<%= i %>" data-a2-type='shell'><%- complex_question.test_cases[i].eval_script %></textarea>
                                    </div>
                                  </div>
                                  <div style="flex-grow: 1;">
                                    <div class="ml-2">Expected</div>
                                    <div class="ml-2 container-fluid">
                                        <textarea id="expected<%= i %>" name="expected<%= i %>" data-a2-type='text'><%- complex_question.test_cases[i].expected %></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mt-2 border-top d-flex">
                                    <div class="ml-2">Comment</div>
                                    <div class="ml-2 container-fluid">
                                        <textarea id="comment<%= i %>" name="comment<%= i %>" data-a2-type='text'><%-complex_question.test_cases[i].comment %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <% } %>
        <div class="mt-3">
            <button
              class="btn btn-outline-success"
              type="submit"
              name="addNewComplexTest"
              value="addNewComplexTest"
              style="float: left">Add new test item
            </button>
        </div>

    </div>

<% } %>
