<div class="row mt-2">
  <h5>Write the answers in the correct order as this order will be used for grading!</h5>
</div>
<div class="row mt-2 mb-2">
  <h4 class="col-5">Answers</h4>
  <div class="col-6 offset-1 d-flex justify-content-end">
    <% locals.combodata = {
        id: "id_connected_elements_correctness_model",
        list: connected_elements_correctness_model,
        name:"id_connected_elements_correctness_model",
        selected: question.id_connected_elements_correctness_model,
      }; %>
      <%- include(`${locals.partialsRoot}/combo`) %>
  </div>
</div>

<% for(var i = 0; i < answers.length; ++i) {%>
  <div class="row mt-1">
    <div class="col-6">
      <% if (answers[i].answer_text_static) { %>
        <textarea
          id="answer_static<%=i%>"
          name="answer<%=i%>"
          data-a2-type="mdtext"
          style="min-height: 100px;"><%-answers[i].answer_text_static || ''%></textarea>
      <% } %>
    </div>
    <div class="col-6">
      <% if (answers[i].answer_text_dynamic) { %>
        <textarea
          id="answer_dynamic<%=i%>"
          name="answer<%=i%>"
          data-a2-type="mdtext"
          style="min-height: 100px;"><%-answers[i].answer_text_dynamic%></textarea>
      <% } %>
    </div>
    <div style="display:none;">
        <input type="number" min="0" max="100" step="1" class="form-control" id="penalty_percentage<%=i%>" name="penalty_percentage<%=i%>"
            value="<%-answers[i].penalty_percentage%>" title="Penalty percentage">
    </div>
  </div>

<%}%>
