<h4>Answers:</h4>
<div id="previewContainer">
    <%for(var i = 0; i < answers.length; ++i) {%>
        <button type="button" class="list-group-item">
            <div data-a2-type="preview" data-a2-src="answer<%=i%>" style="text-align: left;">
            </div>
        </button>
    <%}%>
</div>

<script>
    $(document).ready(function() {
      $('input[type=radio][name=displayOption]').change(function() {
        updatePreviewDisplay();
      });
  
      function updatePreviewDisplay() {
        const displayOption = $('input[type=radio][name=displayOption]:checked').val();
        const previewContainer = $('#previewContainer');
        let childrenArray = previewContainer.children();
        if (displayOption === 'horizontal') {
          previewContainer.css({ "display": "flex", "flex-direction": "row", "flex-wrap": "nowrap", "overflow-x": "auto" });
          childrenArray.each(function(i, elem) {
            if ($(elem).is('button')) {
              $(elem).css({ "display": "inline-block", "width": "auto", "white-space": "nowrap" });
            }
          });
        } else if (displayOption === 'vertical') {
          previewContainer.css({ "display": "", "flex-direction": "", "flex-wrap": "", "overflow-x": "" });
          childrenArray.each(function(i, elem) {
            if ($(elem).is('button')) {
              $(elem).css({ "display": "block", "width": "100%" });
            }
          });
        }
      }
  
      // Call the function to set the initial display based on the checked radio button
      updatePreviewDisplay();
    });
  </script>