<%if (eval_script || eval_script === '') {%>
<div class="row m-1">
    <div class="row p-2 card-body card" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header d-flex flex-wrap justify-content-between" role="tab" id="question-EvalScript">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOneEvalScript">
                        Custom scoring script
                    </a>
                </h5>
                <div class="col-4">
                    <label for="id_node">Script lang:</label>
                    <% locals.combodata = {id: "id_script_programming_language", list: script_programming_languages, selected: id_script_programming_language ? id_script_programming_language : 1, name: "id_script_programming_language"}; %>
                    <%- include(`${locals.partialsRoot}/combo`) %>
                </div>
            </div>
            <div id="collapseOneEvalScript" class="collapse show" role="tabpanel" aria-labelledby="question-EvalScript">
                <div class="card-body row">
                    <div class="col-6">
                        <div class="edgar-overlap border">
                            <textarea required id="eval_script" name="eval_script" data-a2-type="eval-script"
                                style="display: none"><%-eval_script%></textarea>
                            <div class="edgar-right-overlap">
                                <button id="btnEvaluateScript" class="btn btn-success" 
                                    id_question="<%=question.id%>"
                                    target="c_answer,sql_answer,json_answer"
                                    tooltip="Everything except code-main and this script is taken from the database so be sure to save..."
                                    >
                                    <i class="fas fa-cogs"></i>
                                </button>
                            </div>
                        </div>
                        <% if (question.type_name.toUpperCase().indexOf('FREE TEXT') >= 0) {%>
                        <textarea id="dummyfreetextanswer" class="form-control" placeholder="dummy free text answer"></textarea>
                        <% } %>
                    </div>
                    <div class="col-6">
                        <div id="evaluated-eval-script" class="border dark rounded ml-2"
                            style="max-height: 400; overflow-y: auto">
                            Not evaluated yet...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% } %>
