<% if(show_attachments) { %>
    <div class="row p-2 card-body card" id="accordion" role="tablist"
            aria-multiselectable="true">
        
        <div class="card">
            <div class="card-header" role="tab" id="question-attachments">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOneAttachments"
                        >
                        Attachments
                    </a>
                </h5>
            </div>
            <div id="collapseOneAttachments" class="collapse" role="tabpanel"
                    aria-labelledby="question-attachments">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <h3>Insert new attachment:</h3>
                        <div>
                            <p>
                                <label class="ml-2 btn btn-light btn-outline-dark">
                                    <strong>Browse</strong>
                                    <input type="file" name="attachment" id="attachment" hidden multiple>
                                </label>
                            </p>
                        </div>
                        <div >
                            <div class="form-check form-inline">
                                <label class="form-check-label ml-1" for="is_attachment_public"
                                    title="Public files will be provided to student, as a download. Private files will be placed in the sandbox (current app folder) and can be referenced using the label."
                                >
                                    Public (see tooltip!)
                                </label>
                                <input class="form-check-input form-control" type="checkbox" name="is_attachment_public"
                                        id="is_attachment_public" data-toggle="toggle">
                            </div>
                        </div>
                        <div >
                            <div class="form-check form-inline">
                                <label class="form-check-label" for="attachment_label">
                                    Label:
                                </label>
                                <input class="ml-2 form-check-input form-control" type="text" name="attachment_label"
                                        id="attachment_label">
                            </div>
                        </div>
                        <div>
                            <button id="upload-attachment" class="btn btn-light btn-outline-dark" type="button"
                                    id_question="<%= question.id %>">Upload
                            </button>
                        </div>
                    </div>
                        <hr/>
                        <div class="form-group">
                            <div id="attachments_row" class="filemanager">
                                    <div class="data" style="display: block;">
                                        <div>
                                            <div id="attachments-panel" class="row">
                                                <% for(let a = 0; a < attachments.length; a++) { %>
                                                    <div class="col-12 resultitem resultitemFile d-flex justify-content-start">
                                                        <h3><%=(a+1)%>.</h3>
                                                        <div class="ml-5">
                                                            <a  href="/upload/attachment/<%- attachments[a].filename %>" target="_blank" class="files visible <%- attachments[a].is_public ? 'publicatt' : 'privateatt' %>" download>
                                                                <div class="icon-pos"><i class="file-icon fa fa-file"></i></div>                                                                
                                                            </a>
                                                        </div>
                                                        <div class="file-info">
                                                            <div class="file_name" style="display: table-cell"><span
                                                                    class="name"><%- attachments[a].label %></span>
                                                            </div>
                                                            <div class="file_size"><span class="details"></span></div>
                                                        </div>
                                                        <div class="ml-3">
                                                            <%- attachments[a].is_public ? '(Public)' : '(Private)' %>
                                                        </div>
                                                        <i id="delete-attachment-<%- attachments[a].filename %>"
                                                            class="btn btn-danger fa fa-trash remove-attachment ml-5">
                                                        </i>
                                                    </div>
                                                <% } %>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<% } %>