<%if (json_answer) {%>
<div class="row">
<div class="container-fluid card-body card">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" id="chkAssertDeep" name="assert_deep" value="true" <%=((json_answer.assert_deep)
            ? "checked" : "")%>> Assert DEEP
    </label><br>
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" id="chkAssertStrict" name="assert_strict" value="true" <%=((json_answer.assert_strict)
            ? "checked" : "")%>> Assert STRICT
    </label>

</div>

<div id="accordion" class="w-100 mt-2" role="tablist" aria-multiselectable="true">

    <div class="card">
        <div class="card-header" role="tab" id="headingAnswer">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    json_answer
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse fade show active" role="tabpanel" aria-labelledby="headingAnswer">
            <div class="card-body">
                <div class="container-fluid">
                    <textarea id="json_answer" name="json_answer" data-a2-type="jsoncode" style="display: none"><%-json_answer.json_answer%></textarea>
                    <div class="container-fluid text-right">
                        <button class="btn btn-success" resultdiv="json_result2" target="json_answer" type="submit" id_question="<%=question.id%>"
                            name="runjson" value="run">Run</button>
                    </div>
                    <div id="json_result2" class="container-fluid json_result"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    json_alt_assertion
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse fade <%-json_answer.json_alt_assertion ? 'show' : ''%>" role="tabpanel"
            aria-labelledby="headingThree">
            <div class="card-body">
                <div class="container-fluid">
                    <textarea id="json_alt_assertion" name="json_alt_assertion" data-a2-type="jsoncode" style="display: none"><%-json_answer.json_alt_assertion%></textarea>
                    <div class="container-fluid text-right">
                        <button class="btn btn-outline-secondary" resultdiv="json_result3" target="json_answer,json_alt_assertion" type="submit" id_question="<%=question.id%>"
                            name="runjson" value="run">Run answer & assertion</button>
                    </div>
                    <div id="json_result3" class="container-fluid json_result"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    json_alt_presentation_query
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse fade <%-json_answer.json_alt_presentation_query ? 'show' : ''%>"
            role="tabpanel"
            aria-labelledby="headingFour">
            <div class="card-body">
                <div class="container-fluid">
                    <textarea id="json_alt_presentation_query" name="json_alt_presentation_query" data-a2-type="jsoncode" style="display: none"><%-json_answer.json_alt_presentation_query%></textarea>
                    <div class="container-fluid text-right">
                        <button class="btn btn-outline-secondary" resultdiv="json_result4" target="json_alt_presentation_query" type="submit" id_question="<%=question.id%>"
                            name="runjson" value="run">Run</button>
                    </div>
                    <div id="json_result4" class="container-fluid json_result"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    json_test_fixture
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse fade <%-json_answer.json_test_fixture ? 'show' : ''%>"
            role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
                <div class="container-fluid">
                    <textarea id="json_test_fixture" name="json_test_fixture" data-a2-type="jsoncode" style="display: none"><%-json_answer.json_test_fixture%></textarea>
                    <div class="container-fluid text-right">
                        <button class="btn btn-outline-secondary" resultdiv="json_result1" target="json_test_fixture" type="submit" id_question="<%=question.id%>"
                            name="runjson" value="run">Run</button>
                    </div>
                    <div id="json_result1" class="container-fluid json_result"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include("./_editQuestionTutorialSuffix")   %>
<% } %>
