<div class="row d-flex justify-content-end">
  <a class="btn btn-outline-primary <%=((session.AppUserSettings && session.AppUserSettings.showQuestionHeader == 'true') ? '' : 'collapsed')%>" data-toggle="collapse" href="#header" aria-expanded="false" edgar-user-prop="1" name="showQuestionHeader">
        Toggle header
    </a>
</div>
<div class="row <%=((session.AppUserSettings && session.AppUserSettings.showQuestionHeader == 'true') ? '' : 'collapse')%> card" id="header">
<div class="card-body">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item"><b>Id:</b> <span class="badge badge-primary"><%=question.id%></span>&nbsp;&nbsp; <b>Version:</b> <span class="badge badge-primary"><%=question.version%></span>&nbsp;&nbsp; Parent (previous) question id:
          <a href="/question/edit/<%=question.id_prev_question%>">
            <%=question.id_prev_question%>
          </a>, Next (child) question id:
          <a href="/question/edit/<%=question.id_next_question%>">
            <%=question.id_next_question%>
          </a>
        </li>
        <li class="list-group-item"><b>Type:</b>
          <%=question.type_name%>
            <%=locals.code_runner_name ? ' (runner:' + locals.code_runner_name + ')' : '' %>
        </li>
  
        <%if (question.count_used > 0) { %>
          <li class="list-group-item"><a href="/question/instances/<%=question.id%>">Used: <%=question.count_used%> time(s)</a>, last:
            <%=question.last_used%> 
            <a href="/analytics/questions/single/<%=question.id%>" target="_blank">
              , stats: <i class="fas fa-chart-line"></i>
            </a>
          </li>
          <%} else {%>
            <li class="list-group-item">Never used (virgin question).</li>
            <%}%>
  
              <li class="list-group-item"><a href="/feedback?questionId[]=<%=question.id%>">
                  Feedback: <%= question.count_feedback %> comments/ratings</a>
                <% if (question.count_feedback > 0) { %>, last:
                  <%= question.last_feedback %>
                    <% } %>
              </li>
      </ul>
    </div>
    <div class="col-6">
      <li class="list-group-item d-flex justify-content-between">
        <span>
          <b>Created:</b>
          <%=question.user_created%>,
          <%=question.ts_created%>
        </span>
        
        <% if (!retired && !(locals.readOnlyReviewers)) {%>
          <span class="btn-group ">
              <form method="post" action="/question/claimauthor" id="frmClaimAuthor">
                  <input type="hidden" name="id_question" value="<%=question.id%>" />
                  <button class="btn btn-success" style="padding: 0px 4px 0px 4px; float: left"
                      edgar_confirm_text='Are you sure you want to set yourself as the author? (save all changes to the question before proceeding)'
                      type="submit" name="claimAuthor" value="claimAuthor" 
                      <% if (locals.disableSave){ %> disabled <%}%>>Claim authorship
                  </button>
              </form>
          </span>
        <%}%>
      </li>
      <li class="list-group-item"><b>Modified:</b>
        <%=question.user_modified%>,
          <%=question.ts_modified%>
      </li>
      <li class="list-group-item"><b>Path(s):</b>
        <%-question.paths%>
      </li>
      <li class="list-group-item d-flex justify-content-start align-items-center">
        <b>Reviewer(s):</b>
        <% if (!retired && !(locals.readOnlyReviewers)) {%>
          <span class="btn-group">
                      <form method="post" action="/question/setreviewer" id="frmReviewer">
                      <input type="hidden" name="id_question" value="<%=question.id%>" />
                      <button class="btn btn-success"  edgar_confirm_text='Are you sure you want to set yourself as a reviewer? (save all changes to the question before proceeding)'
                          type="submit" name="addReviewer" value="addReviewer" <% if (locals.disableSave){ %> disabled
                          <%}%>>Add myself</button>
                      </form>
                  </span>
          <%}%>
          <%for (i = 0; i < reviewers.length; ++i) {%>
            <div class="btn btn-outline-secondary" title="<%=reviewers[i].ts_created%>">
              <div><%= reviewers[i].reviewer %></div>  
            </div>
          <%}%>
      </li>
    </div>
  </div>
</div>  

</div>