<script>
    $("#nodes").chosen({no_results_text: "No Results", class: "form-control"});
    $("#tags").chosen({no_results_text: "No Results", class: "form-control"});
    $(".btn-browsesequence").click(function(e) {
        var btn = $(this);
        var form = btn.closest("form");
        form.append('<input type="hidden" name="sequence" id="hiddenSequence" />'); 
        var seq = $.makeArray($(".btn-browsesequence")).map(function(elem) {
            return parseInt( $(elem).attr("qid"));
        });
        $("#hiddenSequence").val(JSON.stringify(seq));
        return true;
    });
</script>