<div *ngIf="currQuestion" class="pt-3 pb-1">
  <div class="">
    <button
      type="button"
      class=""
      [className]="
        getQuestionCorrectStatus()
          ? 'button btn pull-right shadow btn-success'
          : 'button btn pull-right shadow btn-primary'
      "
      data-toggle="collapse"
      [attr.data-target]="'#enhance-md-collapse-' + uuid"
    >
      <span>Question #{{ tutorialContent.questionOrdinal }}</span>
    </button>
  </div>
  <div
    [id]="'enhance-md-collapse-' + uuid"
    class="pt-2 collapse show"
    [ngStyle]="{
      'border-color': getQuestionCorrectStatus() ? '#28a745' : '#007bff'
    }"
    style="border: 3px solid; border-radius: 0.25rem"
  >
    <div class="m-2">
      <div
        *ngIf="currQuestion"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(currQuestion.content)"
      ></div>
      <button
        type="button"
        class="edgar-q-answer"
        *ngFor="let a of getAnswers()"
        (click)="onSelect(a)"
        [class.edgar-selected]="isSelected(a)"
      >
        <div class="edgar-answer-badge badge badge-secondary">
          {{ { multichoice: [a.ordinal] } | questionAnswerLabel }}
        </div>
        <div
          style="margin-left: 50px"
          class="text-left"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
        ></div>
      </button>
    </div>
  </div>
</div>
