<ng-container *ngIf="_examLoaded">
  <header-review
    [_isReview]="true"
    [examReview]="_examReviewService.getExam()"
    (showScoreboard)="onShowScoreboard()"
  >
  </header-review>
  <div class="container-fluid">
    <ng-container
      *ngIf="_examLoaded && _examReviewService.getExam().usesTicketing"
    >
      <ticket [ordinal]="1"></ticket>
    </ng-container>

    <question-review-content
      [currQuestion]="_examReviewService.getCurrentQuestion()"
      [cmSkin]="_examReviewService.getExam().cmSkin"
    >
    </question-review-content>

    <div class="row">
      <div class="offset-1 col-10">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item" *ngFor="let r of _reviewLabels; let i = index">
            <a
              class="nav-link"
              [class.active]="i == 0"
              data-toggle="tab"
              href="#tabreview{{ i }}"
              role="tab"
              ><b>{{ r }}</b>
            </a>
          </li>
        </ul>
        <div class="tab-content edgar-tab-content">
          <div
            *ngFor="let r of _reviewLabels; let i = index"
            class="tab-pane"
            [class.active]="i == 0"
            id="tabreview{{ i }}"
            role="tabpanel"
          >
            <h4 *ngIf="!_PA1Questions[i]" style="margin: 20px">
              Peer assessment pending...
            </h4>
            <h4
              *ngIf="
                _examReviewService.getPeerAssessmentReviewLoadingError(i + 1)
              "
              style="margin: 20px"
              class="text-danger"
            >
              {{
                _examReviewService.getPeerAssessmentReviewLoadingError(i + 1)
              }}
            </h4>
            <div
              class="pa2-question"
              *ngFor="let q of _PA1Questions[i]; let j = index"
            >
              <h2>
                <div class="aii-answer-badge badge badge-light">
                  {{ j + 1 }}
                </div>
              </h2>
              <div class="row">
                <div class="offset-1 col-10">
                  <question-review-content
                    [currQuestion]="q"
                    [showSolutions]="_examReviewService.getExam().showSolutions"
                    [cmSkin]="_examReviewService.getExam().cmSkin"
                  >
                  </question-review-content>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <question-review-content
      *ngFor="let q of questions"
      [currQuestion]="q"
      [cmSkin]="_examReviewService.getExam().cmSkin"
    >
    </question-review-content>
  </div>
</ng-container>
