.container {
  margin-bottom: 100px;
}

.live-editor {
  display: flex;
  height: 100%;
}

/* .editor {
  flex: 0.7;
  margin-right: 2rem;
} */

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.disabled-div {
  pointer-events: none;
  opacity: 0.6;
}
