<div
  class="d-flex flex-column min-vh-100 w-100 justify-content-center align-items-center"
>
  <h1>{{ message }}</h1>
  <h2>You will be redirected to results page in {{ counter }} seconds...</h2>
</div>
