<div *ngIf="currQuestion">
  <div class="container mt-3">
    <div class="row mb-2 p-3 rounded">
      <div class="col ">

      </div>
      <div class="col ml-2 mr-2">
        <h3>Your answer</h3>
      </div>
      <div class="col">
        <h3>Correct answer</h3>
      </div>
    </div>
    <div
      *ngFor="let answerStatic of currQuestion.answersStatic"
      class="row mb-2 p-3 rounded"
      [class.bg-incorrect]="currQuestion.correctAnswers[answerStatic.ordinal - 1] !== currQuestion.studentAnswers[answerStatic.ordinal - 1]"
    >
      <div class="col border border-secondary rounded"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(answerStatic.aHtml)"
      ></div>
      <div class="col border border-secondary rounded ml-2 mr-2">
        <div
          *ngIf="(currQuestion.studentAnswers[answerStatic.ordinal - 1] > 0)"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(currQuestion.answersDynamic[currQuestion.studentAnswers[answerStatic.ordinal - 1] - 1].aHtml)"
          >
        </div>
        <div *ngIf="!(currQuestion.studentAnswers[answerStatic.ordinal - 1] > 0)">
          <span class="text-muted">empty</span>
        </div>
      </div>
      <div class="col border border-secondary rounded">
        <div
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(currQuestion.answersDynamic[currQuestion.correctAnswers[answerStatic.ordinal - 1] - 1].aHtml)"
          >
        </div>
      </div>
    </div>
  </div>
</div>
