<script src="https://cdnjs.cloudflare.com/ajax/libs/circles/0.0.6/circles.min.js"
    integrity="sha512-r1w3tnPCKov9Spj2bJGCQQBJ5wcJywFgL79lKMXvzBMXIPFI9xXQDmwuVs+ERh1tnL0UFT1hLrwtKh1z5/XCCQ=="
    crossorigin="anonymous"></script>
<script>
    function renderGauge(divid, value, size = 35) {
        Circles.create({
            id: divid,
            radius: size,
            value: value >= 0 ? value : 0,
            maxValue: 100,
            width: 8,
            text: Math.round(value) + '%',
            colors: ['#f1f1f1', edgar.getColorForPercentage(100 - value)],
            duration: 400
        });
    }
    $(".alg-sim").each(function (){
        let elem = $(this);        
        renderGauge($(elem).attr("id"), $(elem).attr("perc"));
    });
</script>