<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
"use strict";

const dateOptions = { weekday: 'short', day: 'numeric', month: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
const colorScaleAreaLegend = d3.scaleOrdinal(["lightsteelblue", "lightsalmon", "springgreen"]);

const brightness = 0.3;
const duration = 500;
let infoData = <%- JSON.stringify(info) %>;
const id = infoData[0].id;
let interval = 'none';

const info = [{
  'ID/Ver/Act': infoData[0].id_ver_act,
  'Text': infoData[0].text,
  'User/Time': infoData[0].user_time,
  'Type': infoData[0].type
}];

const colorScale = d3.scaleLinear()
          .domain([0, 1])
          .range(["red", "green"])
          .interpolate(d3.interpolateHcl);

const percentages = <%- JSON.stringify(percentages) %>;
const timeIntervals = <%- JSON.stringify(timeIntervals) %>;
const questionScoresApi = `/analytics/questions/single/${id}/scores`;

let instances = <%- JSON.stringify(instances) %>;
instances.forEach(instance => instance.ts_modified = new Date(instance.ts_modified));

const barWidthScale = d3.scaleOrdinal()
          .domain(timeIntervals)
          .range(d3.range(3, 30, 2));

$(() => {
  document.getElementById('single-question-info').innerHTML = edgar.ds2Table(info);
  renderPieChart(percentages);

  const interval = $('input[name=interval-choice]:checked').val();
  const data = { interval };

  $.ajax({
    url: questionScoresApi,
    type: 'GET',
    cache: false,
    data: data
  }).done((data) => {
    // renderSingleQuestionScoresLineChart(data);
    renderSingleQuestionScoresBarChart(data);
  }).fail((xhr, desc, err) => {
    console.log(`${err}: ${desc}`);
  });
});

$('.question-options').change(() => {
  interval = $('input[name=interval-choice]:checked').val();

  let data = { interval };
  $.ajax({
      url: questionScoresApi,
      type: 'GET',
      cache: false,
      data: data
  }).done((data) => {
    // updateSingleQuestionScoresLineChart(data);
    updateSingleQuestionScoresBarChart(data);
  }).fail((xhr, desc, err) => {
    console.log(`${err}: ${desc}`);
  })
});

function sortDatesAsc(date1, date2) {
  if (date1 > date2) return 1;
  if (date1 < date2) return -1;
  return 0;
}

function getRangePercentages(domain) {
  const start = domain[0];
  const end = domain[1];

  const domainInstances = instances.filter(instance => {
    return instance.ts_modified >= start && instance.ts_modified <= end;
  });
  let correct = 0,
      incorrect = 0,
      unanswered = 0;

  domainInstances.forEach(instance => {
    if(instance.is_correct) {
      correct++;
    } else if(instance.is_incorrect) {
      incorrect++;
    } else if(instance.is_unanswered) {
      unanswered++;
    }
  });

  if(correct === 0 && incorrect === 0 && unanswered === 0) {
    return [];
  }

  const correctPerc = {
    title: 'Correct',
    percentage: correct/domainInstances.length
  };
  const incorrectPerc = {
    title: 'Incorrect',
    percentage: incorrect/domainInstances.length
  };
  const unansweredPerc = {
    title: 'Unanswered',
    percentage: unanswered/domainInstances.length
  };
  return [correctPerc, incorrectPerc, unansweredPerc];
}

</script>

<%- include("analyticsQuestionsSinglePieChart.ejs")  %>
<%- include("analyticsQuestionsSingleBarChart.ejs")  %>
