<div class="correct-percentage-charts">
  <div class="container-fluid d-flex justify-content-between">
    <div>
      <h5>Question Activity:</h5>
      <div class="form-check-inline">
        <label class="form-check-label q-perc-options">
          <input type="radio" class="form-check-input" name="q-activity-options" value="all" checked="">All
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label q-perc-options">
          <input type="radio" class="form-check-input" name="q-activity-options" value="true">Active
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label q-perc-options">
          <input type="radio" class="form-check-input" name="q-activity-options" value="false">Inactive
        </label>
      </div>
    </div>

    <div>
      <h5>Question Type:</h5>
      <div class="btn-group">
        <label class="btn btn-outline-primary btn-sm q-perc-options">
          <input type="radio" name="q-type-options" value="all" checked>All
        </label>
        <% for (var i = 0; i < questionTypes.length; i++) { %>
          <label class="btn btn-outline-primary btn-sm q-perc-options">
          <input type="radio" name="q-type-options"
            value='<%= questionTypes[i].id %>'><%= questionTypes[i].type_name %>
        </label>
          <% } %>
      </div>
    </div>

    <div>
      <div class="form-group">
        <h5>Question Author:</h5>
        <select class="form-control q-perc-options" id="author-selection">
          <option value="all">All</option>
          <% for (var i = 0; i < authors.length; i++) { %>
          <option value="<%= authors[i].id %>"><%= authors[i].last_name %> <%= authors[i].first_name %>
          </option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <h5>Exam:</h5>
        <select class="form-control q-perc-options" id="test-selection">
          <option value="all">All</option>
          <% for (var i = 0; i < tests.length; i++) { %>
          <option value="<%= tests[i].id %>"><%= tests[i].title_abbrev + ':' + tests[i].title %> </option>
          <% } %>
        </select>
      </div>
    </div>

  </div>





  <div class="container-fluid">
    <div class="correct-percentage-scatterplot">
    </div>
  </div>

  <div class="container-fluid">
    Question score percentage is calculated by averaging each question score percentage with one modification: negative scores are replaced with 0.
    <br>Eg. say there are three question instances (three students took that question):
    <ul>
      <li>Q1, Student1, score: 1.0</li>
      <li>Q1, Student2, score: 0.5</li>
      <li>Q1, Student3, score: <b>-0.25</b> (bcs some grading models can have negative points)</li>
    </ul>
    The score percentage for Q1 is: AVG({1.0, 0.5, <b>0.0</b>}) = 0.5
  </div>

  <div class="container-fluid">
    <div class="card">
      <div class="card-header" style="text-align:center">
        <h3>Question info</h3>
        <label style="font-size:0.8em">(Select questions by clicking on circles)</label>
      </div>
      <div id="correct-percentage-scatterplot-info" class="card-body">
      </div>
    </div>
  </div>


</div>