<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="pull-right">
        <label>Resolution
                    <select id="sdc-all-resolution" class="custom-select">
                        <option>1</option>
                        <option selected>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>25</option>
                    </select>
                </label>

      </div>
      <h2>Score distribution (all groups)</h2>
      <div>
        <label for="sdc-all-tests">Exam</label>
        <%  locals.combodata = {id: "sdc-all-test", class: "form-control", list: tests, name:"test", selected: 0} %>
          <%- include(`${locals.partialsRoot}/combo`) %>
      </div>
      <div id="sdc-all" class="chart row"></div>
    </div>
    <div class="col-xl-6">
      <div class="pull-right">
        <label>Resolution
                    <select id="sdc-groups-resolution" class="custom-select">
                        <option>5</option>
                        <option>10</option>
                        <option selected>20</option>
                        <option>25</option>
                    </select>
                </label>
      </div>
      <h2>Score distribution per groups</h2>
      <div>
        <label for="sdc-groups-tests">Exam</label>
        <%  locals.combodata = {id: "sdc-groups-test", class: "form-control", list: tests, name:"test", selected: 0} %>
          <%- include(`${locals.partialsRoot}/combo`) %>
      </div>
      <div id="sdc-groups" class="chart row"></div>

    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>