<div class="row justify-content-center">
    <h2><%= examTitle %></h2>
</div>
<div class="test-participation-charts even-margins-sm">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex">
                <%-firstStudent.imgHtml%>
                <h4>
                    <%= `${firstStudent.first_name} ${firstStudent.last_name} (${firstStudent.id})` %>
                </h4>
            </div>
            <div class="col">
                <h4>Difference</h4>
            </div>
            <div class="col d-flex">
                <%-secondStudent.imgHtml%>
                <h4>
                    <%= `${secondStudent.first_name} ${secondStudent.last_name} (${secondStudent.id})` %>
                </h4>
            </div>
        </div>
        <% for (let question of Object.keys(questions)) { %>
            <div class="container-fluid shadow-lg mt-5 p-4">
                <div class="row d-flex justify-content-between mb-2 align-items-baseline">
                    <h2 class="mr-5">Question: <a target="_blank" href="/question/edit/<%=question%>"><%= question %></a>
                    </h2>
                    <% if (questions[question].similarity) { %>
                        <% for (let similarityMethod of similarityMethodNames) { %>
                        <div class="px-2 pb-2 pb-md-0 text-center">
                            <div id="<%=similarityMethod.name%>-<%=question%>"
                                class="alg-sim" 
                                perc="<%=questions[question].similarity[similarityMethod.id]%>"></div>
                            <h6 class="fw-bold mt-3 mb-0"><%= similarityMethod.name %></h6>
                        </div>                        
                        <% } %>
                    <% } %>
                </div>
                
                <div class="row">
                    <div class="col">
                        <pre><%= questions[question][firstStudent.id] %> </pre>
                    </div>
                    <div class="col">
                        <pre><%- questions[question]['difference'] %> </pre>
                    </div>
                    <div class="col">
                        <pre><%= questions[question][secondStudent.id] %> </pre>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<style>
    del {
        background: #ffe6e6;
    }

    ins {
        background: #e6ffe6;
    }
</style>