<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts-en.common.min.js" 
    integrity="sha512-/Q40jZijQiufYjvG6aiUq9PTUrOt/E9igis1ZLbZv89yl2FIsSwgeZr6w7WipE6ALQ5DuWME/BSCl9F0u0eunQ==" 
    crossorigin="anonymous"></script>

<script>
    var sdcAll = document.getElementById('sdc-all'),
        sdcAllResolution = $('#sdc-all-resolution'),
        sdcAllTest = $('#sdc-all-test');

    var sdcGroups = document.getElementById('sdc-groups'),
        sdcGroupsResolution = $('#sdc-groups-resolution'),
        sdcGroupsTest = $('#sdc-groups-test');

    var toolbox = {
        show: true,
        orient: 'horizontal',
        left: 'center',
        top: 'bottom',
        itemGap: 50,
        feature: {
            mark: {
                show: true
            },
            dataView: {
                show: true
            },
            magicType: {
                show: true,
                type: ['line', 'bar']
            },
            restore: {
                show: true
            },
            saveAsImage: {
                show: true
            }
        }
    };

    function getAll(resolution = 5, testId = 0) {
        var sdcAllChart = echarts.init(sdcAll);
        sdcAllChart.clear();
        $.get('/analytics/score/distribution/total?resolution=' + resolution + '&testId=' + testId,
            function (data) {
                data = data.sort((a, b) => a.x > b.x);
                var option = {
                    legend: {
                        data: data.map(item => item.y)
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    calculable: true,
                    xAxis: {
                        name: 'Score percentage',
                        nameLocation: 'center',
                        nameGap: 25,
                        type: 'category',
                        data: data.map(item => item.x)
                    },
                    yAxis: {
                        name: 'Number of students',
                        nameGap: 25,
                        nameLocation: 'center',
                        nameRotate: 90,
                        type: 'value'
                    },
                    toolbox: toolbox,
                    series: [{
                        data: data.map(item => item.y),
                        type: 'bar'
                    }]
                };

                sdcAllChart.setOption(option);
            });
    }

    getAll();


    function getByGroups(resolution = 20, testId = 0) {
        var sdcGroupsChart = echarts.init(sdcGroups);
        sdcGroupsChart.clear();
        $.get('/analytics/score/distribution/groups?resolution=' + resolution + '&testId=' + testId,
            function (data) {
                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: data.scoresPerGroup.map(item => item.group)
                    },
                    toolbox: toolbox,
                    calculable: true,
                    xAxis: [{
                        nameLocation: 'center',
                        name: 'Score percentage',
                        nameGap: 25,
                        type: 'category',
                        axisTick: {
                            show: false
                        },
                        data: data.scoreCategories
                    }],
                    yAxis: [{
                        name: 'Number of students',
                        nameGap: 25,
                        nameLocation: 'center',
                        nameRotate: 90,
                        type: 'value'
                    }],
                    series: data.scoresPerGroup.map(group => ({
                        name: group.group,
                        type: 'bar',
                        barGap: 0,
                        data: group.scores.sort((a, b) => a.x > b.x).map(score => score.y)
                    }))
                };
                sdcGroupsChart.setOption(option);
            });
    }

    getByGroups();

    sdcAllResolution.on('change', function () {
        getAll($(this).val(), sdcAllTest.val());
    });
    sdcAllTest.on('change', function() {
        getAll(sdcAllResolution.val(), $(this).val());
    });
    sdcGroupsResolution.on('change', function () {
        getByGroups($(this).val(), sdcGroupsTest.val());
    });
    sdcGroupsTest.on('change', function() {
        getByGroups(sdcGroupsResolution.val(), $(this).val());
    });
    
</script>