<script>
  const duration = 500;
  const emptySelectionMessage = 'Empty selection.';
  const brightness = 1.5;
  const hoverBrightnessFactor = 2;
  const selectTestMessage = 'Select an exam';

  const colorScale = d3.scaleLinear()
    .domain([0, 1])
    .range(["red", "green"])
    .interpolate(d3.interpolateHcl);
  let testScoresData;

  $(() => {

    const testsResultsPercentagesApi = `/analytics/test/pass/percentages/`;
    $.ajax({
      url: testsResultsPercentagesApi,
      type: 'GET',
      cache: false
    }).done((data) => {
      testScoresData = data;
      renderTestsPercentagesBoxPlot(data);
    }).fail((xhr, desc, err) => {
      console.log(`${err}: ${desc}`);
    });

    renderTestParticipationAreaChart();
    renderTestResultsPercentageBarChart();
  });

  let selectedTestID;

  $('.t-participation-options').change(() => {
    const checkedVals = $('input[name=t-participation-settings]:checked').map(function() {
      return this.value;
    }).get();
    if (selectedTestID) {
      const testsApiUrl = `/analytics/test/${selectedTestID}/instances`;
      $.ajax({
        url: testsApiUrl,
        type: 'GET',
        cache: false
      }).done((data) => {
        updateTestParticipationAreaChart(data, checkedVals);
      }).fail((xhr, desc, err) => {
        console.log(`${err}: ${desc}`);
      })
    }
  });

  function selectTest(id, title) {
    Pace.restart();
    selectedTestID = id;
    const testsApiUrl = `/analytics/test/${selectedTestID}/instances`;
    const testPassPercentagesApi = `/analytics/test/pass/percentages/${selectedTestID}`;
    const testInfoApi = `/analytics/test/${selectedTestID}`;
    const testResultsPercentageApi = `/analytics/test/${selectedTestID}/results`;

    d3.select('div.test-title').text(title);

    $.ajax({
      url: testsApiUrl,
      type: 'GET',
      cache: false
    }).done((data) => {
      const checkedVals = $('input[name=t-participation-settings]:checked').map(function() {
        return this.value;
      }).get();
      updateTestParticipationAreaChart(data, checkedVals);
    }).fail((xhr, desc, err) => {
      console.log(`${err}: ${desc}`);
    });

    $.ajax({
      url: testResultsPercentageApi,
      type: 'GET',
      cache: false
    }).done((data) => {
      updateTestResultsPercentageBarChart(data);
    }).fail((xhr, desc, err) => {
      console.log(`${err}: ${desc}`);
    });

    $.ajax({
      url: testPassPercentagesApi,
      type: 'GET',
      cache: false
    }).done((data) => {
      if (d3.select("svg.test-pass-percentage-piechart").empty()) {
        renderTestPieChart(data);
      } else {
        updateTestPieChart(data);
      }
    }).fail((xhr, desc, err) => {
      console.log(`${err}: ${desc}`);
    })
  }
</script>

<%- include("analyticsTestParticipationAreaChart.ejs") %>
<%- include("analyticsTestPassPercentagePieChart.ejs") %>
<%- include("analyticsTestResultsPercentageBarChart.ejs") %>
<%- include("analyticsTestsPercentagesBoxPlot.ejs") %>
