<div class="test-participation-charts even-margins-sm">
    <h2>
        Exam: <%= examTitle %>
    </h2>
    <% if (locals.plagMethod !=undefined) { %>
        <h2>Compare method: <%= locals.plagMethod %>
        </h2>
        <% } %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="pull-right">
                            <h2>
                                <%= `${firstStudent.first_name} ${firstStudent.last_name} (${firstStudent.id})` %>
                            </h2>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="pull-right">
                            <h2>
                                <%= `${secondStudent.first_name} ${secondStudent.last_name} (${secondStudent.id})` %>
                            </h2>
                        </div>
                    </div>
                </div>
                <% for (let i=0; i < questions.length; i++) { %>
                    <hr>
                    <div class="row">
                        <h2>Question: <%= questions[i] %>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="justify-content-center">
                            <h4>Similarity: <%= data[questions[i]].similarity %>%
                            </h4>
                            <h4>Average similarity (all students): <%= data[questions[i]].averageSimilarity %>%
                            </h4>
                            <h4>Max similarity (all students): <%= data[questions[i]].maxSimilarity %>%
                            </h4>
                            <h4>Min similarity (all students): <%= data[questions[i]].minSimilarity %>%
                            </h4>
                            <a
                                href="/analytics/time-dependent-plagiarism/compare/test/<%= examId %>/question/<%= questions[i] %>?idFirstStudent=<%= firstStudent.id %>&idSecondStudent=<%= secondStudent.id %>">
                                See all code versions for this question</a>
                        </div>
                    </div>
                    <% } %>
            </div>
</div>