<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  "use strict";

  const duration = 500;
  const emptySelectionMessage = 'Empty selection.';
  const brightness = 0.8;
  const hoverBrightnessFactor = 2;
  const selectTestMessage = 'Select an exam';
  const noEventsMessage = 'No events';
  let lastLogs;
  let warningStudents = [];

  $(() => {
    renderStudentBehaviourScatterplot();
    d3.selectAll('.test-choice').on('click', testClickHandler);
    let selectedTestID;

    function testClickHandler(d) {
      selectedTestID = +this.value;
      selectTest(selectedTestID);
    }

    function selectTest(selectedTestID) {
      const logsApi = `/analytics/test/${selectedTestID}/logs`;
      const testInfoApi = `/analytics/test/${selectedTestID}`;
      const testParticipantsApi = `/analytics/test/${selectedTestID}/participants`;

      Pace.restart();

      $.ajax({
        url: logsApi,
        type: 'GET',
        cache: false
      }).done((data) => {
        lastLogs = data;
        updateStudentBehaviourScatterplot(data, true);
        renderStudentList();
      }).fail((xhr, desc, err) => {
        console.log(`${err}: ${desc}`);
      });

      $.ajax({
        url: testInfoApi,
        type: 'GET',
        cache: false
      }).done((data) => {
        d3.select('div.test-title').text(data.title);
        document.getElementById('test-info').innerHTML = edgar.ds2Table(data.info);
      }).fail((xhr, desc, err) => {
        console.log(`${err}: ${desc}`);
      })

      function renderStudentList() {
        $.ajax({
          url: testParticipantsApi,
          type: 'GET',
          cache: false
        }).done((data) => {
          $('#student-selection').children().remove().end()
          $('#student-selection').append($('<option>', {
            value: 'all',
            text: 'All'
          }));
          $.each(data, function(i, student) {
            let classTag;
            if (warningStudents.includes(student.id)) {
              classTag = "red";
            }
            $('#student-selection').append($('<option>', {
              value: student.id,
              text: `${student.last_name} ${student.first_name}`,
              class: classTag
            }));
          });
        }).fail((xhr, desc, err) => {
          console.log(`${err}: ${desc}`);
        });
      }
    }

    $('.student-behaviour-options').change(() => {
      Pace.restart();
      const logsApi = `/analytics/test/${selectedTestID}/logs`;
      const studentIDs = $('#student-selection').val();
      const selectedEvents = $('input[name=event-settings]:checked').map(function() {
        return this.value;
      }).get();

      updateStudentBehaviourScatterplot(lastLogs, false, selectedEvents, studentIDs);
    });
  });
</script>

<%- include("analyticsStudentBehaviourScatterplot.ejs") %>
