h1.scale-header {
  padding-left: 4.25%;
  margin: 20px 0 0;
}

div.scale .statement {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

ol.scale {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
}

li.scale {
  position: relative;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

li.scale:not(:first-of-type) input::before {
  left: 0;
}

li.scale:first-of-type input::before,
li.scale:last-of-type input::before {
  width: 50%;
}

li.scale:first-of-type input::before {
  left: 50%;
}

li.scale input {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

li.scale input::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 4px;
  background-color: green;
  content: "";
}

li.scale label {
  margin-top: 8px;
  font-size: 1.1em;
  font-weight: bold;
}

.selected-scale-item {
  background-color: yellowgreen;
  border: 1px black solid;
  border-radius: 5px;
}
