<div class="container-fluid">
    <h2>Tutorials</h2>

    <% if (tutorials.length == 0) { %>
        <p>There are currently no active tutorials for this course</p>
    <% } else { %>

        <%  locals.tabledata = tutorials; %>
        <%- include(`${locals.partialsRoot}/table`) %>

    <% } %>
</div>