<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Start new lecture quiz</title>

  <style>
    <%- include(`${locals.partialsRoot}/_style`) %>
  </style>
  <%- include(`${locals.partialsRoot}/_head`) %>

</head>

<body>
  <br/>
  <div class="container">
    <div class="row d-flex justify-content-center">
        <form id="newLectureForm" method="POST" action="/lecture/startteacher">
          <legend class="text-center header">Start new lecture quiz</legend>

          <div  class="d-flex flex-column justify-content-center">
            <label for="password">Enter quiz password:</label>
            <input id="password" name="password" type="text" placeholder="Password..." class="form-control" required>
            <label class="mt-3"><input name="allow_anon" type="checkbox"> Allow anonymous</label>
            <button type="submit" id="startLectureButton" class="mt-3 btn btn-success">Start</button>
          </div>
        </form>
        <!--</div>-->
      </div>
  </div>
</body>

</html>
