<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%= data.title %></title>

    <style>
       <%- include(`${locals.partialsRoot}/_style`) %>
    </style>
    <%- include(`${locals.partialsRoot}/_public_head`) %>
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha512-v8ng/uGxkge3d1IJuEo6dJP8JViyvms0cly9pnbfRxT6/31c3dRWxIiwGnMSWwZjHKOuY3EVmijs7k1jz/9bLA==" crossorigin="anonymous"></script>
</head>

<body>
    <student-app>Loading...</student-app>

    <%- include(`${locals.partialsRoot}/footer`) %>
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.57.0/lib/codemirror.css" integrity="sha256-F8x+Z3ibZvrT6AYhdYRAhBaA77XYocFUTGA/lMGNVYE=" crossorigin="anonymous">
    <script src="/libs/codemirror/mode/sql/sql.js"></script>
    <script src="/libs/codemirror/mode/clike/clike.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.55.0/lib/codemirror.min.js" crossorigin="anonymous"></script>
    -->
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="/lib/angular/es6-shim.min.js"></script>
    <script src="/lib/angular/system-polyfills.js"></script>
    <script src="/lib/angular/angular2-polyfills.js"></script>
    <script src="/lib/angular/system.src.js"></script>
    <script src="/lib/angular/Rx.js"></script>
    <script src="/lib/angular/angular2.dev.js"></script>
    <script src="/lib/angular/http.dev.js"></script>

    <!-- 2. Configure SystemJS -->
    <script>
        System.config({
            packages: {
                lectureStudent: {
                    format: 'register',
                    defaultExtension: 'js',
                    main: './boot.js'
                },
                common: {
                    defaultExtension: 'js'
                },
                test: {
                    defaultExtension: 'js'
                },
                // "ng-socket-io": { defaultExtension: "js" }

                "socket.io-client": {
                    "defaultExtension": "js"
                } // OVO RADI!!!

            },
            map : {
                lectureStudent: "/app/lecturestudent",
                common: "/app/common",
                test: "/app/test",
                "socket.io-client": "https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js" // OVO   RADI!!!
            }
        });
        System.import('lectureStudent')
            .then(null, console.error.bind(console));
    </script>


</body>

</html>
