<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/exam/review/<%=id_test_instance%>">
    <title>
        Exam review (read only)
    </title>
    <style>
        <%- include(`${locals.partialsRoot}/_style`) %>
    </style>
    <%- include(`${locals.partialsRoot}/_head`) %>
    <link rel="stylesheet" href="/ng/exam-review/styles.css" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="/ng/exam-review/styles.css">
    </noscript>
</head>

<body>
    <app><i class='fa fa-2 fa-spinner fa-spin'></i> Loading exam review, please wait... </app>
    <%- include(`${locals.partialsRoot}/footer`) %>
    <%- include(`${locals.partialsRoot}/_body`) %>
    <script src="/ng/exam-review/runtime.js" type="module"></script>
    <script src="/ng/exam-review/polyfills.js" type="module"></script>
    <script src="/ng/exam-review/main.js" type="module"></script>
</body>

</html>
