<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts-en.common.min.js" 
    integrity="sha512-/Q40jZijQiufYjvG6aiUq9PTUrOt/E9igis1ZLbZv89yl2FIsSwgeZr6w7WipE6ALQ5DuWME/BSCl9F0u0eunQ==" 
    crossorigin="anonymous"></script>
    
<script>
    var chartElem = document.getElementById('chart');
    function initChart() {
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(chartElem);

        // specify chart configuration item and data
        var option = {
            color: ['#3398DB'],
            tooltip: {},
            xAxis: {
                name: 'Score %',
                data: ["0%", "10%", "20%", "30%", "40%", "50%", "60%", "70%", "80%", "90%", "100%"]
            },
            yAxis: {
                name: 'No. of students'
            },
            series: [{
                name: 'Score %',
                type: 'bar',
                data: [<%-percScores%>]
            }]
        };

        // use configuration item and data specified to show chart
        myChart.setOption(option);
    }

    initChart();

    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'csv', 'pdf'
            ]
        } );
    } );
</script>