.d-flex {
  display: flex;
  justify-content: center;
}

.btn-truefalse p {
  margin: 0px;
  color: magenta;  /* fix this., does not select? */
}

/* .btn-truefalse div {
  margin: 0px;
  border: 1px solid red;
  color: brown;
} */

.btn-truefalse {
  min-height: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-width: 20vw;
  opacity: 0.8;
}


.btn-truefalse-selected {
  border: black solid 7px;
  opacity: 1;
  box-shadow: 20px 20px 21px rgba(200, 200, 200, 0.5);

}
.btn-truefalse-selected::after {
  content: "\A\A your answer";
  white-space: pre;
  font-style: italic;
  font-size: 1.2rem;
  float: right;
}
