<span *ngIf="!exam"
  ><i class="fa fa-2 fa-spinner fa-spin"></i>please wait....<i
    class="fa fa-2 fa-spinner fa-spin"
  ></i
></span>

<ng-container *ngIf="exam && !exam.forward_only">
  <span
    *ngFor="let a of exam.currAnswers; let i = index"
    class="aii-qn aii-cursor"
    [class.selected]="isSelected(i)"
  >
    <a (click)="navigateTo(i + 1)">
      {{ i + 1 }}
      (<span [innerHTML]="a | questionAnswerLabel "></span>)
    </a>
  </span>
</ng-container>

<div *ngIf="exam && exam.forward_only">
  <span
    *ngFor="let a of exam.currAnswers; let i = index"
    class="aii-qn"
    [class.selected]="isSelected(i)"
  >
    <span class="badge"
      >{{ i + 1 }}(<span [innerHTML]="a | questionAnswerLabel"></span>)</span
    >
  </span>
  <div class="forward-only-div">
    <button
      class="btn btn-warning forward-only-btn"
      title="This is a forward-only test, it is not allowed to go back. Once you click this button you cannot change your answer to this question anymore."
      [disabled]="isLast() || waitSec > 0"
      (click)="next()"
    >
      <i class="fas fa-forward"></i>&nbsp;
      {{ waitSec > 0 ? "" + waitSec : "Next question (can't go back!)" }}
      &nbsp;<i class="fas fa-forward"></i>
    </button>
  </div>
</div>
