#feedback {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  margin: 0;
  padding: 0;
  border: 1px solid;
  z-index: 100;
}
#feedback .buttons {
  margin: 0;
  max-width: 100px;
  float: left;
}
#feedback .buttons.margins {
  margin: 0 10px 10px 0;
}
#feedback .feedback-button,
#feedback .history-button {
  border-radius: 0;
}
#feedback h6 {
  word-wrap: none;
}

#feedback .history {
  padding: 0 15px;
  border-bottom: 1px solid black;
}
#feedback .history > div {
  border-top: 1px dotted black;
  word-wrap: break-word;
}

#feedback .history {
  max-height: 400px;
  overflow-y: scroll;
}

#feedback .feedback-box,
#feedback .feedback-result {
  padding: 10px;
}
#feedback .comment-label,
#feedback .submit-button {
  float: right;
}

#feedback .rating input {
  display: none;
}
#feedback .rating label {
  border-radius: 2px;
  padding: 5px 10px;
  display: inline-block;
  background-color: #9de5fb;
  cursor: pointer;
}
#feedback .rating input:checked ~ label {
  background-color: #ffca08;
}
#feedback .rating input:hover ~ label {
  background-color: #ffca08;
}

#feedback .feedback-result h6 {
  margin-left: 100px;
}
