<div id="feedback">
  <div class="btn-group-vertical buttons" [class.margins]="_showBox">
    <button
      (click)="onFeedbackClick()"
      class="btn btn-sm btn-primary feedback-button"
      type="button"
    >
      Feedback
    </button>
    <button
      *ngIf="_showBox && _previousFeedbacks.length > 0"
      (click)="toggleHistory()"
      class="btn btn-sm history-button"
    >
      History
    </button>
  </div>
  <div *ngIf="_showHistory" class="history">
    <dl>
      <ng-container *ngFor="let fb of _previousFeedbacks; let i = index">
        <dt [innerHTML]="fb.timestamp"></dt>
        <dd *ngIf="fb.comment">{{ fb.comment }}</dd>
        <dd *ngIf="fb.rating">{{ fb.rating }}/{{ fb.maxRating }}</dd>
      </ng-container>
    </dl>
  </div>
  <div class="feedback-box" *ngIf="_showBox">
    <h6>{{ getFeedbackTitle() }}</h6>
    <small *ngIf="_tsSend">submitted {{ _tsSent }}</small>
    <div *ngIf="!hideComment">
      <label for="feedbackEditor" class="comment-label">Comment</label>
      <textarea
        id="feedbackEditor"
        class="form-control"
        rows="5"
        [disabled]="_sending"
        [(ngModel)]="_comment"
      ></textarea>
      <label>Rating</label>
    </div>
    <div class="rating">
      <span *ngIf="!hideRating">
        <span *ngFor="let n of getRatingClasses(); let i = index">
          <input
            type="radio"
            (click)="setRating(i + 1)"
            [value]="i + 1"
            [checked]="i + 1 === _rating"
            id="feedback-rating-{{ i + 1 }}"
            name="rating"
          />
          <label attr.for="feedback-rating-{{ i + 1 }}">{{ i + 1 }}</label>
        </span>
      </span>
      <button
        (click)="submit()"
        type="button"
        class="btn btn-primary submit-button"
        [innerHTML]="getSubmitLabel()"
        [disabled]="_sending || !canSend()"
      ></button>
    </div>
  </div>
  <div *ngIf="_showResult" class="feedback-result">
    <h6 *ngIf="_resultSuccess" class="text-success">
      Feedback successfully sent
    </h6>
    <h6 *ngIf="!_resultSuccess" class="text-danger">Failed to send feedback</h6>
    <p>
      Click on the feedback button for a new feedback or
      <a (click)="close()">here to close</a>.
    </p>
  </div>
</div>
