<div class="pt-3 pb-1">
  <div class="">
    <button
      *ngIf="question && question.isRunnable()"
      type="button"
      class=""
      [className]="
        getQuestionCorrectStatus()
          ? 'button btn pull-right shadow btn-success'
          : 'button btn pull-right shadow
			btn-primary'
      "
      data-toggle="collapse"
      [attr.data-target]="'#enhance-md-collapse-' + uuid"
    >
      <span>Question #{{ tutorialContent.questionOrdinal }}</span>
    </button>
  </div>
  <div
    *ngIf="question && question.isRunnable()"
    [id]="'enhance-md-collapse-' + uuid"
    class="pt-2 collapse show"
    [ngStyle]="{
      'border-color': getQuestionCorrectStatus() ? '#28a745' : '#007bff'
    }"
    style="border: 3px solid; border-radius: 0.25rem"
  >
    <div *ngIf="question && question.isRunnable()" class="m-2">
      <div
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(question.content)"
      ></div>
      <question-code
        *ngIf="question && question.isRunnable()"
        #questionCode
        class="container-fluid"
        [currAnswer]="getCurrentAnswer()"
        [currQuestion]="question"
        [currQuestionWait]="0"
        [cmSkin]="cmSkin"
        (answerUpdated)="onAnswerUpdated($event)"
        (answerSaved)="onAnswerSaved()"
        (codeRun)="onAnswerEvaluated($event)"
      >
      </question-code>
    </div>
  </div>
</div>

<div class="pt-3 mb-2">
  <div class="">
    <button
      *ngIf="crQuestion"
      type="button"
      class="button btn btn-info pull-right shadow"
      data-toggle="collapse"
      [attr.data-target]="'#enhance-md-collapse-' + uuid"
    >
      <span>Playground</span>
    </button>
  </div>
  <div
    *ngIf="crQuestion"
    class="pt-2 collapse show"
    [id]="'enhance-md-collapse-' + uuid"
    style="border: 3px solid; border-color: #17a2b8; border-radius: 0.25rem"
  >
    <div *ngIf="crQuestion" class="m-2">
      <code-playground
        *ngIf="crQuestion"
        #questionCode
        class="container-fluid"
        [currAnswer]="getCurrentAnswer()"
        [currCodeRunner]="crQuestion"
        [cmSkin]="cmSkin"
        (answerUpdated)="onAnswerUpdated($event)"
        (answerSaved)="onAnswerSaved()"
        (codeRun)="onAnswerEvaluated($event)"
      >
      </code-playground>
    </div>
  </div>
</div>
