<script>

var skins = [
    '3024-day',
'3024-night',
'abcdef',
'all-hallow-eve',
'ambiance-mobile',
'ambiance',
'amy',
'argonaut',
'arona',
'base16-dark',
'base16-light',
'bbedit',
'bespin',
'birds-of-paradise',
'black-pearl-ii',
'black-pearl',
'blackboard-black',
'blackboard',
'bongzilla',
'chanfle',
'chrome-devtools',
'classic-modified',
'clouds-midnight',
'clouds',
'cobalt',
'coda',
'colorforth',
'cssedit',
'cube2media',
'darkpastel',
'dawn',
'demo',
'django',
'dracula',
'eclipse',
'eiffel',
'elegant',
'emacs-strict',
'erlang-dark',
'espresso-libre',
'espresso-soda',
'espresso-tutti',
'espresso',
'fade-to-grey',
'fake',
'fantasyscript',
'fluidvision',
'freckle',
'friendship-bracelet',
'github',
'glitterbomb',
'happy-happy-joy-joy-2',
'hopscotch',
'icecoder',
'idle',
'idlefingers',
'iplastic',
'ir_black',
'ir_white',
'isotope',
'johnny',
'juicy',
'krtheme',
'kuroir',
'lazy',
'lesser-dark',
'liquibyte',
'lowlight',
'mac-classic',
'made-of-code',
//'magicwb-(amiga)',
'material',
'mbo',
'mdn-like',
'merbivore-soft',
'merbivore',
'midnight',
'monoindustrial',
'monokai-bright',
'monokai-fannonedition',
'monokai-sublime',
'monokai',
'mreq',
'neat',
'neo',
'night',
'nightlion',
'notebook',
'oceanic-muted',
'oceanic',
'paraiso-dark',
'paraiso-light',
'pastel-on-dark',
'pastels-on-dark',
'pastie',
'plasticcodewrap',
'prospettiva',
'putty',
'rails-envy',
'railscasts',
'rdark',
'rhuk',
'rubyblue',
'ryan-light',
'seti',
'sidewalkchalk',
'smoothy',
'solarized-dark',
'solarized-light',
'solarized',
'spacecadet',
'spectacular',
'summer-sun',
'summerfruit',
'sunburst',
'swyphs-ii',
'tango',
'text-ex-machina',
'the-matrix',
'tomorrow-night-blue',
'tomorrow-night-bright',
'tomorrow-night-eighties',
'tomorrow-night',
'tomorrow',
'toulousse-lautrec',
'toy-chest',
'ttcn',
'tubster',
'twilight',
'venom',
'vibrant-fin',
'vibrant-ink',
'vibrant-tango',
'xq-dark',
'xq-light',
'yeti',
'zenburn',
'zenburnesque'
];
var loadCMs = function (lang) {
    $("#loading").show();
    var motherdiv = $("#mother");
    motherdiv.html("");
    var snippet;
    if (lang === 'SQL') {
        snippet = 'SELECT *, \'string\' \n  FROM student \nWHERE id = 123;\n-- comment';
    } else if (lang === 'C') {
        snippet = '#include <stdio.h>\nint main(){\n  printf("hello world");\n  return 0;\n}\n //comment';
    } else if (lang === 'Java') {
        snippet = 'public class HelloWorldExample {\n  public static void main(String args[]) {\n    /*\n        Use System.out.println() to print on console.\n    */\n    System.out.println("Hello World !");\n  }\n}\n'; 
    }
    $.each(skins, function(i, skin) {
        motherdiv.append(
            '<div class="col-3" style="border: 1px gray solid;min-height: 150px;"><div class="form-check">'
             +   '<label class="form-check-label">'
             +   '<input class="form-check-input" type="radio" name="cmSkin" id="skin' + i + '" value="' + skin + '" ' + (skin === '<%=session.cmSkin%>' ? 'checked' : '') + '>'
             +    skin
             +    '</label>'
             +    '</div>'
             + '<textarea id="txt' + i + '"  style="display: none">' + snippet + '</textarea><br></div>'
        );
        $("#txt" + i).each(function(idx, elem) {
            CodeMirror.fromTextArea(elem, {
                lineNumbers: true,
                indentUnit: lang === 'SQL' ? 4 : 3,
                tabSize: lang === 'SQL' ? 4 : 3,
                mode: lang === 'SQL' ? "text/x-pgsql" : 
                        lang === 'Java' ? "text/x-java" : "text/x-csrc" ,
                theme: skin,
                readOnly: false
            });
        });
    });
    $("#loading").hide();

}
$("#btnToggleLang").click(function(e) {
    e.preventDefault();
    btn = $(this);
    var curr = btn.val();
    if (curr === 'SQL') {
        curr = 'C';
    } else if (curr === 'C'){
        curr = 'Java';
    } else if (curr === 'Java') {
        curr = 'SQL';
    } 
    btn.attr("value", curr);
    btn.text('Toggle lang ' + curr);
    loadCMs(curr);
});
loadCMs('SQL');
</script>