<div class="container">
<h1>Question grader object</h1>
Any question can have a "grader object" which defines how to grade the question when performing <b>manual grading</b>.
<br>It enables teachers to have even criteria when manually grading and also to speed up the grading process.
<br>However, defining criteria requires effort and is more suitable when the number of exams (students) is large.

<br><b>Criteria (grading object) can be defined from different prespectives</b>:
<ol>
  <li><b>Deductive:</b> an array of to-deduct percentages (with descriptions) is defined. The grading starts from 100% and corresponding percentages are deducted (of course, hard limit is 0%)</li>
  <li><b>Additive:</b> an array of to-add percentages (with descriptions) is defined. The grading starts from 0% and corresponding percentages are added (of course, hard limit is 100%)</li>
  <li><b>Mixed:</b> combination of the above approaces. Grading starts at 0%.</li>
</ol>

You can also manually define the "startFrom" percentage value.

<br>Here is the example of the mixed grader object with all properties defined (each property is commented):
<br> (any property can be omitted)

<PRE>
{
    "allCorrect": "All is correct, well done!",   // if teacher select the "All correct" checkbox, then only this string is used and score is 100%
    "intro": {    // introductionary messages (greetings)
        "always": "Your task has been manually reviewed.",
        "error": "We found the following errors:"   // this is shown only if there are errors
    },
    "add": [   // additive model items, the number of items is arbitrary
        {
            "perc": 50,
            "desc": "Has the first part"
        },
        {
            "perc": 50,
            "show": true,    // by default, add array items are NOT shown to the student, but you can override it with show property
            "desc": "Has the second part"
        }
    ],
    "deduct": [
        {
            "perc": 10,
            "desc": "Failed to properly address ..."
        },
        {
            "perc": 60,
            "desc": "Invalid major part.",
            "show": false  // by default, deduct array items ARE SHOWN to the student, but you can override it with show property
        }
    ],
    "outro": {  // closing messages
        "always": "Best regards",
        "error": "Due to the mentioned errors you should ..." // this is shown only if there are errors
    }
}
</PRE>
