<div class="p-5">


<h1>Tutorials</h1>
<p>
  The purpose of tutorials is to provide interactive lectures/exercises of some topic.
  A topic should be broken down into steps, and one tutorial consists of an arbitrary number of steps.
  Besides title and description, tutorial has two (boolean) flags:
</p>
<ul>
  <li><b>Active</b>
    dictates whether the tutorial is visible to students. Of course, keep this OFF while you're developing the tutorial,
    and switch it ON when you want to "publish" the tutorial.
    <br>Active tutorials are visible on the home screen.
  </li>
  <li><b>Allow Random Access</b>
    <p>
     If OFF, students can not progress to the next step until they have correctly answered all the <b>required</b> questions on
     the current step. 
     <br>Obviously, a question can be required or not (solution is optional).
     <br>Typically this flag is ON, as it provides a more relaxed experience for the students.
    </p>
  </li>
</ul>

<hr/>
Step content is assigned in markdown, same as questions.
<br>The educational content can be interwoven with interacitve questions and playgrounds, which are defined via a custom markdown injected into the github markdown.
<br>On the tutorial step edit form there are dedicaed buttons which insert this new custom markdown in the current cursor position.
<br>Currently, the following question types are supported:
<ol>
  <li>
    <h3>Multicorrect multichoice questions</h3>
    ... or ABC questions with possibly multiple correct answers if you will. There are actually two versions of these:
    <div>
      <ul>
        <li>
          <h4> 1.a. Embedded multicorrect multichoice questions</h4>
          Embedded questions are regular questions that are inserted into the step text via the following markup (again,
          don't worry - there is a button for that in the edit form) :
          <pre>
            <-- question qid=123 required -->
            //  delete "required" attribute above if the question is optional
            <-- /question -->
          </pre>
          rendered as: <img src="/images/multichoice_placeholder.png" />
        </li>
        <li>
          <h4> 1.b. Inlined (markup) multicorrect multichoice questions</h4>
          For ABC questions, creating a new standard question (with appropriate node, etc.) might be an overkill, and so
          it is possible to create ad-hoc multicorrect question via markup:
          <pre>
            <-- multichoice required -->
            Should I stay or should **I go**?
            @@@
            Stay
            @@@
            Go
            @@@
            Stall
            <-- correct -->
            <-- /multichoice -->
          </pre>
          rendered same as the above - there is no difference for the user.
        </li>
        <ul>
    </div>
    

  </li>
  <li>
    <h3>Code question (C, Java, Python, SQL, ...)</h3>
    Simply embed an existing code question via: 
    <pre>
        <!-- code-question qid=123  -->
        // inital code here, delete "required" attribute above if the question is optional
        <!-- /code-question -->
    </pre>
    Note that this question (markup above) does not have the "required" flag.
    <br>So, the entire step will turn green with or without the correct solution to this question.
    <br>Also, if this was allow-random-steps-OFF tutorial, the solution to this question would be optional.
  </li>
  <li>
    <h3>Code playground</h3>
    To be fair, this is not really a question.
    It is a code sandbox/playground that you can provide for student to try something out, without evaluating the
    result.
    So, unlike the code question:
    <ul>
      <li>there are no test-cases, code is not evaluated/graded</li>
      <li>there IS a stdin input - student can assign the standard input stream</li>
    </ul>
    Look at this as a "small IDE" in the browser. Of course, you can ask the student to evaluate some code in their IDE,
    but then they have to switch contexts, go back and forth etc.
    Note that any code given between these tags will be injected as a startup code. 
    <br>The same goes for code questions.
  </li>
</ol>

<hr/>
Finally, note that tutorials feature well-known and beloved tickets. 
<br>A teacher can subscribe to tickets, receive mails, student will recieve mail and notification of a closed ticket, etc...

</div>