<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts-en.common.min.js" 
    integrity="sha512-/Q40jZijQiufYjvG6aiUq9PTUrOt/E9igis1ZLbZv89yl2FIsSwgeZr6w7WipE6ALQ5DuWME/BSCl9F0u0eunQ==" 
    crossorigin="anonymous"></script>
    
<script>
    var chartElement = document.getElementById('chart');
    var toolbox = {
        show: true,
        orient: 'horizontal',
        left: 'center',
        top: 'bottom',
        itemGap: 30,
        feature: {
            mark: {
                show: true
            },
            dataView: {
                show: true
            },
            magicType: {
                show: true,
                type: ['line', 'bar']
            },
            restore: {
                show: true
            },
            saveAsImage: {
                show: true
            }
        }
    };

    function initChart() {
        var chart = echarts.init(chartElement);

        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['Class group', <%- JSON.stringify(analytics.rows.map(x => x.class_group)).slice(1, -1) %>]
            },
            toolbox: toolbox,
            calculable: true,
            xAxis: {
                name: 'Class group',
                nameLocation: 'center',
                nameGap: 25,
                type: 'category',
                data: <%- JSON.stringify(analytics.rows.map(row => row.class_group)) %>
            },
            yAxis: {
                name: 'Number of students',
                nameGap: 25,
                nameLocation: 'center',
                nameRotate: 90
            },
            series: [{
                type: 'bar',
                name: 'Started',
                data: <%- JSON.stringify(analytics.rows.map(row => row.started)) %>
            }, {
                type: 'bar',
                name: 'finished',
                data: <%- JSON.stringify(analytics.rows.map(row => row.finished)) %>
            }]
        };

        chart.setOption(option);
    }

    initChart();
</script>