<div class="container-fluid">
    <h2>Exercise group analytics</h2>

    <div id="chart" class="chart"></div>
    
    <p>Rows with numbers represent question IDs. The cell values are: number of students from the group that gave a correct solution / number of students from the group that got that question in their exercises.</p>

    <% if (analytics.length == 0) { %>
        <p>There are currently no records for this exercise.</p>
    <% } else { %>

        <%  locals.tabledata = analytics; %>
        <%- include(`${locals.partialsRoot}/table`) %>

    <% } %>
</div>