<ng-container class="container-fluid" *ngIf="_examLoaded">
  <header-review
    [_isReview]="true"
    [examReview]="_examReviewService.getExam()"
    (showScoreboard)="onShowScoreboard()"
  >
  </header-review>
  <div class="container-fluid">
    <ng-container
      *ngIf="_examLoaded && _examReviewService.getExam().usesTicketing"
    >
      <ticket [ordinal]="1"></ticket>
    </ng-container>

    <question-review-content
      *ngFor="let q of questions"
      [currQuestion]="q"
      [cmSkin]="_examReviewService.getExam().cmSkin"
    >
    </question-review-content>
  </div>
</ng-container>
