<div class="container">
  <h4
    *ngIf="currQuestion.multiCorrect === true"
    class="text-info mb-3 text-center"
  >
    This question contains multiple correct answers!
  </h4>
  <button
    type="button"
    class="edgar-q-answer"
    *ngFor="let a of currQuestion.answers"
    (click)="onSelect(a)"
    [disabled]="saved"
    [class.edgar-selected]="isSelected(a)"
  >
    <div class="edgar-answer-badge badge badge-secondary">
      {{ { multichoice: [a.ordinal] } | questionAnswerLabel }}
    </div>
    <div
      style="margin-left: 50px"
      class="text-left"
      [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
    ></div>
  </button>
</div>
