<br />
<div *ngIf="result && result.score" style="margin-top: 10px">
  <div [innerHTML]="result.score.is_correct | jsonResultScoreHint"></div>
  <hr />
</div>
<div *ngIf="isRunning()" class="text-center">
  <div class="text-center">
    <h2>
      Please wait, your answers (and correct answers) are being reevaluated.
    </h2>
  </div>
  <img
    src="/assets/images/waiting.gif"
    alt="Patience, grasshoper"
    style="width: 480px; height: 317px; left: 0px; top: 0px"
  />
</div>
<div
  *ngIf="
    result && result.score && result.score.hint && !result.score.is_correct
  "
>
  <div class="row">
    <div class="col-md-6">
      <h4>Result:</h4>
      <div [innerHTML]="getHtml()"></div>
    </div>
    <div class="col-md-6">
      <div [innerHTML]="result.score.hint | jsonResultHint"></div>
    </div>
  </div>
</div>
<div
  *ngIf="
    !(result && result.score && result.score.hint && !result.score.is_correct)
  "
>
  <h4>Result:</h4>
  <div [innerHTML]="getHtml()"></div>
</div>
<div *ngIf="isRevision && c_eval_data">
  <a
    class="btn btn-primary"
    data-toggle="collapse"
    href="#loggedEvalData"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    See logged data
  </a>
  <div class="collapse" id="loggedEvalData">
    <div class="card card-body">
      <h3>Logged evaluation data (should match the above):</h3>
      <pre>{{ c_eval_data }}</pre>
    </div>
  </div>
</div>
