<script>
var nodes = [];
var questions = [];
<%for (var i=0; i < nodes.length; ++i){%>
    nodes.push({
        id : <%=nodes[i].id%>,
        type_name: '<%=nodes[i].type_name%>',
        node_name: '<%=nodes[i].node_name%>'
    });
<%}%>

<%for (var i=0; i < questions.length; ++i){%>
    questions.push({
        id : <%=questions[i].id%>,
        id_ver_act: '<%-questions[i].id_ver_act%>',
        txt: ` <%=questions[i].txt.replace(/\`/g, '')%> `,
        user_time: '<%=questions[i].user_time%>'
    });
<%}%>

var toTable = function (items, actBefore, attrs, actAfter) {
  var html = '<table class="table table-sm table-hover no-footer"><thead><tr><td>#(' + items.length +')</td>';
  var columns = [];
  var i, c;
  for (c = 0; actBefore && c < actBefore.length; ++c) {
      html += '<td>' + actBefore[c] + '</td>';
  }
  for (c = 0; attrs && c < attrs.length; ++c) {
      html += '<td>' + attrs[c] + '</td>';
  }
  for (c = 0; actAfter && c < actAfter.length; ++c) {
      html += '<td>' + actAfter[c] + '</td>';
  }
  html += '</thead></tr><tbody>';
  i = 0;
  items.forEach(function(row) {
      html += '<tr><td>' + (++i) + '</td>';
      for (c = 0; actBefore && c < actBefore.length; ++c) {
        html += '<td><button type="' + actBefore[c] + '" class="btn btn-info" itemid="' + row.id + '">' + actBefore[c]  + '</button></td>';
      }
      for (c = 0; attrs && c < attrs.length; ++c) {
          html += '<td>' + row[attrs[c]] + '</td>';
      }
      for (c = 0; actAfter && c < actAfter.length; ++c) {
        var btnClass = actAfter[c].toLowerCase().indexOf('del') >= 0 ? 'btn-danger' : 'btn-success';
        html += '<td><button type="' + actAfter[c] + '" class="btn ' + btnClass + '" itemid="' + row.id + '">' + actAfter[c]  + '</button></td>';
      }
      html += '</tr>';
  });
  html += '</tbody></table>';
  return html;
}

var attachQuestionDel = function() {
  $('#qdiv').find('button[type="Del"]').click(function(e) {
    var btn = $(this);
    e.preventDefault();
    // /:id_node([0-9]{1,10})/question/delete/:id_question([0-9]{1,10})
    var node_id = $('#ndiv').find('tr.edgar-row-selected button[type="Sel"]').attr("itemid");
    var question_id = btn.attr("itemid");
    $.post(`/node/${node_id}/question/delete/${question_id}`)
      .done(function(data) {
        if (data.success && data.rowsAffected === 1) {
          refreshQuestions();
        } else {
          edgar.showInfoDialog('Something went wrong, rows affected:' + data.rowsAffected);
        }
      });
  });
}
var attachQuestionAdd = function() {
  $('#qdiv').find('button[type="Add"]').click(function(e) {
    var btn = $(this);
    e.preventDefault();
    // /:id_node([0-9]{1,10})/question/add/:id_question([0-9]{1,10})
    var node_id = $('#ndiv').find('tr.edgar-row-selected button[type="Sel"]').attr("itemid");
    var question_id = btn.attr("itemid");
    $.post(`/node/${node_id}/question/add/${question_id}`)
      .done(function(data) {
        if (data.success && data.rowsAffected === 1) {
          refreshQuestions();
        } else {
          edgar.showInfoDialog('Something went wrong, rows affected:' + data.rowsAffected);
        }
      });
  });
}
var attachNodesDel = function() {
  $('#ndiv').find('button[type="Del"]').click(function(e) {
    var btn = $(this);
    e.preventDefault();
    // /:id_node([0-9]{1,10})/question/delete/:id_question([0-9]{1,10})
    var question_id = $('#qdiv').find('tr.edgar-row-selected button[type="Sel"]').attr("itemid");
    var node_id = btn.attr("itemid");
    $.post(`/node/${node_id}/question/delete/${question_id}`)
      .done(function(data) {
        if (data.success && data.rowsAffected === 1) {
          refreshNodes();
        } else {
          edgar.showInfoDialog('Something went wrong, rows affected:' + data.rowsAffected);
        }
      });
  });
}
var attachNodesAdd = function() {
  $('#ndiv').find('button[type="Add"]').click(function(e) {
    var btn = $(this);
    e.preventDefault();
    // /:id_node([0-9]{1,10})/question/add/:id_question([0-9]{1,10})
    var question_id = $('#qdiv').find('tr.edgar-row-selected button[type="Sel"]').attr("itemid");
    var node_id = btn.attr("itemid");
    $.post(`/node/${node_id}/question/add/${question_id}`)
      .done(function(data) {
        if (data.success && data.rowsAffected === 1) {
          refreshNodes();
        } else {
          edgar.showInfoDialog('Something went wrong, rows affected:' + data.rowsAffected);
        }
      });
  });
}


var refreshNodes = function () {
  var question_id = $('#qdiv').find('tr.edgar-row-selected button[type="Sel"]').attr("itemid") || 0;
  $('#ndiv').html('<i class="fa fa-2 fa-spinner fa-spin"></i> Please wait...');
  $.get('/node/list/nodes/' + question_id)
    .done(function(data) {
      var selectedNodes = [];
      var otherNodes = [];
      nodes.forEach(function(node) {
        if ($.inArray(node.id, data.nodes) >= 0) {
          selectedNodes.push(node);
        } else {
          otherNodes.push(node);
        }
      });
      $('#ndiv').html(
        '<h2>Assigned nodes:</h2>' +
        toTable(selectedNodes, ['Sel'], ['type_name', 'node_name'], ['Del'])
        +
        '<h2>Other nodes:</h2>' +
        toTable(otherNodes, ['Sel'], ['type_name', 'node_name'], ['Add'])
      );
      $('#ndiv').find('table').DataTable({
        'iDisplayLength': 500
      });
      attachNodeSel();
      attachNodesDel();
      attachNodesAdd();
    });
}

var attachQuestionSel = function() {
  $('#qdiv').find('button[type="Sel"]').click(function(e) {
    e.preventDefault();
    $('#qdiv').find('tr.edgar-row-selected').removeClass('edgar-row-selected');
    $(this).closest("tr").addClass('edgar-row-selected');
    refreshNodes();
  });
}

var refreshQuestions = function() {
  $('#qdiv').html('<i class="fa fa-2 fa-spinner fa-spin"></i> Please wait...');
  var node_id = $('#ndiv').find('tr.edgar-row-selected button[type="Sel"]').attr("itemid") || 0;
  $.get('/node/list/questions/' + node_id)
    .done(function(data) {
      var selectedQuestions = [];
      var otherQuestions = [];
      questions.forEach(function(question) {
        if ($.inArray(question.id, data.questions) >= 0) {
          selectedQuestions.push(question);
        } else {
          otherQuestions.push(question);
        }
      });
      $('#qdiv').html(
        '<h2>Assigned questions:</h2>' +
        toTable(selectedQuestions, ['Sel'], ['id_ver_act', 'txt', 'user_time'], ['Del'])
        +
        '<h2>Other questions:</h2>' +
        toTable(otherQuestions, ['Sel'], ['id_ver_act', 'txt', 'user_time'], ['Add'])
      );
      $('#qdiv').find('table').DataTable({
        'iDisplayLength': 5000
      });
      attachQuestionSel();
      attachQuestionDel();
      attachQuestionAdd();
    });
}

var attachNodeSel = function() {
  $('#ndiv').find('button[type="Sel"]').click(function(e) {
    e.preventDefault();
    $('#ndiv').find('tr.edgar-row-selected').removeClass('edgar-row-selected');
    $(this).closest("tr").addClass('edgar-row-selected');
    refreshQuestions();
  });
}
var init = function() {
  $('#ndiv').html('Loading, please wait...');
  $('#ndiv').html(toTable(nodes, ['Sel'],  ['type_name', 'node_name']));
  $('#ndiv').find('table').DataTable({
    'iDisplayLength': 5000
  });
  attachNodeSel();
}

init();

</script>

