<script type="text/javascript">
    var stack = [<%=id_root%>];
    var network = null;
    var directionInput = document.getElementById("direction");
    // nodes
    var allnodes = {
        <%for (var i=0; i < nodes.length; ++i){%>
            <%=nodes[i].id_child%> : {id: <%= nodes[i].id_child %>, value: <%= nodes[i].cnt_active %>, "label": "<%= nodes[i].node_name + ' (' + nodes[i].cnt_active + ')' %>", "group": <%= nodes[i].id_node_type %>, id_parent: <%= nodes[i].id_parent !== null ? nodes[i].id_parent : 'null' %>},
        <%}%>
    };
    // edges
    var alledges = [
        <%for (var i=0; i < edges.length; ++i){%>
            <% if (edges[i].id_parent) {%>
                {"from": <%= edges[i].id_child %>, "to": <%= edges[i].id_parent %>},
            <%}%>
        <%}%>
    ];

    function destroy() {
        if (network !== null) {
            network.destroy();
            network = null;
        }
    }
    function redraw() {
        destroy();
        // create a network
        var container = document.getElementById('qvis1');
        var nodebag = {};
        var nodes = [];
        var edges = [];
        var i;
        var root_id = stack.slice(-1)[0];
        nodes.push(allnodes[root_id]);
        nodebag[root_id] = 1;
        do {
            var added = false;
            for (i = 0; i < alledges.length; ++i) {
                if (nodebag[alledges[i].to] && !nodebag[alledges[i].from]) {
                    nodes.push(allnodes[alledges[i].from]);
                    nodebag[alledges[i].from] = 1;
                    added = true;
                }
            }
        } while (added);
        for (i = 0; i < alledges.length; ++i) {
            if (nodebag[alledges[i].from] && nodebag[alledges[i].to]) {
                edges.push(alledges[i]);
            }
        }
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            nodes: {
                shape: 'dot',
                scaling: {
                  min: 10,
                  max: 30
                }
            },
            physics: {
                forceAtlas2Based: {
                    gravitationalConstant: -26,
                    centralGravity: 0.005,
                    springLength: 230,
                    springConstant: 0.18
                },
                maxVelocity: 146,
                solver: 'forceAtlas2Based',
                timestep: 0.15,
                stabilization: {iterations: 150}
            }
        };
        var network = new vis.Network(container, data, options);
        network.on("doubleClick", function (params) {
            if (stack.slice(-1)[0] == params.nodes[0] && stack.length > 1) {
                stack.pop();
                redraw();
            } else {
                stack.push(params.nodes[0]);
                redraw();
            }
        });
        network.on("click", function (params) {
            var node = allnodes[params.nodes[0]];
            $('#node_id').val(node.id);
            $('input[name=parent_id]').val(node.id);
            $('#node_name').val(node.label.substring(0, node.label.lastIndexOf('(')).trim());
            $('#node_type1').val(node.group);
            $.get('/node/' + params.nodes[0] + '/questions')
            .done(function(data) {
                document.getElementById('q1').innerHTML = '<h2>node id:' + params.nodes[0] + '</h2>' +  edgar.ds2Table(data.qs);
            });
        });

    }
    redraw();
</script>