<div *ngIf="!_tutorialLoaded">
  <h1>
    <i class="fa fa-2 fa-spinner fa-spin"></i>Please wait, loading your
    tutorial...
  </h1>
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>
<div *ngIf="_tutorialLoaded && !_intialQuestionLoaded">
  <h2>
    <i class="fa fa-2 fa-spinner fa-spin"></i>Tutorial loaded, loading
    questions...
  </h2>
  <div class="lds-circle">
    <div></div>
  </div>
</div>

<div *ngIf="_tutorialLoaded && _intialQuestionLoaded" class="fitTheContent">
  <ng-container *ngTemplateOutlet="template"></ng-container>
</div>

<ng-template #template>
  <router-outlet> </router-outlet>
</ng-template>
