span {
  color: purple;
  display: block;
  background: #ccc;
  padding: 5px;
}

:host ::ng-deep .submit-question-content {
  max-height: 200px;
  overflow-y: hidden;
  opacity: 0.3;
}

.fitTheContent {
  max-width: 100%;
}

body {
  margin: 0;
  height: 100%;
}
