<div class="container">
  <div class="mb-3 d-flex justify-content-end">
    <button
      class="btn btn-primary col-1 mr-2"
      type="reset"
      (click)="reset()"
    >
      Reset
    </button>
    <button
      class="btn btn-success col-1"
      type="submit"
      [disabled]="saved"
      (click)="save()"
    >
      Save
    </button>
  </div>

  <div *ngIf="currQuestion.displayOption === 'horizontal'; else vertical">
    <div
      class="horizontal-container nowrap"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="ordered-element"
        *ngFor="let a of getElements()"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
        cdkDrag
      ></div>
    </div>
  </div>
  <ng-template #vertical>
    <div cdkDropList class="vertical-container" (cdkDropListDropped)="drop($event)">
      <div
        class="ordered-element"
        *ngFor="let a of getElements()"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
        cdkDrag
      ></div>
    </div>
  </ng-template>
</div>
