/* You can add global styles to this file, and also import other style files */
.sticky-header {
  padding: 20px 10px;
  margin-bottom: 2rem;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #dee2e6 !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span.horizontal-shake {
  /* animation: horizontal-shaking2 2.5s infinite;*/
  display: inline-block;
  white-space: nowrap;
  animation-duration: 1s;
  animation-name: slidetext;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes slidetext {
  from {
    margin-left: -5%;
  }
  to {
    margin-left: 5%;
  }
}

.large-text {
  font-size: 1.2em;
}
