<div class="container-fluid border-bottom sticky-top m-0 p-0">
  <tutorial-header
    [latestStepOrdinal]="_tutorial.latestStepOrdinal"
    (finished)="finishedInfo($event)"
    (stepNullChange)="currStepIsNull($event)"
    (stepChanged)="stepChanged($event)"
    [nullWarning]="_headOrBottomNull"
    [stepCorrectStatuses]="stepCorrectStatuses"
    [correctStatus]="_allQuestionsCorrect"
    class="sticky-top"
  ></tutorial-header>
</div>
<div>
  <div *ngIf="_currStep && _currStep.ordinal">
    <ticket [ordinal]="_currStep.ordinal"></ticket>
  </div>
  <div
    style="
      position: fixed;
      transform: translate(0%, -50%);
      top: 50%;
      right: 0px;
    "
  >
    <ul style="list-style-type: none">
      <li *ngFor="let content of getBookmarks()" class="question-bookmark">
        <a
          [routerLink]=""
          [className]="getCodeRunnerCssClass(content)"
          (click)="gotoHashtag(content.questionOrdinal)"
          >&nbsp;</a
        >
      </li>
    </ul>
  </div>

  <div>
    <div class="container-fluid">
      <div *ngIf="_currStep && !_currStepIsNull" class="row">
        <section class="step mb-5">
          <div style="width: 90%; margin: auto" class="mt-5">
            <h2>
              <span
                *ngIf="_currStep > 0 && _currStep.hints.length > 0"
                class="text-danger"
                title="This step has hints available. Click on Edgar to get one."
                >*</span
              >
            </h2>
            <div *ngFor="let content of tutorialContent" enhance-md>
              <div
                *ngIf="content.html != 'CR'"
                [innerHTML]="sanitizer.bypassSecurityTrustHtml(content.html)"
              ></div>
              <tutorial-abc
                *ngIf="content.isAbc()"
                [tutorialContent]="content"
                (answerChanged)="onAnswerUpdated($event)"
                (answerEvaluated)="onAnswerEvaluated($event)"
                id="q-{{ content.questionOrdinal }}"
              >
              </tutorial-abc>
              <code-runner
                *ngIf="content.isCodeRunner()"
                [tutorialContent]="content"
                (codeRun)="onAnswerEvaluated($event)"
                (answerChanged)="onAnswerUpdated($event)"
                (answerSaved)="onAnswerSaved($event)"
                id="q-{{ content.questionOrdinal }}"
              >
              </code-runner>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_currStepIsNull && _finished" class="congratulations">
  <h1 class="text-success mt-5">Congratulations!</h1>
  <p>You have successfully finished this tutorial!</p>
  <div class="img-hover-zoom img-hover-zoom--point-zoom">
    <img class="point-zoom" src="/assets/images/yesmeme.png" />
  </div>
</div>
