.congratulations {
  max-width: 800px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.question {
  border-top: #9de5fb 5px solid;
  padding-bottom: 5rem;
}

/*table {
    margin: 10px;
    padding: auto;
}*/

thead {
  color: #9de5fb;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

li.question-bookmark a {
  border-radius: 100%;
  display: inline-block;
  line-height: 100px;
  margin-bottom: 2rem;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
}

.img-hover-zoom--point-zoom img {
  transform-origin: 75% 15%;
  transition: transform 1s, filter 0.5s ease-out;
}

/* The Transformation */
.img-hover-zoom--point-zoom:hover img {
  transform: scale(5);
}
