<div class="row">
    <div class="offset-2 col-8">

        <fieldset class="form-group row">
            <div class="col-12">
                <label for="tutorial_title">Title</label>
                <input type="text" id="tutorial_title" name="tutorial_title" value="<%- tutorial_title %>" class="form-control" required />
            </div>
            <div class="col-12">
                <label for="tutorial_desc">Description</label>
                <textarea id="tutorial_desc" name="tutorial_desc" value="<%- tutorial_desc%>" class="form-control" placeholder="Optional"><%- tutorial_desc %></textarea>
                <p class="form-text text-muted">Lecture material that is the content of the tutorial, learning outcomes of the tutorial, etc.</p>
            </div>

            
            <div class="col-6">
                <label class="form-check-label" for="is_active">Active</label>
                <div id="is_active">
                    <input class="form-check-input" type="checkbox" name="is_active" value="true" data-toggle="toggle" <%=((is_active) ? "checked" : "")%>>
                    <p class="form-text text-muted">Should the tutorial be listed for students?</p>
                </div>
            </div>
            <div class="col-6">
                <label class="form-check-label" for="is_active">Random access</label>
                <div id="allow_random_access">
                    <input class="form-check-input" type="checkbox" name="allow_random_access" value="true" data-toggle="toggle" <%=((allow_random_access) ? "checked" : "")%>>
                    <p class="form-text text-muted">Allow random access to tutorial steps (otherwise enforce sequence 1, 2, 3, ...)</p>
                </div>
            </div>
        </fieldset>
    </div>
</div>