<form method="POST">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>New tutorial step</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="text-center col-sm-6 col-lg-3">
                <p>Choose a question type for the step</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 card card-body">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="id_question_type" id="id_question_type1" value="2" checked>
                                new SQL question using code runner:
                                <%  locals.combodata = {id:"id_code_runner", list:code_runners, name:"id_code_runner"}; %>
                                    <%- include(`${locals.partialsRoot}/combo`) %>
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="id_question_type" id="id_question_type2" value="1">
                                new multiple-choice question with
                                <select class="form-control" name="answers_count" id="answers_count">
                                    <% for (var i = 2; i <= 10; ++i) { %>
                                        <option value="<%- i %>"<% if (i ==5) { %> selected<% } %>><%- i %></option>
                                    <% } %>
                                </select>
                            </div>
                            answers.
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <button type="submit" class="btn btn-success">Add &amp; continue editing step</button>
            </div>
        </div>
    </div>
</form>