<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        Public stalk
    </title>
    <style>
        <%- include(`${locals.partialsRoot}/_style`) %>
    </style>
    <%- include(`${locals.partialsRoot}/_public_head`) %>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<div>
    <%- include('./../test/testInstancesOngoingView') %>
</div>

<%- include(`${locals.partialsRoot}/_body`) %>

</body>
</html>
