<hr>
<div class="container-fluid">
  <div class="card card-body">
    <h4 class="card-title">Peer assessment properties (2)</h4>

    <div class="row">
      <div class="col-12 text-center">
        <button id="btnShuffleKeepGroups" type="button" class="btn btn-info" title="you can run this multiple times">1. Shuffle keep groups (save params before)</button>
        <button id="btnShuffleAll" type="button" class="btn btn-info" title="you can run this multiple times">1. Shuffle all together (save params before)</button>
        <button id="btnSaveShuffle" type="button" class="btn btn-success">2. Save current shuffle</button>
        <button id="btnGenerateExams" type="button" class="btn btn-success">3. (Re)generate exams (save shuffle before)</button>
      </div>        
      
      <% if (peer_exams) {%>
        <div class="col-12" style="display: flex; justify-content: center;">
          <h5>Generated exams (these will be run by students, mind the passwords...):</h5>
        </div>        
        <div class="col-12" style="display: flex; justify-content: center;">
          <table>
            <tr>
              <th>id</th>
              <th>ordinal</th>
              <th>password</th>
              <th>ts_available_from</th>
              <th>ts_available_to</th>
              <th>type_name</th>
            </tr>
          <% for (let exam of peer_exams) {%>
            <tr>
              <td><%=exam.id%></td>
              <td><%=exam.test_ordinal%></td>
              <td><%=exam.password%></td>
              <td><%=exam.ts_available_from%></td>
              <td><%=exam.ts_available_to%></td>
              <td><%=exam.type_name%></td>
            </tr>
          <% } %>
        </table>
      </div>        
      <% } %>
      
    </div>    
  </div>
  
  <div id="shuffleChart" style="width: 100%;"></div>  

</div>