<% if (test.type_name === 'Peer assessment PHASE2 MASTER') { %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts-en.min.js"
    integrity="sha512-bHJjukAEXqiJdnUlb1I2Oios4izlP1da7mpUIeogj26NjAmT/EEbcDn0AlnAE+eOaJyQAsPy5FIzw4dhfe8o4A=="
    crossorigin="anonymous"></script>
<% } %>
<script>
  var shuffleObj;
  <% if (locals.peer_shuffle &&  JSON.stringify(peer_shuffle) !== "{}") { %>

    shuffleObj = <%- JSON.stringify(peer_shuffle)%>;

  <% } %>
  <% if (test.type_name === 'Peer assessment PHASE2 MASTER') { %>

    var shuffleIDs, shuffleData;
  //screen.width + "*" + screen.height
    $("#shuffleChart").height($("#shuffleChart").width());
    var shuffleChart;
    if (echarts) shuffleChart = echarts.init(document.getElementById('shuffleChart'));
    var refreshShuffleChart = function (obj) {
      shuffleObj = obj;  // will be used to save the shuffle
      shuffleIDs = [];
      for (let id in obj) {
        shuffleIDs.push(parseInt("" + id));
      }
      shuffleIDs.sort();
      shuffleData = [];
      let x = 0;
      for (let id of shuffleIDs) {
        let ord = 0;
        for (let otherId of obj[id]) {
          shuffleData.push([x, shuffleIDs.indexOf(otherId), ++ord]);
        }
        x++;
      }
      option = {
        tooltip: {
          position: 'top'
        },
        animation: false,
        // grid: {
        //   height: '50%',
        //   top: '10%'
        // },
        xAxis: {
          type: 'category',
          data: shuffleIDs,
          splitArea: {
            show: true
          }
        },
        yAxis: {
          type: 'category',
          data: shuffleIDs,
          splitArea: {
            show: true
          }
        },
        // visualMap: {
        //   min: 0,
        //   max: 1,
        //   calculable: true,
        //   orient: 'horizontal',
        //   left: 'center',
        //   bottom: '15%'
        // },
        series: [{
          name: 'Shuffle for <%=test.id%>',
          type: 'heatmap',
          data: shuffleData,
          label: {
            show: true
          },
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }]
      };
      shuffleChart.setOption(option);
    }
    if (shuffleObj) refreshShuffleChart(shuffleObj);
    var invokeShuffle = function (e, mode) {
      e.preventDefault();
      $.ajax({
        url: '/test/def/shuffle/<%- test.id %>/' + mode,
        type: 'GET',
        cache: false,
        success: function (data, status) {
          console.log(data.data);
          refreshShuffleChart(data.data);
          //$("#shufflePA2result").html(JSON.stringify(data.data));
        },
        error: function (xhr, desc, err) {
          alert('error shuffling exam <%- test.id %>' + err);
        }
      });
    }
    $("#btnShuffleKeepGroups").click(function (e) {
      invokeShuffle(e, 0);
    });
    $("#btnShuffleAll").click(function (e) {
      invokeShuffle(e, 1);
    });
    $("#btnSaveShuffle").click(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/test/def/shuffle/save/<%- test.id %>',
        type: 'POST',
        cache: false,
        data: shuffleObj,
        success: function (data, status) {
          if (data.success) {
            alert("Saved");
          } else {
            alert("Not saved! See the console.");
            console.log(data);
          }
        },
        error: function (xhr, desc, err) {
          alert('error saving exam <%- test.id %>' + err);
        }
      });
    });
    $("#btnGenerateExams").click(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/test/def/peerexam/generate/<%- test.id %>',
        type: 'POST',
        cache: false,
        success: function (data, status) {
          alert(data.message);
        },
        error: function (xhr, desc, err) {
          alert('error (re)generating peer exams <%- test.id %>' + err);
        }
      });
    });



  <% } %>







  $(".chosen-select").chosen();
  var refreshTestParts = function () {
    $.ajax({
      url: '/test/def/testparts/<%- test.id %>',
      type: 'GET',
      cache: false,
      success: function (data, status) {
        $("#divTestParts").html(data);
        refreshTestPartsDeleteButtonEventListeners();
      },
      error: function (xhr, desc, err) {
        alert('error refreshing exam parts:' + err);
      }
    });
  }

  var refreshTestQuestions = function () {
    $.ajax({
      url: '/test/def/testquestions/<%- test.id %>',
      type: 'GET',
      cache: false,
      success: function (data, status) {
        $("#divTestQuestions").html(data);
        refreshTestQuestionsDeleteButtonEventListeners();
      },
      error: function (xhr, desc, err) {
        alert('error refreshing exam questions:' + err);
      }
    });
  }
  var refreshPeerTestQuestions = function (test_id) {
    $.ajax({
      url: '/test/def/peertestquestions/' + test_id,
      type: 'GET',
      cache: false,
      success: function (data, status) {
        $("#peer21").html(data);
        refreshPeerTestQuestionsDeleteButtonEventListeners();
      },
      error: function (xhr, desc, err) {
        alert('error refreshing exam questions:' + err);
      }
    });
  }


  var refreshPeerTestQuestionsDeleteButtonEventListeners = function () {
    $(".peer-test-questions button[type='button']").click(function (e) {
      var btn = $(this);
      var pgqId = btn.val();
      $.ajax({
        url: '/test/def/peertestquestions/' + pgqId,
        type: 'DELETE',
        cache: false,
        success: function (data, status) {
          refreshPeerTestQuestions($("#id_test").val());
        },
        error: function (xhr, desc, err) {
          alert('error deleting exam questions:' + err + ' desc:' + xhr.responseText);
        }
      })
    })
  }
  refreshPeerTestQuestionsDeleteButtonEventListeners();

  var refreshTestQuestionsDeleteButtonEventListeners = function () {
    $("#divTestQuestions button[type='button']").click(function (e) {
      var btn = $(this);
      var testQuestionId = btn.val();
      $.ajax({
        url: '/test/def/testquestions/' + testQuestionId,
        type: 'DELETE',
        cache: false,
        success: function (data, status) {
          refreshTestQuestions();
        },
        error: function (xhr, desc, err) {
          alert('error deleting exam questions:' + err);
        }
      })
    })
  }

  refreshTestQuestionsDeleteButtonEventListeners();

  var refreshTestPartsDeleteButtonEventListeners = function () {
    $("#divTestParts button[type='button']").click(function (e) {
      var btn = $(this);
      var testPartId = btn.val();
      $.ajax({
        url: '/test/def/testparts/' + testPartId,
        type: 'DELETE',
        cache: false,
        success: function (data, status) {
          refreshTestParts();
        },
        error: function (xhr, desc, err) {
          alert('error deleting exam parts:' + err);
        }
      })
    })
  }

  refreshTestPartsDeleteButtonEventListeners();

  var onSubmitAddNode = function (e, form) {
    e.preventDefault();
    var data = form.serializeArray();
    data.push({
      name: 'id_test',
      value: $("#id_test").val()
    });
    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      cache: false,
      data: data,
      success: function (data, status) {
        refreshTestParts();
      },
      error: function (xhr, desc, err) {
        alert('error adding node' + err);
      }
    });
  }
  var attachPeerTestId = function (data) {
    let peerid = $('.peer-group-pane.active input.id_peer_test_group');
    console.log('peerid',peerid);
    if (peerid.length) {
      data.push({
        name: 'id_peer_test_group',
        value: peerid.val()
      });
      return peerid.val();
    } else {
      return undefined;
    }
  }
  var onSubmitAddQuestion = function (e, form) {
    e.preventDefault();
    var data = form.serializeArray();
    data.push({
      name: 'id_test',
      value: $("#id_test").val()
    });
    let peer_test_id = attachPeerTestId(data);
    $.ajax({
      url:  form.attr('action'),
      type: form.attr('method'),
      cache: false,
      data: data,
      success: function () {

        if (peer_test_id) {
          refreshPeerTestQuestions($("#id_test").val());
        } else {
          refreshTestQuestions();
        }

      },
      error: function (xhr, desc, err) {
        alert('error adding question' + err + ' desc: ' + xhr.responseText);
      }
    });
  }

  var validateForm = function (form, notify = false, ajax = false) {
    $("body").css("cursor", "progress");
    var msgDiv = $('#validationMessage');
    return new Promise((resolve, reject) => {
      $.ajax({
        url: '/test/def/validate?ajax=' + ajax,
        type: 'POST',
        cache: false,
        data: form.serialize(),
        success: function (data, status) {
          $("body").css("cursor", "default");
          if (data.valid) {
            if (notify) {
              if (data.warning) {
                msgDiv.removeClass('alert-success')
                  .removeClass('alert-danger')
                  .addClass('alert-warning')
                  .html(
                    "<p>The test definition is valid, but you may consider the following warning(s): <ul>" +
                    data.warning + "</ul></p>");
              } else {
                msgDiv.removeClass('alert-warning')
                  .removeClass('alert-danger')
                  .addClass('alert-success')
                  .html("The test definition is valid");
              }
              msgDiv.show();
            } else {
              msgDiv.hide();
            }
            resolve(true);
          } else {
            msgDiv.removeClass('alert-warning')
              .removeClass('alert-success')
              .addClass('alert-danger')
              .html(data.error);
            msgDiv.show();
            resolve(false);
          }
        },
        error: function (xhr, desc, err) {
          $("body").css("cursor", "default");
          alert('error validating test definition: ' + err);
        }
      });
    });
  }
  $("#testDefForm").submit(function (e) {
    e.preventDefault();
    var form = $(this);
    var valid = validateForm(form)
      .then((valid) => {
        if (valid) {
          // Use native DOM submit call to avoid triggering
          // this jQuery event listener in infinite loop
          document.getElementById('testDefForm').submit();
        }
      });
  });

  $("#btnCloneUp").click(function (e) {
    var btn = $(this);
    btn.closest("form").attr("action", "/test/def/cloneup");
  });
  $("#btnClone").click(function (e) {
    var btn = $(this);
    btn.closest("form").attr("action", "/test/def/clone");
  });
  $("#btnDeepClone").click(function (e) {
    var btn = $(this);
    btn.closest("form").attr("action", "/test/def/deepclone");
  });
  $("#btnTestGen").click(function (e) {
    var btn = $(this);
    btn.closest("form").attr("action", "/test/def/testgen");
  });
  $("#btnValidateTest").click(function (e) {
    var btn = $(this);
    var form = btn.closest("form");
    validateForm(form, true, true);
  });
  $("#btnSaveTest").click(function (e) {
    var btn = $(this);
    btn.closest("form").attr("action", "/test/def/save");
  });

  $("#frmNodes").submit(function (e) {
    var form = $(this);
    e.preventDefault(); // prevents default
    var btn = $("#btnFetchNodes");
    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      cache: false,
      data: form.serializeArray(),
      success: function (data, status) {
        $("#divNodes").html(data);
        $("#divNodes").find("form").submit(function (e) {
          onSubmitAddNode(e, $(this));
        });
      },
      error: function (xhr, desc, err) {
        $("#divNodes").html('Error fetching nodes :(');
      }
    });
    return false;
  });

  $("#frmQuestions").submit(function (e) {
    var form = $(this);
    e.preventDefault(); // prevents default
    var btn = $("#btnSearchQuestions");
    var data = form.serializeArray();
    attachPeerTestId(data);
    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      cache: false,
      data: data,
      success: function (data, status) {
        $("#divQuestions").html(data);
        $("#divQuestions").find("form").submit(function (e) {
          onSubmitAddQuestion(e, $(this));
        });
      },
      error: function (xhr, desc, err) {
        $("#divQuestions").html('Error fetching questions :(');
      }
    });
    return false;
  });

  let replaces = [new RegExp('\\s+', 'gi'), new RegExp('\\[t\\]', 'gi'), new RegExp('\\[n\\]', 'gi'), new RegExp(
      '\\[bc\\]', 'gi'),
    new RegExp('[0-9]+[.]?[0-9]*', 'gi'), new RegExp('[+\\-*/()^%]', 'gi'), new RegExp('math\\.', 'gi')
  ];

  Object.getOwnPropertyNames(Math).forEach(prop => {
    replaces.push(new RegExp(prop, 'gi'));
  })

  let areInputsValid = [false, false, false, false];

  formulaValidOrInvalid();

  $('#eval_comp_score_formula').on('input change', e => {
    formulaValidOrInvalid();
    enableOrDisableRunBtn();
  });

  function formulaValidOrInvalid() {
    $('#eval_comp_score_formula').removeClass('valid-border invalid-border');

    let formula = $('#eval_comp_score_formula').val();
    if (isFormulaValid(formula)) {
      $('#eval_comp_score_formula').addClass('valid-border');
      areInputsValid[0] = true;
    } else {
      $('#eval_comp_score_formula').addClass('invalid-border');
      areInputsValid[0] = false;
    }
  }

  function isFormulaValid(formula) {
    replaces.forEach(repl => {
      if (formula) formula = formula.replace(repl, '');
    });

    return !!!formula
  }

  $('#bc').on('input change', e => {
    areInputsValid[1] = checkInputValidOrInvalid('#bc');
    enableOrDisableRunBtn();
  });

  $('#n').on('input change', e => {
    areInputsValid[2] = checkInputValidOrInvalid('#n', 1);
    enableOrDisableRunBtn();
  });

  $('#t').on('input change', e => {
    areInputsValid[3] = checkInputValidOrInvalid('#t', 0, 1);
    enableOrDisableRunBtn();
  });

  function enableOrDisableRunBtn() {
    let enable = areInputsValid.reduce((prev, curr) => {
      return prev && curr;
    }, true);

    enable ? $('#run-formula').prop('disabled', false) : $('#run-formula').prop('disabled', true)
  }

  function checkInputValidOrInvalid(selector, lowerBound, upperBound) {
    $(selector).removeClass('valid-border invalid-border');

    let $n = $(selector);

    let value = $n.val()

    if (!value) {
      return false;
    }

    let numeric = +value;

    if (isNaN(numeric) || (lowerBound && numeric < lowerBound) || (upperBound && numeric > upperBound)) {
      $(selector).addClass('invalid-border');

      return false;
    }

    $(selector).addClass('valid-border');

    return true;
  }

  $('#run-formula').click(e => {
    let formula = $('#eval_comp_score_formula').val();
    let bc = +$('#bc').val();
    let n = +$('#n').val();
    let t = +$('#t').val();


    let result = evaluateFormula(formula, bc, n, t);

    $('#preview').attr('placeholder', '= ' + result.toFixed(3));
  });

  function evaluateFormula(formula, bc, n, t) {
    formula = formula.toLowerCase();
    formula = formula.replace('/\[bc\]/g', bc);
    formula = formula.replace('/\[n\]/g', n);
    formula = formula.replace('/\[t\]/g', t);

    return eval(formula)
  }

  $('#is_competition_checkbox').change(e => {
    $("#eval_comp_score").toggleClass('hidden', $('#is_competition_checkbox').prop('checked'));
    $("#eval_comp_score").animate({
      height: 'toggle',
      opacity: 'toggle'
    }, 'slow');
  })

  $('.fas.fa-info-circle').popover({
    container: '#eval_comp_score'
  })
</script>
