<script src = "/libs/codemirror/addon/mode/overlay.js"></script>
<script src = "/libs/codemirror/mode/gfm/gfm.js"></script>
<script src="/libs/codemirror/mode/sql/sql.js"></script>
<script>
    var codeEditors = {};
    $("textarea").each(function(idx, elem) {
        var ordinal = $(elem).attr("ordinal");
        if (ordinal) {
            var editor = CodeMirror.fromTextArea(elem, {
              lineNumbers: true,
              indentUnit: 4,
              tabSize: 4,
              mode: "text/x-pgsql",
              theme: "<%=session.cmSkin%>",
              readOnly: false,
              extraKeys: {
                    "Ctrl-Enter": function(cm) {
                        var code = cm.getSelection();
                        if (!code || 0 == code.length) {
                            code = cm.getDoc().getValue();
                        }
                        runCode(code, ordinal);
                    }
                }
            });
            codeEditors[ordinal] = editor;
        }
    });
   
    var runCode = function (code, ordinal) {
        var data = { code: code};
        $("button[name='runCode']").html('<i class="fa fa-2 fa-spinner fa-spin"></i>');
        $.ajax({
            url: "/playground/snippet/exec/" + ordinal,
            type: "POST",
            cache: false,
            data: data,
            success: function(data, status) {
                $("button[name='runCode']").html('Run');
                var html = data.success ? edgar.json2Table2(data.data, "sqlresult" + ordinal, `Database:${data.db}`) : data.error.message + '(Position:' + data.error.position + ')';  // TODO: format in general?
                $("#codeResult" + ordinal).html(html);
                $('#sqlresult' + ordinal ).DataTable({
                    'iDisplayLength': 200,
                    'lengthMenu': [[50, 100, 200, 500, -1], [50, 100, 200, 500, "All"]]
                });
                if (data.warning) {
                    $("#codeMessage" + ordinal).html('Warning: ' + data.warning);
                } else {
                    $("#codeMessage" + ordinal).html('');
                }
            },
            error: function(xhr, desc, err) {
                $("#codeResult" + ordinal).html('' + data);
                $("button[name='runCode']").html('Run');
            }
        });
    }
    $("button[name='runCode']").click(function(e){
        var btn = $(this);
        e.preventDefault(); // prevents default
        for (var ord in codeEditors) {
            codeEditors[ord].save();
        }
        var ordinal = btn.attr("ordinal");
        runCode($("#codeEditor"  + ordinal).val(), ordinal);
        return false;
    });
    $("button[name='openSnippet'], button[name='insertSnippet']").click(function(e){
        var btn = $(this);
        //e.preventDefault(); // prevents default
        $.ajax({
                url: "/playground/snippet/all",
                type: "GET",
                success: function(snippets, status) {
                    if (snippets.success) {
                        var innerHtml = '';
                        for (var snip of snippets.data) {
                            innerHtml += '<a class="dropdown-item" href="/playground/sandbox/snippet/' + snip.id + '"> ' + snip.title + ' (' + snip.ts_modified +  ')</a>';
                        }
                        $("#openSnippetList").html(innerHtml);
                    } else {
                        edgar.showInfoDialog('Cannot get snippet list from the server. :-O  Error:' + data.error.message);
                    }
                },
                error: function(xhr, desc, err) {
                    edgar.showInfoDialog('Cannot get snippet list from the server. :-O');
                }
            });
        return true; //false;
    });
    $("button[name='insertSnippet']").click(function(e){
        var btn = $(this);
        var ordinal = btn.attr("ordinal");
        //e.preventDefault(); // prevents default
        $.ajax({
                url: "/playground/snippet/all",
                type: "GET",
                success: function(snippets, status) {
                    if (snippets.success) {
                        var innerHtml = '';
                        for (var snip of snippets.data) {
                            innerHtml += '<a class="dropdown-item" href="#" insertSnippetId="' + snip.id + '"> ' + snip.title + ' (' + snip.ts_modified +  ')</a>';
                        }
                        $("#insertSnippetList").html(innerHtml);
                        $("a[insertSnippetId]").click(function (){
                            $.get("/playground/sandbox/snippet/code/" + $(this).attr("insertSnippetId"), function (data) {
                                if (data.success) {
                                    var editor = codeEditors[ordinal];
                                    var doc = editor.getDoc();
                                    var cursor = doc.getCursor();
                                    doc.replaceRange(data.code, cursor);
                                } else {
                                    edgar.showInfoDialog("Failed to retrieve code:" + data.error.message);
                                }
                            }).fail(function() {
                                edgar.showInfoDialog("Failed to retrieve code");
                            });
                        });
                    } else {
                        edgar.showInfoDialog('Cannot get snippet list from the server. :-O  Error:' + data.error.message);
                    }
                },
                error: function(xhr, desc, err) {
                    edgar.showInfoDialog('Cannot get snippet list from the server. :-O');
                }
            });
        return true; //false;
    });
    var saveSnip = function (snipName, ordinal, snippetId) {
        $.ajax({
            url: (snippetId ? "/playground/snippet/save/" + snippetId : "/playground/snippet/saveas"),
            type: "POST",
            cache: false,
            data: {title: snipName, code: $("#codeEditor"  + ordinal).val(), id_code_runner_ordinal: ordinal},
            success: function(data, status) {
                if (data.success) {
                    edgar.showInfoDialog('Snippet "' + name + '" saved (' + data.rowsAffected + ' rows affected).' );
                    window.location.href = "/playground/sandbox/snippet/" + data.snippetId;
                } else {
                    edgar.showInfoDialog('Snippet "' + name + '" NOT saved. Error:' + data.error.message);
                }
            },
            error: function(xhr, desc, err) {
                edgar.showInfoDialog('Snippet "' + name + '" NOT saved.');
            }
        });
    };
    $("button[name='saveSnippet']").click(function(e){
        var btn = $(this);
        var ordinal = btn.attr("ordinal");
        var snippetId = btn.attr("snippetId");
        e.preventDefault(); // prevents default
        for (var ord in codeEditors) {
            codeEditors[ord].save();
        }
        saveSnip(null, ordinal, snippetId);
        return false;
    });
    $("button[name='saveAsSnippet']").click(function(e){
        var btn = $(this);
        var ordinal = btn.attr("ordinal");
        e.preventDefault(); // prevents default
        for (var ord in codeEditors) {
            codeEditors[ord].save();
        }
        edgar.showInputDialog('Please, give a code-snippet name.<br/>Snippets with the same name will be overwritten.', 'Saving code snippet...', function(name) {
            saveSnip(name, ordinal);

        });
        return false;
    });
    // $(document).ready(function() {
    //     Object.keys(codeEditors).forEach(ordinal => {
    //         codeEditors[ordinal].refresh();
    //     });
    // } );
</script>