<div class="container-fluid">
    <h2>Exercises</h2>

    <% if (exercises.length == 0) { %>
        <p>There are currently no active exercises for this course</p>
    <% } else { %>

        <%  locals.tabledata = exercises; %>
        <%- include(`${locals.partialsRoot}/table`) %>

    <% } %>
</div>