<div class="container-fluid">
    <h2>Tutorial group analytics</h2>

    <div id="chart" class="chart"></div>

    <p>Rows with numbers represent step ordinals. The cell values are number of students from the group that successfully completed that step.</p>

    <% if (analytics.length == 0) { %>
        <p>There are currently no records for this tutorial (it is still a virgin tutorial).</p>
    <% } else { %>

        <%  locals.tabledata = analytics; %>
        <%- include(`${locals.partialsRoot}/table`) %>

    <% } %>
</div>