<div class="container-fluid">
    <h2>Tutorial usage analytics for the current academic year (only students enrolled this year are shown)</h2>
    <ul>
      <li>Total minutes represents the total number of minutes spent on all steps of the tutorial</li>
      <li>Total reasonable minutes ignores step durations longer than 100 mins (someone left the tutorial open, hanging...).</li>
      <li>Load count simply counts the "Load tutorial" events - how many times the student started/refreshed the tutorial.</li>
    </ul>
    <% if (analytics.length == 0) { %>
        <p>There are currently no records for this tutorial (it is still a virgin tutorial).</p>
    <% } else { %>

        <%  locals.tabledata = analytics; %>
        <%- include(`${locals.partialsRoot}/table`) %>

    <% } %>
</div>
