<div
  *ngIf="currQuestion.attachments && currQuestion.attachments.length > 0"
  class="row border border-light rounded d-flex p-2 m-3 bg-light"
>
  <h4><i class="fas fa-paperclip"></i>&nbsp;Attachment(s):</h4>
  <div *ngFor="let attachment of currQuestion.attachments" class="ml-5">
    <div *ngIf="attachment.is_public === true">
      <a
        href="{{ _devStub }}/upload/attachment/{{ attachment.filename }}"
        target="_blank"
      >
        <h4>
          <i class="file-icon fa fa-file"></i>
          {{ attachment.label }}
        </h4>
      </a>
    </div>
  </div>
</div>
