<div class="mb-2">
  <div class="mb-3 d-flex justify-content-end">
    <button
      class="btn btn-primary col-1 mr-2"
      type="reset"
      (click)="reset()"
    >
      Reset
    </button>
    <button
      class="btn btn-success col-1"
      type="submit"
      [disabled]="saved"
      (click)="save()"
    >
      Save
    </button>
  </div>

  <div class="container" cdkDropListGroup>
    <div class="static-container">
      <div
        *ngFor="let answerStatic of currQuestion.answersStatic"
        class="static-container-row"
      >
        <div
          class="box static-box"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(answerStatic.aHtml)"
        ></div>
        <div
          [id]="'droplist-' + answerStatic.ordinal"
          cdkDropList
          [cdkDropListData]="[answerStatic]"
          class="static-drag-area"
          [class.static-drag-area-empty] = "!(currAnswer.multichoice[answerStatic.ordinal - 1] > 0)"
          (cdkDropListDropped)="drop($event, answerStatic.ordinal)"
          (cdkDragEnter)="onCdkDragEnter($event)"
          (cdkDragExit)="onCdkDragExit($event)"
        >
          <div
            *ngIf="currAnswer.multichoice[answerStatic.ordinal - 1] > 0"
            class="box static-answer-box"
            cdkDrag
            [cdkDragData]="currAnswer.multichoice[answerStatic.ordinal - 1]"
            (cdkDragStarted)="onCdkDragStarted($event)"
            (cdkDragEnded)="onCdkDragEnded($event)"
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(currQuestion.answersDynamic[ currAnswer.multichoice[answerStatic.ordinal - 1] - 1 ].aHtml)"
          >
          </div>
          <div *ngIf="!(currAnswer.multichoice[answerStatic.ordinal - 1] > 0)">
            <span class="text-muted">drop here</span>
          </div>
        </div>
      </div>
    </div>

    <div class="dynamic-container">
      <div
        id="dynamicList"
        cdkDropList
        [cdkDropListData]="currQuestion.answersDynamic"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="box dynamic-box"
          *ngFor="let answerDynamic of getDynamicAnswers() "
          cdkDrag
          [cdkDragData]="answerDynamic.ordinal"
        >
          <div
            [innerHTML]="sanitizer.bypassSecurityTrustHtml(answerDynamic.aHtml)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
