
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.1.0/echarts.min.js"
    integrity="sha512-W7jN6TS8p1Qwh4GSXsXh0tWSdAXN4v0MEgq9uOsYcz8A/KxzSPzBL1jDPErfgKUMb11QV2BknSzY/HltjLKPfg=="
    crossorigin="anonymous"></script>


<i>Note: set max score to see the overall exam distribution</i>
<div class="d-flex flex-wrap border rounded">
    <div id="examDistribution" style="width:45%; height:500px;"></div>
    <div style="width:50%;">
        <%  locals.tabledata = examTeacherTableStats; %>
        <%- include(`${locals.partialsRoot}/table`) %>            
    </div>
</div>
<i>Note: upper: Q3 + 1.5 * IQR, lower: Q1 - 1.5 * IQR</i>
<div class="d-flex flex-wrap border rounded mb-5">
    <div id="perTeacherBoxPlot" style="width:45%; min-width:500px; height:500px;"></div>
    <div id="perTestPartOrdinalBoxPlot" style="width:45%; min-width:500px; height:500px;"></div>
    <div id="perQuestionOrdinalBoxPlot" style="width:45%; min-width:500px; height:500px;"></div>
    <div id="perQuestionAndOrdinalBoxPlot" style="width:45%; min-width:500px; height:500px;"></div>
</div>

<div class="flex-wrap border rounded boder-dark">
    <h4>Per test parts per teacher:</h4>
    <div id="perTestPartPerTeacher" class="d-flex flex-wrap">
        <template>
            <div style="width:45%; min-width:500px; height:500px;">chart</div>
        </template>
    </div>
</div>
<h4>Per question per teacher:</h4>
<div id="perQuestionOrdinalPerTeacher" class="d-flex flex-wrap border rounded boder-dark">
    <template>
        <div style="width:45%; min-width:500px; height:500px;">chart</div>
    </template>
</div>

<%  locals.tabledata = tableStatsQuestion; %>
<%- include(`${locals.partialsRoot}/table`) %>

<script>

var option;

function buildBoxPlotOption(title, sourcedata, itemNameArray, subtitle, titleLink) {
    return {
    title: [
        {
            text: title,
            subtext: subtitle,
            left: 'center',
            link: titleLink, 
            target: 'blank'
        }
    ],
    dataset: [{
        source: sourcedata
    }, {
        transform: {
            type: 'boxplot',
            config: { 
                itemNameFormatter: function (item) {
                    return itemNameArray[item.value];
                }
            }
        }
    }, {
        fromDatasetIndex: 1,
        fromTransformResult: 1
    }],
    tooltip: {
        trigger: 'item',
        axisPointer: {
            type: 'shadow'
        }
    },
    grid: {
        left: '10%',
        right: '10%',
        bottom: '15%'
    },
    xAxis: {
        type: 'category',
        boundaryGap: true,
        nameGap: 30,
        splitArea: {
            show: false
        },
        splitLine: {
            show: false
        }
    },
    yAxis: {
        type: 'value',
        name: 'score',
        splitArea: {
            show: true
        }
    },
    series: [
        {
            name: 'score stats',
            type: 'boxplot',
            datasetIndex: 1,
            itemStyle: {
                color: '#b8c5f2'
            },            
            encode: {
                tooltip: ['Low', 'Q1', 'Q2', 'Q3', 'High']
            }
        },
        {
            name: 'outlier',
            type: 'scatter',
            datasetIndex: 2
        }
    ]
};
}

var perTeacherX = [<%- perExamTeacher.map(x => "'" + x.last_name + "(" + x.scores.length + ")'").join(","); %>];
option = buildBoxPlotOption('Exam score per teacher', [<%- perExamTeacher.map(x => "[" + x.scores + "]\n").join(","); %>], perTeacherX);
option && echarts.init(document.getElementById('perTeacherBoxPlot')).setOption(option);


var perOrdinalX = [<%- perOrdinal.map(x => `'${x.ordinal}(${x.scores.length})'`).join(","); %>];
option = buildBoxPlotOption('Score per question ordinal', [<%- perOrdinal.map(x => "[" + x.scores + "]\n").join(","); %>], perOrdinalX);
option && echarts.init(document.getElementById('perQuestionOrdinalBoxPlot')).setOption(option);

var perTPX = [<%- perExamPart.map(x => `'${x.ordinal}(${x.scores.length})'`).join(","); %>];
option = buildBoxPlotOption('Score per exam part ordinal', [<%- perExamPart.map(x => "[" + x.scores + "]\n").join(","); %>], perTPX);
option && echarts.init(document.getElementById('perTestPartOrdinalBoxPlot')).setOption(option);




var perQuestionOrdinalX = [<%- perQuestionOrdinal.map(x => `'${x.avg_ordinal}(${x.id_question})'`).join(","); %>];
option = buildBoxPlotOption('Score per question * ordinal', [<%- perQuestionOrdinal.map(x => "[" + x.scores + "]\n").join(","); %>], perQuestionOrdinalX);
option && echarts.init(document.getElementById('perQuestionAndOrdinalBoxPlot')).setOption(option);


let perExamPartPerTeacher = <%- JSON.stringify(perExamPartPerTeacher)%>;
let arrTestPartOrdinals = perExamPartPerTeacher.map(x => x.ordinal).filter((obj, idx, arr) => (
    arr.findIndex((o) => o === obj) === idx
));

//

let templateItem0 = document.getElementsByTagName("template")[0].content.querySelector("div");
for(let i = 0; i < arrTestPartOrdinals.length; ++i) {
    let tpData = perExamPartPerTeacher.filter(x=> x.ordinal === arrTestPartOrdinals[i]);
    let plot = document.importNode(templateItem0, true);
    document.getElementById('perTestPartPerTeacher').appendChild(plot);
    let arrX = tpData.map(x => `${x.last_name}(${x.scores.length})`);
    let arrY = [];
    tpData.map(x => arrY.push(x.scores));
    option = buildBoxPlotOption(`Score for test part ${tpData[0].ordinal}`,
        arrY,
        arrX);
    option && echarts.init(plot).setOption(option);
}




let perQuestionOrdinalPerTeacher = <%- JSON.stringify(perQuestionOrdinalPerTeacher)%>;
let arrQuestionIds = perQuestionOrdinalPerTeacher.map(x => x.id_question).filter((obj, idx, arr) => (
    arr.findIndex((o) => o === obj) === idx
));

//perExamPartPerTeacher

let templateItem1 = document.getElementsByTagName("template")[1].content.querySelector("div");
for(let i = 0; i < arrQuestionIds.length; ++i) {
    let questionData = perQuestionOrdinalPerTeacher.filter(x=> x.id_question === arrQuestionIds[i]);
    let plot = document.importNode(templateItem1, true);
    document.getElementById('perQuestionOrdinalPerTeacher').appendChild(plot);
    let arrX = questionData.map(x => `${x.last_name}(${x.scores.length})`);
    let arrY = [];
    questionData.map(x => arrY.push(x.scores));    
    option = buildBoxPlotOption(`Score for question ${questionData[0].id_question}`,
        arrY,
        arrX,
        `${questionData[0].question_text}(...)`.replace(/\n/g, ''),
        `/question/edit/${questionData[0].id_question}`);
    option && echarts.init(plot).setOption(option);
}






function getExamDistribution(resolution = 5) {
        var sdcAllChart = echarts.init(document.getElementById('examDistribution'));
        sdcAllChart.clear();
        var g1 = $.get('/analytics/manualscore/distribution/?resolution=' + resolution + '&testId=' + <%=id_test%>);

        $.when(g1).done(function (total) {
            
            var option = {
                legend: {
                    data: total.map(item => item.y)
                },
                title: {
                    text: 'Exam score distribution'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                calculable: true,
                xAxis: {
                    name: 'Score percentage',
                    nameLocation: 'center',
                    nameGap: 25,
                    type: 'category',
                    data: total.map(item => item.x)
                },
                yAxis: {
                    name: 'Number of students',
                    nameGap: 25,
                    nameLocation: 'center',
                    nameRotate: 90,
                    type: 'value'
                },
                series: [{
                    data: total.map(item => ({
                        value: item.y,
                        itemStyle: {
                            color: 'gray',
                            borderColor: 'black',
                        }
                    })),
                    type: 'bar'
                }]
            };

            sdcAllChart.setOption(option);
        });    
    }
getExamDistribution();
</script>


