<br>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <img src="/images/sfae.png" class="img-fluid mx-auto" alt="Speak friend and enter...">
    </div>
  </div>
  <!-- <form action="/exam/run/new" method="POST">
    <div class="row justify-content-center">
      
        <div class="input-group mb-3" style="max-width: 500px;">
          <input type="text" name="password" class="form-control" placeholder="Password..." autofocus="True">
            <div class="input-group-append">
              <button class="btn btn-danger" type="submit"><i class="fas fa-play-circle"></i>&nbsp;
                <span class="hidden-sm">ng13: Start exam</span>
              </button>              
            </div>
        </div>
        <% if (locals.errMessage) { %>
          <div class="alert alert-danger text-center">
            <%=  errMessage %>
          </div>
        <% }%>
      
    </div>
    <% if (course.is_competitive === true) { %>
    <div class="row justify-content-center">
      <div class="col-6">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
    </div>
    <% }%>
  </form> -->
  <form action="/exam/run/new" method="POST">
    <div class="row justify-content-center">
      
        <div class="input-group mb-3" style="max-width: 500px;">
          <input type="text" name="password" class="form-control" placeholder="Password..." autofocus="True">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="submit"><i class="fas fa-play-circle"></i>&nbsp;
                <span class="hidden-sm">Start exam</span>
              </button>              
            </div>
        </div>
        <% if (locals.errMessage) { %>
          <div class="alert alert-danger text-center">
            <%=  errMessage %>
          </div>
        <% }%>
      
    </div>
    <% if (course.is_competitive === true) { %>
    <div class="row justify-content-center">
      <div class="col-6">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
    </div>
    <% }%>
  </form>
 

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if (locals.ysnp) { %>
  <video poster="/images/ysnp.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
    <source src="/videos/ysnp.webm" type="video/webm">
    <source src="/videos/ysnp.mp4" type="video/mp4">
  </video>
<% } %>
<% if (locals.unsubmittedTests && locals.unsubmittedTests.rows.length) { %>
<div class="row justify-content-center">
  <div class="col-6"">
    <h3>You have unsubmitted exams:</h3>
    <% locals.tabledata = unsubmittedTests; locals.tabledata.class = 'table table-sm table-hover edgar no-dt'; %>
    <%- include(`${locals.partialsRoot}/table`) %>
  </div>
</div>
<% } %>