<form>
  <div class="row d-flex justify-content-between pl-2 pr-2 align-items-center">
          <div class="offset-1 col-4">
            <fieldset class="form-group">
              <label for="pa1">Select PA1 exam:</label>
              <%  locals.combodata = {id:"id_test", list:pa1List, name:"id_test"}; %>
              <%- include(`${locals.partialsRoot}/combo`) %>
            </fieldset>
          </div>
          <div class="col-5">
            <fieldset class="form-group">
              <label> Where did you stash the awarded score?</label>
              <%  locals.combodata = {id:"id_test_score", list:pa2List, name:"id_test_score"}; %>
              <%- include(`${locals.partialsRoot}/combo`) %>
            </fieldset>
          </div>
          <div class="col-2">
              <button class="btn btn-outline-success">Refresh</button>
          </div>
  </div>
</form>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" role="tab" data-toggle="tab" href="#tabByAssessed">By assessed student</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="tab" data-toggle="tab" href="#tabByAssessor">By assessor</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tabByAssessed">
        <div class="container-fluid">
            <% if (locals.byAssessed) {%>
              <%  locals.tabledata = byAssessed; locals.tabledata.class = 'table table-sm table-hover edgar no-dt';  %>
              <%- include(`${locals.partialsRoot}/table`) %>
            <% } %>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tabByAssessor">
        <div class="container-fluid">
            <% if (locals.byAssessor) {%>
              <%  locals.tabledata = byAssessor; locals.tabledata.class = 'table table-sm table-hover edgar no-dt';  %>
              <%- include(`${locals.partialsRoot}/table`) %>
            <% } %>
        </div>
    </div>

</div>
