<script>
    if (!$('textarea').length) {
        $('#ar<%=locals.autorefresh%>').addClass("badge badge-primary");
        <% if (locals.autorefresh && locals.autorefresh > 0) { %>
            setTimeout("location.reload(true);", 1000 * <%=locals.autorefresh %>);
        <% } %>        
    } else {
        $('#arpanel').hide();
    }
</script>