<script>
    if (!$('textarea').length) {
        $('#ar<%=locals.autorefresh%>').addClass("badge badge-primary");
        <% if (locals.autorefresh && locals.autorefresh > 0) { %>
            setTimeout("location.reload(true);", 1000 * <%=locals.autorefresh %>);
        <% } %>        
    } else {
        $('#arpanel').hide();
    }

    let cutoff = $('#cutoff-percentage');
    cutoff.on('change', function () {
        let tmp = window.location.href.split('=')
        window.location.href = `${tmp[0]}=${tmp[1]}=${$(this).val()}`
    });
</script>