<form method="POST" action="<%=id_test%>/send">
    <div class="container-fluid card-body card mt-1">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <input id="txtTitle" type="text" name="title" class="form-control" value="Title" />
                <textarea id="txtMessage" name="message" class="form-control" rows="5">
Type your message here.  
<br>You <b>can</b> use HTML.
<br>Test it before sending with test button.
                </textarea>
            </div>
            <div class="col-sm-2">
                <button id="btnTestMessage" type="button" class="btn btn-light btn-outline" >Test</button>
                <button type="submit" class="btn btn-danger btn-outline">Send</button>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3">            
            <button id="btnSelectAll" type="button" class="btn btn-light btn-outline" >Select All</button>
            <button id="btnSelectNone" type="button" class="btn btn-light btn-outline" >Select None</button>
        </div>
    </div>


    <h2><%= title %></h2>
    <%  locals.tabledata = list; %>
    <%- include(`${locals.partialsRoot}/table`) %>
</form>
