<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <script>document.write('<base href="' + document.location + '" />');</script> -->
  <title>
    Exam running, game ON!
  </title>
  <style>
    <%- include(`${locals.partialsRoot}/_style`) %>
  </style>
  <%- include(`${locals.partialsRoot}/_head`) %>


</head>

<body>
  <my-app><i class='fa fa-2 fa-spinner fa-spin'></i> Loading, please wait... </my-app>
  <%- include(`${locals.partialsRoot}/footer`) %>

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="/lib/angular/es6-shim.min.js"></script>
    <script src="/lib/angular/system-polyfills.js"></script>
    <script src="/lib/angular/angular2-polyfills.js"></script>
    <script src="/lib/angular/system.src.js"></script>
    <script src="/lib/angular/Rx.js"></script>
    <script src="/lib/angular/angular2.dev.js"></script>
    <script src="/lib/angular/http.dev.js"></script>


    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('/app/test/boot')
        .then(null, console.error.bind(console));
    </script>

    <%- include(`${locals.partialsRoot}/_body`) %>


</body>

</html>
