<% var reload = false;%>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 nav nav-sidebar">
            <ul class="nav nav-pills flex-column">
                <li  <%  if (!currTestInstanceId) {%> class="active" <%}%>><h4> <a href="/test/instances">Total</a> (<%=  testInstances.length ? testInstances[0].full_name : '' %>)</h4></li>
                <hr>
                <% for (var i = 0; i < testInstances.length; ++i) { %>
                    <% if (testInstances[i].id == currTestInstanceId) { %>
                        <li  class="active"><a href="/test/instances/<%=testInstances[i].id%>"><%=  testInstances[i].title  %></a></li>
                    <% } else { %>
                        <li><a href="/test/instances/<%=testInstances[i].id%>"><%=  testInstances[i].title  %></a></li>
                    <% }%>
                <% } %>
            </ul>
        </div>

        <div class="col-10 main">
            <%if (tests && tests.length) {%>
                <div class="w-100 d-flex justify-content-between">
                  <h4>Total:</h4>
                  <h4>
                    <a href="/analytics/score/student" target="_blank" class="text-info">
                      <i class="fas fa-chart-line"></i>&nbsp;Your stats here</a>
                  </h4>
                  
                </div>
                

                <table class="table table-hover edgar no-dt">
                  <thead>
                    <tr>
                      <%  if (!questions) {%> <th>Title</th><th>Score ignored</th> <%}%>
                      <th>Started</th>
                      <th>Submitted</th>
                      <th>Duration</th>
                      <th>Correct</th>
                      <th>Incorrect</th>
                      <th>Partial</th>
                      <th>Unanswered</th>
                      <th>Score</th>
                      <th>Score %</th>
                      <th>Passed</th>
                      <th>Review</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < tests.length; ++i) { %>
                      <tr>
                        <%  if (!questions) {%> <td><%= tests[i].title    %></td><td><%= tests[i].test_score_ignored%></td> <%}%>
                        <td><%= tests[i].ts_started    %></td>
                        <td><%= tests[i].ts_submitted  %></td>
                        <td><%= tests[i].duration      %></td>
                        <td><%= tests[i].correct_no    %></td>
                        <td><%= tests[i].incorrect_no  %></td>
                        <td><%= tests[i].partial_no    %></td>
                        <td><%= tests[i].unanswered_no %></td>
                        <%  if (tests[i].test_score_ignored) {%>
                          <td><strike><%= tests[i].t_score %></strike></td>
                        <%} else {%>
                          <td><%= tests[i].t_score %></td>
                        <%}%>
                        <td><%= tests[i].t_score_perc    %></td>
                        <td>
                            <%  if (tests[i].passed) {%> <i class="fa fa-check fa-2x" style="color:green"></i> <%}%>
                            <%  if (!tests[i].passed) {%> <i class="fa fa-ban fa-2x" style="color:red"></i> <%}%>
                        </td>
                        <td>
                            <%  if (!tests[i].t_score) {%>
                                <%  reload = true; %>
                                <img src="/images/5s.gif" height="35px" alt="3s countdown">
                            <%  } else if (session.rolename ==='Admin' || session.rolename === 'Teacher' || tests[i].show_review) {%>
                                <form class="form-inline" action="/exam/review/<%=tests[i].id_test_instance%>" method="GET">
                                  <button class="btn btn-outline-success" type="submit">Review</button>
                                </form>
                            <%} else {%>
                              expired
                            <%}%>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
                <%  if (questions && questions.length) {%>
                    <h4>By questions:</h4>
                    <table class="table table-hover edgar no-dt">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Correct</th>
                          <th>Incorrect</th>
                          <th>Partial</th>
                          <th>Unanswered</th>
                          <th>Correction</th>
                          <th>Score</th>
                          <th>Score %</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0; i < questions.length; ++i) { %>
                            <tr>
                                <td><%= questions[i].ordinal   %></td>
                                <td><%  if (questions[i].is_correct) {%> <i class="fa fa-check fa-2x" style="color:green"></i> <%}%> </td>
                                <td><%  if (questions[i].is_incorrect) {%> <i class="fa fa-check fa-2x" style="color:red"></i> <%}%> </td>
                                <td><%  if (questions[i].is_partial) {%> <i class="fa fa-check fa-2x"></i> <%}%> </td>
                                <td><%  if (questions[i].is_unanswered) {%> <i class="fa fa-check fa-2x"></i> <%}%> </td>
                                <td><%= questions[i].correction   %></td>
                                <td><%= questions[i].score   %></td>
                                <td><%= questions[i].score_perc    %></td>
                            </tr>
                        <% } %>
                      </tbody>
                    </table>
                    <hr/>
                    <% if (events) { %>
                      <h4>Event log:</h4>
                      <table class="table table-hover edgar">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Mongo ts</th>
                            <th>Client ts</th>
                            <th>Event name</th>
                            <th>Event data</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for (var i = 0; i < events.length; ++i) { %>
                              <tr>
                                  <td><%= (i+1) %></td>
                                  <td><%= events[i].mongoTs  %></td>
                                  <td><%= events[i].clientTs  %></td>
                                  <td>
                                    <%- `<span ${ (events[i].eventName === "Lost focus") ? 'class="edgar-error"' : ''} > ${events[i].eventName} </span>` %>
                                    <%- (events[i].eventName === "Code exec result received" 
                                          && session.rolename === 'Teacher') 
                                        ?  `<a href="/test/instance/${currTestInstanceId}/details/${events[i].mongoTs.valueOf()}" target="blank"><i class="fa fa-table" aria-hidden="true"></i></a>` 
                                        : '' %>
                                  </td>
                                  <td <%  if (/error/i.test(events[i].eventData) || /warning/i.test(events[i].eventData)) {%> class="alert alert-danger" <%}%>>
                                      <pre><%= ('' + events[i].eventData).replace(/\,/g, ', ') %></pre></td>
                              </tr>
                          <% } %>
                        </tbody>
                      </table>
                    <% } %>
                <%}%>
            <%} else {%>
                No exams so far...
            <%} %>
        </div>

    </div>
</div>

<%  if (reload) {%>
  <script>
   window.onload = setTimeout(function (){window.location.reload(true);}, 5000);
  </script>
<%  }%>

