
<script>
    $("#btnTestMessage").click(function(event) {
        event.preventDefault();
        Swal.fire({
            title: $("#txtTitle").val(),
            icon: 'info',
            html: $("#txtMessage").val(),
            showCloseButton: true,
            showCancelButton: false,
            focusConfirm: false,
            confirmButtonText: '<i class="fa fa-thumbs-up"></i> OK',
            confirmButtonAriaLabel: 'OK'            
        })
    });

    $('table button').click(function (e) {
        e.preventDefault();
        var selectedRow = $(this).closest("tr");
        var selectedRbr = selectedRow.children().first().text();
        var flag = true;
        $("table tr").each(function (idx, htmlItem) {
            var row = $(htmlItem);
            row.find(":checkbox").prop('checked', flag);
            if (row.children().first().text() === selectedRbr) {
                flag = false;
            }
        });

    });
    $('#btnSelectAll').click(function (e) {
        e.preventDefault();        
        $("table :checkbox").prop('checked', true)
    });
    $('#btnSelectNone').click(function (e) {
        e.preventDefault();        
        $("table :checkbox").prop('checked', false)
    });
    
</script>