<h2><%= title %></h2>
<div class="row d-flex justify-space-between mb-3">
    <div class="col-3 d-flex align-items-center">
        <button id="btnSelectAll" type="button" class="btn btn-primary bbtn-outline" >Select All</button>
        <button id="btnSelectNone" type="button" class="btn btn-secondary btn-outline" >Select None</button>
        <button id="btnGenReport" type="button" class="ml-2 mr-1 btn btn-success btn-outline">Grading form</button>
        <a href="/test/instances/manualgrading/stats/<%=id_test%>" class="btn btn-success" role="button"
            target="_blank">
            Grader stats
            <i class="fas fa-chart-line"></i>
        </a>
    </div>
    <div class="col-7">
        <form method="POST" action="/test/manualgrading/setfilter/<%=id_test%>">
            <div class="container-fluid card-block card mt-1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filterFrom">Last name from:</label>
                            <input id="filterFrom" type="text" class="form-control" name="filterFrom"
                                value="<%=session.filter && session.filter.filterFrom%>" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="filterTo">Last name to:</label>
                            <input id="filterTo" type="text" class="form-control" name="filterTo"
                                value="<%=session.filter && session.filter.filterTo%>" />
                        </div>
                    </div>
                    <div class="col-sm-3 d-flex align-items-center">
                        <button type="submit" name="action" value="set" class="btn btn-primary btn-outline">Set filter</button>
                        <button type="submit" name="action" value="clear" class="btn btn-secondary btn-outline ml-1">Clear filter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2 d-flex align-items-center">
        <form method="POST" action="/test/manualgrading/initgrading/<%=id_test%>">
            <button id="btnInitGrading" type="submit" class="btn btn-warning btn-outline"
                edgar_confirm_text='Are you sure? 
            <br>This action will initalize the manual grades with the scores obtained on submission (automated scores). 
            <br>This action is not destructive: if there are already any manual scores they WILL NOT be overwritten.'>Init manual grades with submitted scores</button>
        </form>
        <form method="POST" action="/test/manualgrading/applygrading/<%=id_test%>">
            <button id="btnApplyGrading" type="submit" class="btn btn-danger btn-outline"
                edgar_confirm_text='Are you sure you want to apply manual scores to the test instances? 
            <br>(adjust exam grading models if needed before running this, eg if you used 0 grading model, you can now set actual max scores) 
            <br> This will erase any prior scores for this test for the entire population and set the score to the manually assigned scores (if any)!'>Apply manual grading</button>
        </form>
        
    </div>
</div>



    <%  locals.tabledata = list; %>
    <%- include(`${locals.partialsRoot}/table`) %>

