<script src="/libs/codemirror/addon/mode/overlay.js"></script>
<script src="/libs/codemirror/mode/javascript/javascript.js"></script>

<script type="text/javascript">
$("textarea").each(function (idx, elem) {
    CodeMirror.fromTextArea(elem, {
        lineNumbers: true,
        indentUnit: 2,
        tabSize: 2,
        lineWrapping: true,
        mode: "text/javascript",
        theme: "<%= session.cmSkin %>",
        readOnly: false,
        viewportMargin: Infinity
    });
});
</script>