<div class = "container">
  <div *ngIf="currQuestion.displayOption=== 'horizontal'; else vertical">
    <div class="horizontal-container nowrap">
      <div
        class="ordered-element correct"
        *ngFor="let a of getElementsCorrect()"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
      ></div>
    </div>
    <div class="horizontal-container nowrap">
      <div
        class="ordered-element"
        *ngFor="let a of getElementsStudent()"
        [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
      ></div>
    </div>
  </div>
  <ng-template #vertical>
    <div class="d-flex justify-content-around">
      <div class="vertical-container">
        <div
          class="ordered-element correct"
          *ngFor="let a of getElementsCorrect()"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
        ></div>
      </div>
      <div class="vertical-container">
        <div
          class="ordered-element"
          *ngFor="let a of getElementsStudent()"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(a.aHtml)"
        ></div>
      </div>
    </div>
  </ng-template>
</div>
