<div
  *ngIf="currQuestion && !currQuestion.isScaleQuestion()"
  class="edgar-q-content"
  [innerHTML]="
    currQuestion && currQuestion.content
      ? sanitizer.bypassSecurityTrustHtml(currQuestion.content)
      : 'please wait...'
  "
></div>

<question-attachments [currQuestion]="currQuestion"></question-attachments>
<file-upload
  *ngIf="
    currQuestion &&
    currQuestion.uploadFilesNo > 0 &&
    examService.getExam().upload_file_limit > 0
  "
  [currQuestion]="currQuestion"
  [uploadFileLimit]="examService.getExam().upload_file_limit"
>
</file-upload>
